<div class="listPage">
  <app-operation [pageRouting]="routingId" [pageData]="pageData"></app-operation>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 proList">
  <div class="row list-row-alignment mt-5 pt-4">
    <div class="col-lg-2 col-md-5 col-sm-6 col-12" *ngIf="filterData && filterData.length > 0">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-4 col-4 align-filter-space">
          <app-filter *ngIf="filterData" [filter]="filterData" (goFilter)="getFilter($event)"></app-filter>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
    <div *ngIf="msg!='No Records' && msg!='Record Not Found'; else elseblock" [ngClass]="{'col-lg-10':filterData && filterData.length != 0, 'col-lg-12':filterData && filterData.length == '0'}">
      <app-grid-list *ngIf="result" [count]='licenseCount' [detailsData]="details" [pageData]="pageData"
        [gridListPanelData]="result"></app-grid-list>
    </div>
    <ng-template #elseblock>
      <div *ngIf="msg!='Record Not Found'; else noResult" class="text-center else-padding col-lg-10">Currently there
        are no records in your account.</div>
    </ng-template>
    <ng-template #noResult>
      <div class="text-center else-padding col-lg-10">No Results Found</div>
    </ng-template>
  </div>
</div>