.show {
  display: block !important;
}

.advancedSearch-modal {
  position: absolute;
  top: -30px !important;
  z-index: 1;
  background: #fff;
  width: 50%;
  border: 1px solid #000;
  transform: translate(-32%, 0%);
  left: 53.4%;
  right: 47%;
}

.hideField {
  display: none;
}

.text-center {
  font-family: "LatoRegular";
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin-top: 5%;
  // margin-left: 16%;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 1.6; */
  letter-spacing: normal;
  text-align: center;
  color: #b4b4b4;
}

.table-padd {
  padding-top: 20px;
  padding-left: 30px;
}

.contact_viewlink {
  margin-right: 7px;
}

.contact_editlink {
  padding: 0 4px;
}

table {
  border-collapse: collapse;
}

.sorting {
  background: url("/assets/images/sort_both.png");
}

.sorting-asc {
  background: url("/assets/images/sort_asc.png");
}

.sorting-desc {
  background: url("/assets/images/sort_desc.png");
}

.sorting,
.sorting-asc,
.sorting-desc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.list-table-alignment {
  overflow-x: auto;
}

.modal-title {
  margin: 0 34%;
}


@media screen and(min-width: 320px) and (max-width: 767px) {

  .proList {
    // padding: 0px 12px 0 8px;
    padding-left: 8px;
    padding-right: 12px;
    margin-top: 40px !important;
  }

  .align-filter-space {
    max-width: 200px;
    flex: 0 0 200px;
  }

  .mt-5,
  .pt-4 {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}


// @media only screen and (min-width: 600px) and (max-width: 1024px) {
//   .proList {
//     padding: 0px 39px 0 0px;
//     margin-top: 63px !important;
//   }
// }
// @media only screen and (min-width: 320px) and (max-width: 560px) {
//   .proList {
//     padding: 0px 39px 0 0px;
//     margin-top: 63px !important;

//   }
// }

/** Tab responsive done by lakshmanan**/
@media screen and(min-width: 992px) and (max-width: 1200px) {

  .proList {
    // padding: 0px 12px 0 8px;
    padding-left: 8px;
    padding-right: 12px;
    margin-top: 40px !important;
  }

  .align-filter-space {
    max-width: 200px; 
    flex: 0 0 200px;
  }

}

/** Tab potrait responsive done by lakshmanan**/
@media screen and(min-width: 768px) and (max-width: 992px) {

  .proList {
    width: 94%;
  }
  .list-row-alignment {
    width: 99% !important;
  }
}