<ngx-spinner bdOpacity=0.9 bdColor="rgba(39,39,27,0.35)" size="large" color="rgba(238,217,12,0.97)" type="ball-spin-clockwise"></ngx-spinner>
<div class="create-project">
  <!-- <form [formGroup]="form" *ngIf="panels" autocomplete="off"> -->
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <div class="row">
      <div class="col-lg-12">
        <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
      </div>
      <div *ngIf="panels" class="col-lg-12 col-md-12 col-sm-12 col-12 panels panelleft ">
        <div *ngFor="let item of panels" class="col-md-12 col-sm-12 col-12 create_input_alignment">

          <form [formGroup]="form" autocomplete="off">
            <div *ngIf="item.type == 'simple'; else elseBlock">
              <div class="sideHeader proj-list">
                <!-- <h2>{{item.panelName}}</h2> -->
              </div>
              <div *ngFor="let formItem of item.items" class="row grid_alignment" [ngClass]="{'switch-padding':formItem.label  != 'Notification switch'}">
                <!-- {{formItem | json}} -->
                <app-input-textbox class="col-lg-12" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                  [hidden]="formItem.name == 'projectId' || formItem.name == 'licenseDistribution'" [inputData]="formItem"
                  [pageData]="panelData" [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                </app-input-textbox>
                <app-input-selectbox class="col-lg-12" *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                  [selectData]="formItem" [pageData]="panelData" [form]="form" (notifySelect)="onhandleUserUpdated($event)">
                </app-input-selectbox>


                <app-datepicker class="col-lg-12" *ngIf="formItem.htmlTag == 'datepicker'" [datePickerData]="formItem"
                  [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                </app-datepicker>
              </div>
            </div>
          </form>
          <ng-template #elseBlock>
            <div class="sideHeader proj-list">
              <!-- <h2>{{item.panelName}}</h2> -->
            </div>
            <div *ngFor="let formItem of item.items">
             <!-- {{formItem | json}} -->
              <app-input-radio-button *ngIf="formItem.label == 'frequency'"  [myselectedVal]="formItem.value" [radioButtonData]="formItem" [form]="form" (notifyInput)="onhandleUserUpdated($event)"></app-input-radio-button>
             
              <div class="row col-lg-12 col-12 " *ngIf="formItem.type == 'check'">
                <div class="col-lg-4 col-md-3 col-sm-4 col-12 off-days" *ngIf="formItem.label != 'Alert Days'">
                  <label>{{formItem.label}}</label>
                </div>
                <div class="row col-lg-8 col-md-9 col-sm-8 col-12 align-off-days" [ngClass]="{'block-display':formItem.label  === 'Notification Details'}">
                  <div class="col-lg-2 col-sm-6 col-6 checkbox" [ngClass]="{'checkbox-width':formItem.label  === 'Notification Type', 'checkbox-padding': subItem.label === 'In Application'}" *ngFor="let subItem of formItem.subItem">
                    <input [disabled]="subItem.disableBox || (userRole && formItem.label == 'Off Days') " id="{{subItem.name}}"
                      type="checkbox" [(ngModel)]="subItem.value" [name]="subItem.name" (click)="checkChekbox(formItem.subItem, formItem, subItem, subItem.node)">
                    <label [ngClass]="{'label-width':formItem.label  === 'Notification Details'}" for="{{subItem.name}}">{{subItem.label}}</label>
                  </div>
                </div>
              </div>              

              <div class="row col-lg-12 float-days">
                <!-- <div class="col-lg-4 text-right">
                      <label></label>
                    </div>
                    <div class="row col-lg-6" style="margin: 0 0 0 20px;padding: 0px;"> -->
                <!-- <input type="text" class="form-control"> -->


                <app-input-textbox class="col-lg-12 col-md-12 col-sm-12 col-12 " *ngIf="formItem.htmlTag == 'input'" [inputData]="formItem"
                  [pageData]="panelData" [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                </app-input-textbox>
                <!-- </div> -->
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- </form> -->
</div>