<div *ngIf="inputData" class="row">
  <div class="col-lg-4 app-input-label">
    <label>{{inputData.label}}<span class="required" *ngIf="inputData.validation && inputData.validation.required">*</span></label>
  </div>
  <div class="col-lg-6 app-input-field">
    <ng-select [items]="companyList"
    bindLabel="name" [(ngModel)]="inputData.value" [name]="inputData.name" [formControl]="form.controls[inputData.name]"
      [readonly]="inputData.readOnly" [ngClass]="{'disabled-input': inputData.readOnly === true, 'enabled-input': inputData.readOnly === false} "
      [id]="inputData.name">
      <ng-option value="">Company</ng-option>
      <!-- <ng-option *ngFor="let item of companyList" value="{{item.name}}">{{item.name}}</ng-option> -->
      <!-- <ng-template ng-tag-tmp let-search="searchTerm">
        <b>create new</b>
    </ng-template> -->
    </ng-select>
    <span class="alert alert-danger input-absolute" *ngIf="form.controls[inputData.name].errors && form.controls[inputData.name].touched">
      <span [hidden]="!form.controls[inputData.name].errors.required"> {{inputData.label}} is {{validation.required}}.</span>
    </span>
  </div>
</div>