.ng-select {
    .ng-select-container {
        .ng-value-container {
            .ng-input {
                input {
                    display: none;
                }
            }
        }
    }
}