
.company {
    margin-top: 53px;
    

    .companies-grid {
        //margin: 55px 27px 0 -24px;
    }

    // margin: 0px;
    // padding: 0px;
    .available-company {
        margin-right: 0.5px;
        //top: -28px;


        table {
            border-right: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;

            thead {
                background-color: #fcf0c3;

                tr {
                    th {
                        padding-left: 25px !important;
                        height: 60px;
                        padding: 0px;
                        vertical-align: middle;

                        .input-width {
                            width: 70% !important;
                            float: left;
                        }
                    }
                }
            }

            tbody {
                tr {
                    font-family: LatoRegular;

                    // text-transform: capitalize;
                    td {
                        padding: 0px 0px 0px 12px;
                        height: 50px;
                        vertical-align: middle;
                        border-bottom: 1px solid #dee2e6;

                        .search-value {
                            .company-name {
                                padding-left: 30px;
                                padding-top: 5px;
                                font-size: 14px !important;
                                // line-height: 27px;
                                vertical-align: middle;
                            }

                            .cus-add-btn {
                                padding: 2px 15px;
                                background-color: #243d66 !important;
                                border-color: #243d66 !important;
                                color: #fff !important;
                                border-radius: 0 !important;
                                cursor: pointer;
                                font-size: 14px;
                                outline: none;
                            }

                            .is-available {
                                cursor: not-allowed !important;
                                background-color: #e6e6e6 !important;
                                border-color: #e6e6e6 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .added-company {
        margin: 0px 0 0 -3px;

        // z-index: -1;
        table {
            border-right: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;

            thead {
                background-color: #fcf0c3;

                tr {
                    th {
                        // padding: 18px 0px 17px 0px !important;
                        padding-left: 25px !important;
                        vertical-align: middle;
                        height: 60px;
                        padding: 0px;
                        font-family: LatoSemiBold;
                        //text-transform: capitalize;
                    }
                }
            }
        }

        tbody {
            tr {
                font-family: LatoRegular;

                td {
                    padding: 0px 0px 0px 12px;
                    height: 50px;
                    vertical-align: middle;

                    .added-company-list {
                        .company-name {
                            padding-left: 30px !important;
                            padding-top: 5px;
                            font-size: 14px !important;
                            // line-height: 27px;
                            vertical-align: middle;
                        }

                        .company-operation {
                            margin-top: 0px !important;

                            .company-delete {
                                cursor: not-allowed !important;
                            }

                            .is-available {
                                pointer-events: none;
                            }

                            .delete-company {
                                cursor: pointer;
                            }

                            .company-role {
                                .company-select {
                                    height: calc(1.55rem + 2px) !important;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.50rem + 2px) !important;
}

#companyNotFound {
    .modal-dialog {
        max-width: 430px;
        margin: 17.75rem auto;
        left: -140px;

        .modal-content {
            .modal-header {
                padding: 9px 0px 0px 16px;
                border-bottom: none !important;

                .modal-title {

                    img {
                        width: 28px;
                        margin-top: -4px;
                        margin-right: 15px;
                    }
                }
            }

            .modal-footer {
                padding: 0px 27px 10px 0px;
                margin: -8px -117px -5px 3px;
                width: 100%;
                border-top: none !important;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #companyNotFound {
        .modal-dialog {
            max-width: 430px !important;
            margin: 17.75rem auto !important;
            left: -140px;

            .modal-content {
                .modal-header {
                    margin: -9px 0px -15px 0px;
                    border-bottom: none !important;

                    .modal-title {
                        img {
                            width: 28px;
                            margin-top: -4px;
                            margin-right: 15px;
                        }
                    }
                }

                .modal-footer {
                    border-top: none !important;
                }
            }
        }
    }
}

body {
    background-color: #f1f1f1;
    font-family: Helvetica, Arial, Verdana;
    margin: -18px 0px 10px 0px;
}

h1 {
    color: green;
    text-align: center;
}

.redfamily {
    color: red;
}

.search-box {
    position: relative;
    padding: 8px;
}

.close-icon,
.search-wrapper {
    position: relative;
    padding: 10px;
}

.search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    //background-color: #FA9595;
    z-index: 1;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    //border-radius: 50%;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 15px;
    //box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search-box:not(:valid)~.close-icon {
    display: none;
}

//<<<<<<< HEAD
.associate-companies {
    margin: 0px;
}

//=======

.createComp {
    margin: 10px auto !important;
    padding-right: 6px !important;
}

.cus-btn-danger {
    padding: 4px 15px;
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    color: #fff !important;
    border-radius: 0 !important;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    //>>>>>>> license
}

@media only screen and (min-width:768px)and (max-width:991px) {
    AddCompany-popup {
        display: block;
        width: 48%;
        margin: 0px 0px 0px 144px;
        padding: 0px;
        height: 84%;
    }
}


@media only screen and(max-width: 576px) {
    .table-body-content {
        display: none;
    }

    #companyNotFound {
        .modal-dialog {
            max-width: 90% !important;
            margin: 0 auto !important;
            top: 142px;
            left: 0px;
        }

        .modal-header {
            .modal-title {
                font-size: 20px;
            }

            padding: 9px 10px 0px 10px;
        }
    }

}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .addNewCompany {
        left: 3.7rem;
        max-width: 86%;
    }

    .myContent {
        right: 10px;
    }

    .newCompany {
        margin-top: 85px !important;
        margin-left: 1.8rem;
    }

    .company {
        width: 99.9% !important;
        margin-top: 53px;
        ;
        margin-left: 1.8rem;
        ;
    }

    .edit-company {
        cursor: pointer;
        margin-left: -1rem;
    }

    .delete-company {
        cursor: pointer;
        margin-left: 0.3rem;
    }

    .email:hover+span {
        display: block;
    }

    .emailHover {
        z-index: 99;
        position: absolute;
        background-color: black;
        width: 115%;
        display: none;
        color: white;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    .email {
        white-space: nowrap;
        width: 113%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #companyNotFound {
        .modal-dialog {
            max-width: 430px;
            margin: 17.75rem auto;
            left: -140px;

            .modal-content {
                width: 110%;
                bottom: 13rem;
                left: 6rem;
                padding-bottom: 25px;

                .modal-body {
                    position: relative;
                    flex: 1 1 auto;
                    padding: 1rem;
                    border-bottom: 1px solid #e9ecef !important;
                }

                .modal-header {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 1rem;
                    border-bottom: 1px solid #e9ecef !important;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;

                    .modal-title {

                        img {
                            width: 28px;
                            margin-top: -4px;
                            margin-right: 15px;
                        }
                    }
                }

                .modal-footer {
                    padding: 0px 27px 10px 0px;
                    margin: 15px -117px -5px 3px;
                    width: 100%;
                    border-top: none !important;
                }
            }
        }
    }

}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .tradePage {
        margin-top: 30px !important;
        margin-left: 1.8rem;
    }
    .addNewCompany {
        left: 3.7rem;
        max-width: 79%;
    }

    .myContent {
        right: 10px;
        left: 29px !important;
    }

    .newCompany {
        position: relative;
        top: 3.4rem;
        margin-top: 0px !important;
        margin-left: 1.8rem;
    }

    .company {
         margin-top: 30px;
        margin-left: 1.8rem;
    }

    .edit-company {
        cursor: pointer;
        margin-left: -1rem;
    }

    .delete-company {
        cursor: pointer;
        margin-left: 0.3rem;
    }

    .email:hover+span {
        display: block;
    }

    .emailHover {
        z-index: 99;
        position: absolute;
        background-color: black;
        width: 115%;
        display: none;
        color: white;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    .email {
        white-space: nowrap;
        width: 113%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #companyNotFound {
        .modal-dialog {
            max-width: 430px;
            margin: 17.75rem auto;
            left: -140px;

            .modal-content {
                width: 110%;
                bottom: 13rem;
                left: 6rem;
                padding-bottom: 25px;

                .modal-body {
                    position: relative;
                    flex: 1 1 auto;
                    padding: 1rem;
                    border-bottom: 1px solid #e9ecef !important;
                }

                .modal-header {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 1rem;
                    border-bottom: 1px solid #e9ecef !important;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;

                    .modal-title {

                        img {
                            width: 28px;
                            margin-top: -4px;
                            margin-right: 15px;
                        }
                    }
                }

                .modal-footer {
                    padding: 0px 27px 10px 0px;
                    margin: 15px -117px -5px 3px;
                    width: 100%;
                    border-top: none !important;
                }
            }
        }
    }
    table {
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;

        thead {
            background-color: #fcf0c3;

            tr {
                th {
                    padding-left: 20px !important;
                    height: 60px;
                    padding: 0px;
                    vertical-align: middle;

                    .input-width {
                        width: 70% !important;
                        float: left;
                    }
                }
            }
        }

        tbody {
            tr {
                font-family: LatoRegular;

                // text-transform: capitalize;
                td {
                    padding: 0px 0px 0px 12px;
                    height: 50px;
                    vertical-align: middle;
                    border: 1px solid #dee2e6;

                    .search-value {
                        .company-name {
                            padding-left: 16px !important;
                            padding-top: 5px;
                            font-size: 14px !important;
                            // line-height: 27px;
                            vertical-align: middle;
                        }

                        .cus-add-btn {
                            padding: 2px 15px;
                            background-color: #243d66 !important;
                            border-color: #243d66 !important;
                            color: #fff !important;
                            border-radius: 0 !important;
                            cursor: pointer;
                            font-size: 14px;
                            outline: none;
                        }

                        .is-available {
                            cursor: not-allowed !important;
                            background-color: #e6e6e6 !important;
                            border-color: #e6e6e6 !important;
                        }
                    }
                }
            }
        }
    }


}
