<div class="create-project">
    <div *ngIf="!panels; else elseTableBlock">
      <app-loader></app-loader>
    </div>
    <ng-template #elseTableBlock>
      <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
      <div class="company" [ngClass]="{'newCompany': router.url == '/authenticate/edit/project/company', 'tradePage': router.url == '/authenticate/edit/project/trade' }">
        <div class="row companies-grid">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 available-company" style="padding:0px">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <input type="text" class="search-box input-width form-control focus" [(ngModel)]="newCompany" (keyup)="searchCompany(newCompany)" id="system-search" name="" placeholder="Enter Company Name" autofocus>
                  <button *ngIf="newCompany" (click)="clearCompany()" class="close-icon" type="reset"></button>
                </th>
              </tr>
            </thead>
            <tbody class="table-body-content" *ngIf="companyChecked">
              <tr class="available-comapany-row" *ngFor="let item of availableCompany">
                <td>
                  <div class="row search-value">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 company-name">
                      {{item.name}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 text-center">
                      <button type="button" [disabled]="item.isAvailable" [class.is-available]="item.isAvailable"  class="btn cus-add-btn" (click)="addCompany(item)">Add</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="no-result-found"></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 added-company" style="padding:0px">
          <table class="table associate-companies">
            <thead>
              <tr>
                <th>
                  Companies associated with the project
                </th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of addedCompany.projectCompanies; let i = index">
                <td>
                  <div class="row added-company-list">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-4 company-name">
                      <p class="m-0 email">{{item.name}}</p>
                      <span class="m-0 emailHover">{{item.name}}</span>
                      <!-- {{item.name}} -->
                    </div>
                    <div class="row col-lg-7 col-md-7 col-sm-7 col-8 company-operation">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-6 company-role">
                        <select class="form-control company-select" [(ngModel)]="item.projectRole" (change)="constractorChange(item, i)" id="sel1">
                          <option *ngFor="let contractorItem of constructors" value="{{contractorItem}}" >{{contractorItem}}</option>
                        </select>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-2 edit-company">
                        <img src="assets/images/edit.png" (click)="editCompany(item.id)">
                      </div>
                      <!-- [class.company-delete]="item.isAvailable" -->
                      <div *ngIf="!item.isProjectCompany && !item.lookaheadAvailable && !item.projectUserAvailable"  class="col-lg-2 col-md-2 col-sm-2 col-2 delete-company" [class.company-delete]="item.isProjectCompany">
                     <i title="delete"> <img [class.is-available]="item.isProjectCompany" (click)="removeCompany(i)" src="assets/images/delete.png"></i>   
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </ng-template>
</div>
<!-- <div class="modal" id="companyNotFound" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title"><span><img src="assets/images/info_icon2.png" /></span> <span>Company does not exist</span></h4>
      </div>
      <div class="modal-body">
        The Company {{newCompany}}. does not exist. Create the company? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger cus-btn-danger" data-dismiss="modal" (click)="clearCompany()">Cancel</button>
        <button type="button" class="btn btn-danger cus-btn-danger" data-dismiss="modal" (click)="getCreateCompanyJson()">Ok</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal" id="companyNotFound" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span><img src="assets/images/info_icon2.png" /></span> <span>Company does not exist</span></h4>
      </div>
      <div class="modal-body">
        The Company {{newCompany}}. does not exist. Create the company? 
      </div>
      <!-- [routerLink]="['/authenticate/create/project/new-company']" -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger cus-btn-danger" data-dismiss="modal" (click)="clearCompany()">Cancel</button>
        <button type="button" class="btn btn-danger cus-btn-danger" data-dismiss="modal" (click)="getCreateCompanyJson()">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="modal AddCompany-popup" id="createCompanyPopup" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Add Company</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body myContent">
        <form [formGroup]="form" *ngIf="panels" autocomplete="off">
          <div *ngIf="!panels; else elseUserBlock">
            <app-loader></app-loader>
          </div>
          <ng-template #elseUserBlock>
            <div *ngIf="panels">
              <div class="row col-lg-4 float-right btnDiv"></div>
              <div *ngFor="let item of panels">
                <div *ngIf="item.type == 'simple'">
                  <div *ngFor="let formItem of item.items" [class.displayInput] = "formItem.fieldType == 'hidden'"  class="grid_alignment" style="padding: 10px 0px;">
                    <app-input-textbox class="description-focus" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'" 
                      [hidden]="formItem.fieldType == 'hidden'" [inputData]="formItem" [pageData]="panelData" [form]="form" 
                      (notifyInput)="onhandleUserUpdated($event)">
                    </app-input-textbox>
                    <app-input-selectbox class="col-lg-12" *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                      [selectData]="formItem" [pageData]="panelData" [form]="form" 
                      (notifySelect)="onhandleUserUpdated($event)">
                    </app-input-selectbox>
                    <app-datepicker class="col-lg-12" *ngIf="formItem.htmlTag == 'datepicker'" 
                      [datePickerData]="formItem" [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                    </app-datepicker>
                    <app-input-ngselect class="col-lg-12" *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem" [form]="form" [pageData]="panelData"></app-input-ngselect>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 popup-btn-margin createComp" *ngIf="operationBtn" >
                <div class="row">
                  <div class="col-lg-12 text-right addNewCompany" *ngFor="let item of operationBtn.ComponentItem">
                    <app-button [panelData]="panelData" (click)="clearCompany()" [buttonData]="item" [form]="form"></app-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>