
<div class="">
  <app-operation [pageRouting]="routingId" [pageData]="pageData"></app-operation>
  <!--<app-pagination *ngIf="pagination"  (goPagination)=getPaginationData($event)></app-pagination>-->
</div>

<div class="row col-lg-12">
  <app-grid-view *ngIf="result" [gridViewPanelData]="result"></app-grid-view>    
</div>
