<!-- <ngx-spinner
bdOpacity = 0.9

bdColor = "rgba(39,39,27,0.35)"
size = "medium"
color = "rgba(13,130,222,0.97)"
type = "ball-spin-clockwise"></ngx-spinner> -->

<header>
  <div class="container-fluid header-fixed">
    <div class="row manageMargin">
      <div class="col-lg-6 col-md-5 col-sm-7 col-7 wenP">
        <img (click)="pageRoute('landing')" src="assets/images/new-logo.svg">
      </div>
      <div *ngIf="router.url == '/landing'" class="col-lg-6 col-md-7">
        <div class="row">
          <div class="col-lg-4 col-md-3 buttonsBorderRight">
            <input type="submit" class="signBt" [routerLink]="['/registration']" name="signup" value="Sign Up" />
          </div>
          <div class="col-lg-4 col-md-3 buttonsBorderRight">
            <input type="submit" class="loginBt" [routerLink]="['/login']" name="login" value="Login" />
          </div>
          <div class="col-lg-4 col-md-3 resourceAlign">
            <li class="resourceBt" name="resources">
              <a href="https://wenplan.com/support/" target="blank">Support</a></li>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-5 col-5 userDropdown" *ngIf="router.url != '/landing' && !router.url.match('/login') && !router.url.match('/registration') && !router.url.match('/comfirmation') && !router.url.match('/forgotPassword')">
        <div class="col-lg-9 col-md-9 general-contractor">
          <div class="col-lg-6 col-md-6 text-right hide-label" style="padding: 0px;" *ngIf="router.url == '/authenticate/list/project'">
            <label>Select Company</label>
          </div>
          <div class="gc-option col-lg-6 col-md-6 col-sm-8" *ngIf="router.url == '/authenticate/list/project'">
            <select class="form-control multiple-gc" [(ngModel)]="gcCompany" id="sel1" (change)="getCreateCompanyName(gcCompany)">
              <option *ngFor="let item of localGcCompany" value="{{item.userId}}">{{item.companyName}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 hide-label">
          <span class="userIcon latter-icon dropdown dropdown-toggle" id="user-pro" data-toggle="dropdown">
            <div *ngIf="userDetails" class="cus-tooltip" title="{{userDetails.firstName +' '+ userDetails.lastName}} {{userDetails.email}}"
              style="cursor:pointer">{{firstChar}}</div>
          </span>
          <span>
            <ul class="dropdown-menu" id="user-pro">
              <li class="logOut" (click)="headerUrl('changePassword')">Change Password</li>
              <!-- [routerLink]="['./authenticate/changePassword']" -->
              <!-- [routerLink]="['./authenticate/edit-profile']" -->
              <li class="logOut" (click)="headerUrl('edit-profile')">Edit Profile</li>
              <li class="logOut" (click)="logout()" [routerLink]="['/landing']">Logout</li>
            </ul>
          </span>
        </div>
        <!-- <div *ngIf="popIn" class="tooltip-as-div">
  (mouseover)="nameHover()" (mouseout)="nameHover()" 
  <p>{{userDetails.firstName +' '+ userDetails.lastName}}</p>
  <p>{{userDetails.email}}</p>
  </div> -->
      </div>
    </div>
    <div class="col-lg-12 col-12 full-width bg-blue">
      <div class="yellow-head">
        <div class="row">
          <div class="col-lg-5 col-2 humburger-menu" *ngIf="router.url != '/landing' && !router.url.match('/login') && !router.url.match('/registration') && !router.url.match('/comfirmation') && !router.url.match('/forgotPassword')">
            <img (click)="openNav()" src="assets/images/hamburger_menu.svg">
          </div>
          <div class="col-lg-7 col-9 col-sm-7 col-md-9 trial-period" *ngIf="router.url != '/landing' && !router.url.match('/login') && !router.url.match('/registration') && !router.url.match('/comfirmation') && !router.url.match('/forgotPassword')">
            <div class="col-lg-6 col-12 col-sm-6 col-md-6">
              <p *ngIf="userDetails && userDetails.trial" class="show-trial">You are in trial, {{userDetails.days}}
                day(s) left
              </p>
            </div>
                 <div class="col-lg-6 user-company-name" *ngIf="router.url == '/authenticate/list/project'">
              <p class="text-right company-name">{{gcCreateCompany}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="mySidenav" class="sidenav">
  <ul>
    <li style="height: 69px">
      <a class="closebtn" (click)="closeNav()"><img src="assets/images/close.png"></a>
      <!-- <div class= "userIcon latter-icon" style="cursor:pointer">{{firstChar}}</div> -->
      <a *ngIf="userDetails && listFormobile" class=" firstLatter" style="top: -29px;
    right: -17px;
    padding: 0px 0px 0px 0px;
    margin: -1px 4px 15px 13px;
    position: relative">{{firstChar}}</a>

      <a style="position: relative;
    top: -80px;
    right: -65px;" *ngIf="userDetails && listFormobile">{{userDetails.email}}</a>
    </li>
    <li><a (click)="routeNav('project')">Projects</a></li>
    <li><a (click)="routeNav('company')">Company Directory</a></li>
    <li><a (click)="routeNav('user-permission')">People Directory</a></li>
    <li><a (click)="routeNav('license')">Licenses</a></li>
    <li *ngIf="superAdminLogin"><a (click)="routeNav('plan')">License Plans</a></li>
    <li *ngIf="superAdminLogin"><a (click)="routeNav('user-log')">User Log</a></li>
    <!-- <li *ngIf="superAdminLogin"><a (click)="routeNav('user-log')">User Log Test</a></li> -->
    <li *ngIf="listFormobile"><a (click)="headerUrl('changePassword')">Change Password</a></li>
    <li *ngIf="listFormobile"><a (click)="headerUrl('edit-profile')">Edit Profile</a></li>
    <li *ngIf="listFormobile"><a (click)="logout()" [routerLink]="['/landing']">Logout</a></li>
  </ul>
</div>