.header {
    height: 110px;
    background: #006699;
    padding: 0 0px;
}

.header_search_section {
    margin: 0 auto;
    float: left;
}

.logo {
    float: left;
}

.logo h1 {
    color: #fff;
    text-align: right;
    font-size: 55px;
    padding: 20px 0;
    margin-right: 0px;

}

.header_search_row {
    padding: 28px 0px;
}

.icons {
    padding-top: 0px;

}

.user_logout {
    border: 0.5px solid white;
    border-radius: 4px;
}

.user_style {
    float: right;
    padding-right: 19px;
    padding-top: 9px;
}

.icons i {
    padding-left: 41px;
}

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
}

#myInput {
    color: black;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#myInput:focus {
    outline: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

// .show {display: block;}

.edit-profile-btn {
    position: relative;
}

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 0px !important;
    border-radius: 0 5px 5px 0;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.arrow {
    margin-top: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    right: 22%;
    left: auto;
}

.search_form_style {
    position: relative;
}

.dropbtn {
    background-color: #70a7e2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 163px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #70a7e2;
}

.logout {
    margin-left: 60px;
    padding: 4px 16px;
    border: 1px solid white;
}



.search_form_style {
    position: relative;
}

.disable-logout {
    cursor: not-allowed !important;
    pointer-events: none;
}

.language_selectpicker {
    float: right;
    margin: 10px 0;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.bg-blue {
    background: #f4c20d;
    color: white;
    height: 50px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.signBt {
    border: none;
    background: none;
    color: #898989;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-family: 'LatoRegular';
    font-weight: 500;
}

.loginBt {
    border: none;
    background: none;
    color: #898989;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-family: 'LatoRegular';
    font-weight: 500;
}

.resourceBt {
    border: none;
    background: none;
    color: #898989;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-family: 'LatoRegular';
    font-weight: 500;
    list-style: none;

    a {
        color: #898989;
    }
}

.buttonsBorderRight {
    text-align: center;
    margin: 18px 0px;
    border-right: 1px solid #898989;
}

.resourceAlign {
    margin: 18px 0px;
    text-align: center;
}

.sideHeading {
    font-size: 24px;
    color: #243d66;
    font-family: lato;
    cursor: pointer;
    outline: none;
}

.wSign {
    font-size: 18px;
    padding: 7px 9px;
    background-color: #3e47cb;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-family: 'RalewayRegular';
    text-align: center;
    margin: 11px 26px;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
}

.bg-gray {
    background: #ebebeb;
    height: 40px;
    margin: -8px 0;
}

.manageMargin {
    margin-right: 0px !important;
    background-color: #fff;
}

.userDropdown {
    margin-top: 16px;
    padding-right: 30px;
    display: flex;

    //text-align: right;
    .userIcon {
        padding: 0px;
    }

    //padding-left: 15%;
}

.dropdown-toggle {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: 'LatoRegular';
    font-size: 14px;
    color: #707070;
}

.dropdown-toggle::after {
    margin-left: 10px !important;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.logOut {
    outline: none;
    margin: 0 12px;
    cursor: pointer;
    font-size: 14px;
    color: #707070;
    padding: 4px 0px;
}

.dropdown-menu {
    right: -30px !important;
}

// Search Box CSS

.search-div {
    margin-top: -49px;
    margin-left: 60px;


}

.left-menu {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAcCAYAAADr9QYhAAAABHNCSVQICAgIfAhkiAAAARNJREFUSInt1TFKA1EUheH/vJkiDoKtpUpAwUaxGsXWxlpbbTJVChdhnyKFkCKQHdgJLsCIENBaiGsIaDJN5lhN4wLyJMy3gfsX93K1kxcHScpQkBOBbSO92r5Nk4RHwX6MEABJAnLBKCC2Y4X8cRhkerErAAxDAeyeFhdJIAcUo2NZMf56GTxHmN1orKn/cNpUeFEu1E/b50UPuIsRUQuIjYzjAO7EDKkJLgPmKXYIgPFbOl/oppX5MzjeO6jEuJzrPsLsRmNNCWDvpNgKmY+wV37ay5BU+vHHdDKYqX3WuXZgJNRadUjNuLS5ShEPMUMAhFqIfjD6jhlSE2yGCnWNy5ghxqUrdaMvMJKrud6nk8HsF3DjXO6jTjHZAAAAAElFTkSuQmCC');
    width: 35px;
    height: 28px;
    border: none;
    margin-left: 21px;
    margin-top: 12px;
    background-color: #f4c20d;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.left-dropdown {
    width: 85.5px;
    height: 35px;
    border: none;
    margin-left: 60px;
    background-color: #c8c8c8;
    font-family: 'LatoRegular';
    font-size: 8;
    font-size: 16px;
    letter-spacing: normal;
    padding-left: 12px;
    outline: none;
    text-align: left;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAABHNCSVQICAgIfAhkiAAAAJZJREFUGJWN0KEOQXEcxfE7pphio4qmSKpu8wTmIRRF0LyD4BE8gSAwRZNkkxWbZrOP4H/nv7m714nne85vv50EdSxQTgqEBg7opsbWRzvUc4ptXEP2mJo93IJ5QSej2Mc9ZE5oxrCFc4APDCM2wjOwPapZb9WwCaEXZpj7ao1K3iAlrPxqWTRmfGQSFad/F6MDA4zzMm8aa8zYVen8eAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: right 13px bottom 12px;
    cursor: pointer;

}

.left-dropdown .select-down-arrow {
    border: 1px solid red;
}

// .search-div :after{
//     content: '\f078';
//     font: normal normal normal 17px/1 FontAwesome;
//     color: #0ebeff;
//     right: 11px;
//     top: 6px;
//     height: 34px;
//     padding: 15px 0px 0px 8px;
//     border-left: 1px solid #0ebeff;
//     position: absolute;
//     pointer-events: none;
// }
.search-btn {
    width: 78px;
    height: 35px;
    background-color: #585858;
    font-family: 'LatoRegular';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    cursor: pointer;
    letter-spacing: normal;
    outline: none;
    text-align: center;
    color: #ffffff;
    border: none;
}

.search-box {
    width: 31%;
    border: none;
    height: 35px;
    font-family: 'LatoRegular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    outline: none;
    letter-spacing: normal;
    text-align: left;
    color: #b4b4b4;
    padding-left: 11px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAmVJREFUOI2VVL9rFFEQ/ubtGfZMJUlUkk64IgmxEAs9vN3b0sJCRYONElBjYwKKP9HSIkrEX6BBFBGx0kLxD9gJZOVUEItLEFtBzCIEBO/M3r2xuL3Nc7ns6Ve9mfnm25l5b4eQgSAI8lEUfQAwIiLfLcs6XiqV3mTlqKxgo9EYBjACAES0RWt9wvwYM4+lc6h9EBE1Pz9/B8BW27YnoyjqbzabEwAuGPwQwFMAj0Rkloj2ApgbHBycLhQKv/8SZObbAKZicxnAgBnPgojcLZfLU0nLQRDkAZw2OJv/VQwAiGhj+6wAoFgs1gA878B9C2Dctu1+13UJwEEAX1Kcb7ZtJ2NJqqhUKn31en0Zaxc14zjOJSISM7tarfaEYfiEiI7Erkhrvc3zvK8wklGv1ycMm13XvZgWA4DR0dFVETkKYCl2bVBKXWHmoogoYuZpAPvReh4D8UwOOY7zosMIEjDzJIAHKXeQA3ATqfcoIp+yxGK86+ArqrRYjFw3NcuyfnVwRwrAQtorInu6CWqtdxtmCIBF5CzFf8guAMcAnIwJS1rr7Z7nNdYT9H3/PRHtjAs4Xy6XbwCAIiLtum5gWdY1AKsxf1gp9axarfZ0qF75vn/dEGvm8/nH7XgyPyKqA/hh5I6HYbjIzAdEhCqVSh8zH2bmBSI6Z+RZtVrtXmK3D8x8H8Cp9VrsBq31Js/zVpIKReTn/+SjtUDauOV53gpgtDw0NHQVwFxsvkLroc+idYMmZpRShVwuNwbgpYhcdhznTDvYdaP4vv+aiPYZrh2u635cj5+5sWM8xFp7i729vZ+zyH8A/RnkKAQaUiUAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.fa-caret-down {
    margin: 0 8px;
}

.wenP {
    padding: 11px 0px 11px 55px;

    img {
        cursor: pointer;
        outline: none;
    }
}

.header-fixed {
    position: fixed;
    top: 0px;
    z-index: 111;
}

@media screen and (max-width: 767px) {
    .wenP {
        padding: 11px 0px 11px 25px;
    }

    .hide-label {
        display: none;
    }

    .latter-icon {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .general-contractor {
        padding-right: 0px !important;
    }


}

//<<<<<<< HEAD
@media screen and (max-width: 992px) and (min-width: 768px) {
    
.gc-option:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: -1rem;
    top: 16px;
    border-top: 6px solid #243d66;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
    .buttonsBorderRight {
        margin: 18px 0px;
    }

    .hide-label {
        padding-right: 0px;
        margin-left: 8px;
    }

    .resourceAlign {
        margin: 18px 0px;
    }

    .wenP {
        padding: 11px 0px 11px 40px;
    }
}

// =======
.yellow-head {
    width: 95%;
    margin: 0px auto;
}

.humburger-menu {
    margin-top: 12px;
    padding-left: 12px !important;
}

.humburger-menu img {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 62px;
    left: 0;
    background-color: #646464;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px !important;
    color: #fff;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    text-align: right;
    padding-right: 13px;
}

.sidenav ul {
    padding-left: 0px !important;
}

.sidenav ul li {
    border-bottom: 1px solid #fff;
}

@media screen and (max-height: 576px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.show-trial {
    margin-top: 14px !important;
    margin-bottom: 0px !important;
    margin-right: 2px;
    color: #243d66;
}

.user-company-name {
    padding-right: 0px;

    .company-name {
        margin: 13px 0 0 0;
        color: #243d66;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .user-company-name {
        left: 4.2rem;
        padding-right: 0px;
        top: 39px;

        .company-name {
            margin: 13px 0 0 0;
            color: #243d66;
        }
    }
    // .humburger-menu {
    //     left: .5rem;
    //     margin-top: .5rem;
    // }
}


@media screen and(min-width: 320px) and (max-width: 991px) {
    .user-company-name[_ngcontent-c1] .company-name[_ngcontent-c1] {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 50%;
        float: right;
        margin: -24px 0 0 132px;

    }

    .userDropdown {
        padding-right: 0px;
    }
}

.latter-icon {
    width: 32px;
    background-color: #ff00ff !important;
    line-height: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.firstLatter {
    width: 32px;
    background-color: #ff00ff !important;
    line-height: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 32px;
}


.trial-period {
    padding-left: 0px;
    display: flex;
}

.multiple-gc {
    height: auto !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 30px 0 12px !important;
    -webkit-padding-end: 30px !important;
    -webkit-padding-start: 10px !important;

}

.gc-option:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 16px;
    border-top: 6px solid #243d66;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.general-contractor {
    display: flex;

    .col-lg-4 {
        padding: 0px;
    }

    label {
        margin: 4px 15px 0 0;
    }

    .gc-option {
        margin: -3px 0 0 0;
        padding: 0px;

    }
}

@media only screen and (min-width:320px)and (max-width: 576px) {

    .wenP {
        padding: 7px 0px 1px 56px;
        margin-left: -19px;

        img {
            cursor: pointer;
            outline: none;
        }
    }

    .general-contractor {
        display: flex;

        .col-lg-4 {
            padding: 0px;
        }

        label {
            margin: 4px 15px 0 0;
        }

        .gc-option {
            margin: -6px 0px 7px 0;
            padding: 0px;
        }
    }

}

// .tooltip-as-div{
//     position: absolute;
//     z-index: 1111;
//     right: 16px;
//     top: 33px;
//     background-color: #000;
//     color: #fff;
//     padding: 10px;

//     p{
//         margin-bottom: 0px;
//         color: #ccc;
//         &:first-child{
//             font-weight: 600;
//         }
//     }
// }

/** Tab responsive done by lakshmanan**/

@media screen and (min-width : 992px) and (max-width : 1200px) {
    .headerClass {
        right: 0px !important;
    }

    .gc-option:after {
        content: "";
        position: absolute;
        z-index: 2;
        left: 86%;
        top: 16px;
        border-top: 6px solid #243d66;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        background: white;
    }

    .multiple-gc {
        cursor: pointer;
        width: 100%;
    }

    .headerNewClass {
        left: 41px;
    }

    .humburger-menu {
        margin-top: 12px;
        padding-left: 19px !important;
    }

    .dropdown {
        position: relative;
        left: 23px !important;
        top: 0px !important;
    }

    .cus-tooltip {}

    .userDropdown {
        margin-top: 16px;
        padding-right: 30px;
        display: flex;

        //text-align: right;
        .userIcon {
            padding: 0px;

        }
    }

    .general-contractor {
        margin-left: -20px;
        ;
    }

    .latter-icon {
        width: 32px;
        background-color: #f0f !important;
        line-height: 32px;
        height: 32px;
        color: #fff;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
    }
    .dropdown-menu {
        right: -4rem !important
    }
}


@media screen and (min-width: 1201px) {
    .general-contractor {
      left: 7rem;
    }
  }