<div class="list-filter-section">
    
    <div class="filterHeader" id="fill-head" data-toggle="dropdown">
 
        <span class="fillIco"><i class="fa fa-filter" aria-hidden="true"></i></span>
        <span class="fill">Filter</span>
        <i id="fa-icon"></i>
    </div>
    <form>
        <div class="form-group filter-menu">

            <div *ngFor="let filterData of filter">

                <ul class="menu-filter">
                    <li class="filterBorder" *ngFor="let item of filterData.items; let i = index;">
                        <span class="filterActIn">
                            <label class="conta">
                                <input type="checkbox" class="styled-checkbox " [checked]="item.value" [name]="item.bindingDbFieldName"
                                    [(ngModel)]="item.value" (click)="setFilter(item.bindingDbFieldName,item.value,filterData.items)">
                                {{item.label}}
                                <span class="checkmark"></span>
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>