.body {
  position: relative;
}

/*.list-filter{
    top: 50px;
    bottom: 0px;
    //width: 202px;
    //height: 100vh;
    position: absolute;
    right: 0px;
}
.list-filter-alignment h1 span{
    font-size: 20px;
    padding: 0 9px;  
}
.list-filter-alignment h1{
    padding-left: 0px;
    font-size: 19px;
}
.list-filter-alignment{
    font-size: 21px;
    margin-top: 2em;
    margin-left: 9px;
}
.list-filter-alignment h2{
    padding-top: 4px;
    font-size: 17px;
    color: #2b3e48;
    padding-bottom: 0px;
    border-bottom: 1px solid gray;
    padding: 5px 0px;
    margin-left: 5px;
    margin-right: 23px;
 
}
.menu-filter{
    display: block;
    margin-top: 0px;
    padding: 0 2px;
}
.menu-filter li{
    list-style: none;
    font-size: 17px;
}
.menu-filter input{
    zoom: 1.5;
    vertical-align: middle;
    margin-right: 2px;
    
  }*/

.menu-filter {
  list-style-type: none;
}

.filterHeader {
  background-color: #f4c20d;
  height: 30px;
  padding: 2px 0px;
}

.fill {
  margin-left: 15px;
  color: #585858;
  font-size: 16px;
  font-family: "LatoRegular";
}

.fillIco {
  margin-left: 15px;
  color: #585858;
}

.list-filter-section {
  font-family: LatoMedium;
  padding-left: 16px;
  margin: 65px 0px 0 13px;
}

.menu-filter {
  background-color: #f7f7f7;
  // height: 64px;
  padding: 0px 0px;
}

.liColor {
  color: #585858;
  font-family: "LatoRegular";
  font-size: 14px;
  margin: 0 33px;
}

.filterBorder {
  border-bottom: 1px solid #fff;
}

.align-filter-space {
  width: 200px;
}

.conta {
  padding-top: 2px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  color: #474747;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 7px;
}

/* Hide the browser's default checkbox */
.conta input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox css*/
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid #b3b3b4;
}

/* On mouse-over, add a grey background color */
input:hover~.checkmark {
  background-color: #fff;
  border: 1px solid #b3b3b4;
}

/* When the checkbox is checked, add a blue background */
input:checked~.checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  color: #243d66;
  border: solid #243d66;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filterActIn {
  margin: 0 14px;
}

.dropdown-toggle {
  color: black;
}

#fa-icon {
  position: absolute;
  top: 41px;
  right: 25px;
}

@media screen and (max-width: 576px) {
  #fa-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .list-filter-section {
    margin-top: 5px;
    margin-left: -5px;
    font-family: LatoMedium;
  }

  .filterHeader {
    background-color: #f4c20d;
    height: 30px;
    padding: 2px 0px;
    width: 40%;
  }
}

@media screen and (max-width: 577px) {
  #fa-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
  .conta {
    padding-top: 2px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    color: #474747;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 7px;
  }

.filter-menu.dropdown-menu {
  position: absolute;
  top: 5px !important;
  left: 0;
  z-index: 1000;
  // display: none;
  float: left;
  padding: 0px 0px 0px 15px !important;




  min-width: -30px;
  padding: -0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: -5.75rem;
}
  .list-filter-section {
    margin: 13px -29px 0 0px;
    font-family: LatoMedium;
  }

  #fa-icon {
    position: absolute;
    top: 20px;
    right: 8px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {

  .list-filter-section[_ngcontent-c5] {
    font-family: LatoMedium;
    margin: 34px -15px 0 -6px !important;

  }
}

  /* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width : 1200px) {
    .filterBorder {
      border-bottom: 1px solid #fff;
    }

    .filterHeader {
      background-color: #f4c20d;
      height: 30px;
      padding: 2px 0px;
      margin-right: 0rem;
      // width: 40%;
    }
    .menu-filter {
      width: 100%;
    }
  }