<!-- Loader -->

<div class="blobs">
  <div class="blob-center"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </defs>
</svg>

<!--<div id="container">
  <svg id="svg" viewBox="0 0 300 300">
     <defs>
        <rect id="r" x="50" y="-10" height="20" width="75" rx="10" fill="#0000ff">
            <animate attributeName="fill"
                     attributeType="XML"
                     values="#0000ff;#00ffff;#00ff00;#ffff00;#ff0000;#ff00ff;#0000ff;"
                     begin="0s" dur="6s" 
                     calcMode="paced"
                     fill="freeze" repeatCount="indefinite"/>     
        </rect>
        <g id="g">
          <animateTransform
              attributeName="transform" begin="0s" dur="1s"
              type="rotate" 
              values="330;300;270;240;210;180;150;120;90;60;30"
              repeatCount="indefinite" 
              calcMode="discrete"
          />
                    
          <use xlink:href="#r" opacity="1"/>
          <use xlink:href="#r" opacity=".9"  transform="rotate(30)  scale(0.95)" />
          <use xlink:href="#r" opacity=".8"  transform="rotate(60)  scale(0.9)"  />
          <use xlink:href="#r" opacity=".7"  transform="rotate(90)  scale(0.85)" />
          <use xlink:href="#r" opacity=".6"  transform="rotate(120) scale(0.8)"  />
          <use xlink:href="#r" opacity=".5"  transform="rotate(150) scale(0.75)" />
          <use xlink:href="#r" opacity=".4"  transform="rotate(180) scale(0.7) " />
          <use xlink:href="#r" opacity=".35"  transform="rotate(210) scale(0.65)" />
          <use xlink:href="#r" opacity=".3"  transform="rotate(240) scale(0.6) " />
          <use xlink:href="#r" opacity=".25" transform="rotate(270) scale(0.55)" />
          <use xlink:href="#r" opacity=".2"  transform="rotate(300) scale(0.5)"  />
          <use xlink:href="#r" opacity=".15" transform="rotate(330) scale(0.45)" />
        </g>
      </defs>
      <use id="loader" xlink:href="#g" transform="translate(150,150)"></use>
  </svg>
  </div>-->


<!--<i class="spinner">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
    </rect>
    <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
    </rect>
    <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
    </rect>
  </svg>
</i>-->
  

