#selectGc {
    .modal-dialog {
        // height: 75% !important;
        .modal-content {
            // height: 75% !important;
            .general-contractor {
                display: flex;
                margin: 30px 0 30px 0;
                padding: 0px;
                label {
                    margin: 7px 0 0 0;
                }
            }
        }
    }
}