<!-- Select GC Pop up -->

<div class="modal" id="selectGc" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Company</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        <div class="col-lg-12 general-contractor">
          <div class="col-lg-4 text-right">
            <label>Select Company</label>
          </div>
          <div class="gc-option col-lg-8">
            <select class="form-control multiple-gc" id="sel1" (change)="modalHide()" [(ngModel)]="gcCompanyName" name="GcCompanyName"
              aria-placeholder="Select Company">
              <option value="{{item.userId}}" *ngFor="let item of gcCompany">{{item.companyName}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
