<div class="create-project">
  <form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
    <div *ngIf="!panels; else elseTableBlock">
      <app-loader></app-loader>
    </div>
    <ng-template #elseTableBlock>
      <div class="row">
        <div class="col-lg-12">
          <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
        </div>
        <div *ngIf="panels" [ngClass]="{'col-lg-11':routepage != 'project', 'col-lg-10':routepage == 'project', 'createProjects': router.url =='/authenticate/create/project/details'}" class="panels">
          <div class="row col-lg-4 float-right btnDiv">
          </div>
          <div *ngFor="let item of panels" class="col-md-12 create_input_alignment">
            <div *ngIf="item.type == 'simple'">
              <div class="sideHeader proj-list">
                <!-- <h2>{{item.panelName}}</h2> -->
              </div>
              <div *ngFor="let formItem of item.items" [class.displayInput] = "formItem.fieldType == 'hidden'"  class="row grid_alignment" style="padding: 10px 0px;">
                <app-input-textbox class="col-lg-12" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'" 
                  [hidden]="formItem.fieldType == 'hidden'" [inputData]="formItem" [pageData]="panelData" [form]="form" 
                  (notifyInput)="onhandleUserUpdated($event)">
                </app-input-textbox>
                <app-input-selectbox class="col-lg-12" *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                  [selectData]="formItem" [pageData]="panelData" [form]="form" 
                  (notifySelect)="onhandleUserUpdated($event)">
                </app-input-selectbox>
                <app-datepicker class="col-lg-12" *ngIf="formItem.htmlTag == 'datepicker'" 
                  [datePickerData]="formItem" [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                </app-datepicker>
                <app-input-ngselect class="col-lg-12" *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem" [form]="form" [pageData]="panelData"></app-input-ngselect>
              </div>
            </div>
          </div>
          <div class="row col-lg-4 float-right btnDicreateProjectsv">
            <div *ngFor="let item of operation.ComponentItem">
              <app-button *ngIf="!item.top"  [panelData]="operation" [buttonData]="item" [form]="form"></app-button>
            </div>
          </div>
        </div>
      </div>    
    </ng-template>
  </form>
</div>

 
