// .app-view{
//     width: 80%;
//     margin-left: auto;
// }
.app-card-body {
    color: #000 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    padding-left: 13px !important;
}

.btn-margin {
    margin-top: -5px;
}

.app-btn {
    padding: 0px 15px !important;
}

.app-row {
    margin-right: 0px !important;
}

.customPage {
    top: 23px;
    margin-left: -20px;
}

.addNew {
    text-align: right;
}

.combobox_alignment {
    padding-left: 0px;
    padding-right: 0px;
}

.hideFields {
    display: none;
}

.subPanel {
    margin-top: 5%;
}

.btn-align {
    margin-right: 10px;
}

.btnDiv {
    margin: 0% 12% !important;
}

.sideHeader {
    margin: 20px 10% !important;
}

.row grid_alignment {
    padding-top: -1px !important;
}

//.proj-list{
//padding-left: 10% !important;
//margin-bottom: -7px !important;
// margin-bottom: -17px !important;
//}

.displayInput {
    padding: 0px !important;
}

.create-input {
    width: 60%;
    margin: 20px auto;
}

.sidebar {
    position: relative;
    top: 43px;
}

.create-project {
    width: 92%;
    margin: 0px auto;
}

/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .create_input_alignment {
        right: 1.7rem;
    }

    .panels {
        margin-top: 50px !important;
    }

    .createProjects {
        width: 100%;
        left: 4rem;
    }

}

/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width : 992px) {
    .create_input_alignment {
        right: 1.7rem;
    }

    .panels {
        left: 10px;
        margin-top: 50px !important;
    }

    .createProjects {
        margin-left: -3px !important;
        width: 100%;
        left: 0px;
        margin-top: 1.5rem !important;
    }
    .row .grid_alignment {
        width: 116% !important;
    }

}