.flex-display {
    display: flex;
    label {
        font-size: 14px;
        margin-top: 15px;
    }
}
.common-margin {
    margin: 0 auto;
}
.bottom-border {
    border: 0 solid;
    border-bottom-width: 0.5px;
    border-radius: 0;
    border-color: #ced4da;
    padding: 0;
    margin: 25px 0 0 0px;
}
#txtCaptchaDiv {
    height: 50px;
    color: gray;
    border: 1px solid #ced4da;
    position: relative;
    font-size: 30px;
    font-style: italic;
    user-select: none;
    text-align: center;
    letter-spacing: 4px;
}
.captcha-align {
    padding: 0px;
    margin-left: -25px;
}
.captcha-div {
    padding-right: 0px;
    img {
        width: 30px;
        cursor: pointer;
        margin-top: 12px;
    }
}
.zero-padding {
    padding: 0px;
}