<div *ngIf="captchaData" class="col-lg-12 col-md-12 flex-display">
  <div class="col-lg-4 text-right captcha-align">
    <label class="common-margin">{{captchaData.label}}<span class="required" *ngIf="captchaData.validation && captchaData.validation.required">*</span></label>
  </div>
  <div class="col-lg-8 flex-display">
    <div class="col-lg-6 captcha-div flex-display">
      <div class="col-lg-10 zero-padding">
        <div id="txtCaptchaDiv">{{captchaData.captchaValue}}</div>
        <input type='hidden' class="form-control" [(ngModel)]="captchaData.captchaValue" name="TxtCaptcha">
      </div>
      <div class="col-lg-2 zero-padding">
        <img src="assets/images/captcha-reload.png" alt="Reload" (click)="getInTouchCaptcha()">
      </div>
    </div>
    <div class="col-lg-4" style="padding: 0px;">
      <input type="text" id="queryCaptchaFeed" class="form-control bottom-border captcha-alignment"
      placeholder="Enter Captcha" [formControl]="form.controls[captchaData.name]"
      [(ngModel)]="captchaData.value" [name]="captchaData.name" (keyup)="removeCheckCaptcha()">
      <span class="alert alert-danger input-absolute" *ngIf="form.controls[captchaData.name].errors && form.controls[captchaData.name].touched">
        <span [hidden]="!form.controls[captchaData.name].errors.required"> {{captchaData.label}} is {{validation.required}}.</span>
      </span>
      <span class="alert alert-danger input-absolute" *ngIf="checkCaptcha && captchaData.value != ''">Invalid Captcha</span>
    </div>
  </div>
</div>