// .app-view{
//     width: 80%;
//     margin-left: auto;
// }
/*button alignment scss start*/
.btn-section {
  margin: 0 auto;
}
/*button alignment scss end*/

.app-card-body {
  color: #000 !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  padding-left: 13px !important;
}
.btn-margin {
  margin-top: -5px;
}

.app-btn {
  padding: 0px 15px !important;
}
 .btnDiv {
  margin-left: -35px;
//   margin: 0px auto !important;
//   width: 41%;
//   // padding-right: 4px;
//   padding: 8px 4px 35px 0px;
 }
.app-row {
  margin-right: 0px !important;
}
.customPage {
  top: 23px;
  margin-left: -20px;
}
.addNew {
  text-align: right;
}
.page-margin {
  /*    margin: auto;*/
  margin-top: 3%;
}
.combobox_alignment {
  padding-left: 0px;
  padding-right: 0px;
}
.checkbox-align {
  margin: -3px 0 0 0;
}

.displayInput {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

@media only screen and (min-width:320px)and (max-width:568px){
    .btnDiv {
        margin: 0px !important;
       /*  width: 41%;
        // padding-right: 4px;
        padding: 8px 4px 35px 0px; */
      }
}
@media only screen and (min-width:768px)and (max-width:991px){
     .btnDiv {
        margin-left: 0 !important;
       /* width: 33%;
        // padding-right: 4px;
        padding: 8px 4px 35px 0px;*/
      } 
}

@media only screen and (min-width:992px) and (max-width:1200px) {
  .jkjkjk {
    width: 42% !important;
    padding-bottom: 36px;
  }

  .wp-register {
    width: 91%;
  }
  .mt-17 {
    max-width: 80%;
  }
  .page-margin {
    margin: 0px !important;
  }
  .btnDiv {
    margin-top: 0.5rem;
    left: 8rem;
    margin-left: 0px !important;
    /* width: 50%; */
    margin-bottom: 1rem;
  }
  .text-right {
    text-align: center !important;
  }
}