<form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <div class="">
      <div *ngIf="panels" class="">
        <div class="panels">
          <app-operation (addDetails)="add($event)" [pageData]="operation"></app-operation>
          <div class="col-lg-8 row page-margin create_component_alignment">
            <div *ngFor="let item of panels" class="col-md-12 create_input_alignment">
              <div *ngIf="item.type == 'simple'">
                <div *ngFor="let formItem of item.items" [class.displayInput] = "formItem.fieldType == 'hidden'" class="row grid_alignment"  style="padding: 10px 0px;margin-bottom: 7px;">
                  <app-input-textbox class="col-lg-12" [hidden]="formItem.fieldType == 'hidden'" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'" [inputData]="formItem"
                    [pageData]="panelData" [form]="form" (notifyInput)="onhandleUserUpdated($event)"></app-input-textbox>
                  <app-input-ngselect [hidden]="formItem.fieldType == 'hidden'" class="col-lg-12" *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem" [form]="form" [pageData]="panelData"></app-input-ngselect>
                  <app-input-checkbox [hidden]="formItem.fieldType == 'hidden'" class="col-lg-12 checkbox-align" *ngIf="formItem.htmlTag == 'checkbox'" [checkBoxData]="formItem" [form]="form" [pageData]="panelData"></app-input-checkbox>
                  <app-captcha [hidden]="formItem.fieldType == 'hidden'" class="col-lg-12" *ngIf="formItem.htmlTag == 'captchaInput'" [captchaData]="formItem" [form]="form" [pageData]="panelData"></app-captcha>
                </div>
              </div>
            </div>
          </div>
          <div class ="col-lg-12 col-md-12 col-sm-6 col-12" *ngIf="operation.ComponentItem">
            <div class="col-lg-9 col-md-9 col-sm-10 btnDiv text-right" *ngFor="let item of operation.ComponentItem">
                <app-button [panelData]="operation" [buttonData]="item" [form]="form"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>