<!-- {{radioButtonData| json}} Radio component -->
<!-- <div *ngIf="radioButtonData" class="row">
   
  <div class="col-lg-4 align-right">
    
  </div>
  <div class="col-lg-8 app-input-label check-div">
      <input type="radio" class="checkWidth" [(ngModel)]="radioButtonData.value" [formControl]="form.controls[radioButtonData.name]" [name]="radioButtonData.name" [formControl]="form.controls[radioButtonData.name]">
      <div class="alert alert-danger input-absolute" *ngIf="!form.controls[checkBoxData.name].valid && form.controls[checkBoxData.name].touched">Please read and check Terms of Service.</div>
      <span class="alert alert-danger input-absolute align-text" *ngIf="form.controls[radioButtonData.name].errors && form.controls[radioButtonData.name].touched">
        <span [hidden]="!form.controls[radioButtonData.name].errors.required">Please read and check Terms of Service.</span>
        <span [hidden]="!form.controls[radioButtonData.name].errors.pattern">Please read and check Terms of Service.</span>
      </span>
    <a class="checkbox-lebel" href="https://wenplan.com/wenplan-eula/" target="blank">{{radioButtonData.label}}</a>
  </div>
</div>
 -->

<div class="col-lg-12 col-md-12 col-sm-12 col-12 radio-button" *ngFor="let formItem of radioButtonData.subItem ;let i = index">
  <div class="col-lg-4 col-md-3 col-sm-4 col-4 radioalign">
    <label style="padding: 0px 17px 0px 0px;
    font-size: 14px;" *ngIf="formItem.label == 'Daily'">Frequency</label>
  </div>



  <div class="col-lg-8 col-md-9 col-sm-12 col-12 radioButton ">
    <input type="radio" *ngIf="formItem.inputTagType == 'radio'" [(ngModel)]="myselectedVal" name="radioName" value="{{formItem.name}}"
      [id]="formItem.name" (ngModelChange)="selectedRadioValue(radioButtonData, myselectedVal)">
    <label style="margin-left: 7px; font-size: 14px" for={{formItem.name}} *ngIf="formItem.inputTagType == 'radio'">{{formItem.label}}</label>
    <span *ngIf="formItem.label == 'Weekly'" class="day-of-the-week">
      <!-- {{myselectedVal}} -->
      <label class = "labelAlign" style="font-size: 14px;">Day of the Week</label>
      <select [disabled]="radioButtonData.value == 'Daily'" id="dayOfWeek" [(ngModel)]="myDropDown" (ngModelChange)="onChangeofOptions($event)"
        class="week-days">
        <option selected="true" disabled>---------Select Option----------</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>

      </select>
    </span>

  </div>

</div>