/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    margin-top: 7px;  
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .radio-button {
      display: flex;
  }
  .day-of-the-week {
    margin-left: 44px;

  }
  .week-days {
    width: 37%;
    background: #fff;
    height: 33px;
    margin: 0 0 0 15px;
  }

  select:disabled {
    background-color: #e9ecef !important;
}
.radioalign{
  text-align: right !important;
}
.radioBUtton{
  padding: 0px 0px 0px 5px;
}
@media only screen and (max-width:576px){
  .radioalign{
    text-align: left !important;
    margin-left: -30px;
  }
  .radioButton{
    margin: 25px 0px -11% -33%;
  }
  .labelAlign{
    margin: 0px 0px 4px -33px;
  }
  .week-days {
    width: 130%;
    background: #fff;
    height: 33px;
    margin: 0 0 0 0px;
  }
}
@media only screen and (max-width:767px)and(min-width:577px){
  .day-of-the-week {
    margin-left: 59px;
  }
  .labelAlign{
    margin: 0px 0px 4px -33px;
  }
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .radioalign {
    text-align: left !important;
    left: 16px;
  }
  .radioButton {
    left: 1rem;
  }
  .week-days {
    width: 42%;
    background: #fff;
    height: 33px;
    margin: 0 0 0 15px;
  }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .radioalign {
    text-align: left !important;
    left: 8px;
    margin-right: -5px;
  }
  .radioButton {
    left: 2.5rem;

  }
  .week-days {
    width: 40%;
    background: #fff;
    height: 33px;
    margin: 0 0 0 15px;
  }
}
