<div *ngIf="selectData && selectData.options && !checkOptionObj; else elseBlock" class="row">
 
  <div class="col-lg-4 col-md-3 col-sm-4 col-12 app-input-label" >
    <label>{{selectData.label}}<span class="required" *ngIf="selectData.validation && selectData.validation.required">*</span></label>
    <p class="sub-label" [class.empty-sub-label]='!selectData.subLabel' >{{selectData.subLabel?selectData.subLabel:''}}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-12 app-input-field">
    <ng-select class="form-control" [id]="selectData.name" [(ngModel)]="selectData.value" 
      [ngClass]="{'disabled-input': selectData.readOnly === true,  'enabled-input': selectData.readOnly === false}" 
      [disabled]=selectData.readOnly 
     
      [name]="selectData.name"
      [formControl] ="form.controls[selectData.name]"
      (ngModelChange)="onNameChanged(selectData.cascadeField, selectData.value,selectData.optionValue)">
      <ng-option value="" [hidden]="selectData.bindingDbFieldName == 'projectManager'">Select Option</ng-option>
      <ng-option *ngFor="let item of selectData.options" value="{{item}}">{{item}}</ng-option>
    </ng-select>
    <span class="alert alert-danger input-absolute" *ngIf="form.controls[selectData.name].errors && form.controls[selectData.name].touched">
      <span [hidden]="!form.controls[selectData.name].errors.required"> {{selectData.label}} is {{validation.required}}.</span>
    </span>
  </div> 
  <!-- {{this.selectData.options | json}} -->
</div>
<ng-template #elseBlock>
  <!-- <p>sdsdsddf</p> -->
<!-- {{selectData.label | json}} -->
  <!-- {{selectData| json}}123 -->
  <!-- {{userRole}} -->
  <div class="row" >
  <div class="col-lg-4 col-md-3 col-sm-4 app-input-label">
    <label  [hidden]=selectData.visible >{{selectData.label}}<span class="required" *ngIf="selectData.validation && selectData.validation.required">*</span></label>
    <p class="sub-label" [class.empty-sub-label]='!selectData.subLabel' >{{selectData.subLabel?selectData.subLabel:''}}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 app-input-field">
    <ng-select class="form-control" [id]="selectData.name" [(ngModel)]="selectData.value" 
      [ngClass]="{'disabled-input': selectData.readOnly === true || userRole && selectData.name == 'firstDayOfWeek'  ,  'enabled-input': selectData.readOnly === false || !userRole }" 
      [disabled]= selectData.readOnly
      [hidden]=selectData.visible
      [name]="selectData.name"
      [formControl] ="form.controls[selectData.name]"
      (ngModelChange)="onNameChanged(selectData.cascadeField, selectData.value,selectData.optionValue)"
      >
      <ng-option value=""   [hidden]="selectData.bindingDbFieldName == 'projectManager'">Select Option</ng-option>
      <ng-option *ngFor="let item of selectData.options" value="{{item[selectData.optionKey]}}">{{item[selectData.optionKey]}}</ng-option>
    </ng-select>
    <span class="alert alert-danger input-absolute" *ngIf="form.controls[selectData.name].errors && form.controls[selectData.name].touched">
      <span [hidden]="!form.controls[selectData.name].errors.required"> {{selectData.label}} is {{validation.required}}.</span>
    </span>
  </div>
</div>
</ng-template>
