.dropdownErr {
    font-size: 13px;
    color: red;
    //    margin-left: -48%; 
    //  margin-top: 5%;
}

select option {
    color: #495057 !important;
    font-size: 16px !important;
    font-family: 'LatoRegular' !important;
}

// <<<<<<< HEAD
ng-select {
    padding: 0px;
    border: 0px;

    .ng-clear {
        display: none !important;
    }
}

// =======

.sub-label {
    font-size: 12px !important;
    color: #323232 !important;
    margin-bottom: 0px !important;
}

.empty-sub-label {
    padding-bottom: 13px;
    // >>>>>>> license
}

@media only screen and (max-width:576px) {
    .empty-sub-label {
        padding-bottom: 0px;
    }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .app-input-label {
        white-space: pre;
        text-align: left !important;
    }
}