.sideHeader{
    margin: 0% 7%;
}
.proLabel{
    font-size: 16px;
    font-family: 'LatoRegular';
    color: #b4b4b4;
}
.proValue{
    font-size: 16px;
    font-family: 'LatoRegular';
    color: #898989;
}
.planBtn{
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    color: #fff !important;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    border: none;
    margin: 0 10px;
    height: 30px;
    width: 50px;
    outline: none;
}
.editBtn{
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}
.shareBtn{
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}
.viewProjec{
    padding: 24px 0px;
}
.row{
    margin-left: 5% !important;
}
.app-list{
    border-bottom: 1px solid #dadada;
}
.editSharePlanBtn{
    margin-top: -9% !important;
}
@media only screen and (max-width:767px){
    .app-list{
        position: relative;
        border-bottom: 1px solid #dadada;
    }
}