<div class="row clearfix app-panel-padd projectListAlign">
  <div class="col-lg-12 app-list" *ngFor="let item of gridViewPanelData.responseObj">
      
    <div *ngFor="let viewPanelData of gridViewPanelData.panels;let i=index" class="row viewProjec">
      <div class="col-lg-12 sideHeader">
        <h2>{{viewPanelData.panelName}}</h2>
      </div>
     
      <div *ngFor="let formItem of viewPanelData.items" class="col-lg-5 app-simple-panel app-form-field">
        <div class="listPro">
          <div class="row">
            <div class="col-lg-5 crm-input-label" style="padding-left: 16%">
              <label class="proLabel">{{formItem.label}}</label>
            </div>
            <div class="col-lg-7 crm-input-field" >
              <label class="proValue">: {{item[formItem.field]}}</label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="editSharePlanBtn" *ngIf="i==0">
        <span class="editBtn" [routerLink]="['/authenticate/edit/project']">
          <img src="assets/images/edit.png">
        </span>
        <span class="shareBtn">
          <img src="assets/images/share_icon.png">
        </span>
        <button type="submit" class="planBtn" name="plan" value="Plan">Plan</button>
      </div>
    
    </div>
  </div>
</div>