.importFile {
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 3px;
  /* margin-right: 50px; */
}
.goRoute {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 19px;
  border-bottom: solid 0px;
  cursor: pointer;
}

a {
  border-bottom: solid 1px;
  padding: 2px;
  margin: 47px;
  font-size: 15px;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.import-file {
  position: fixed;
  top: 112px;
  background: #fff;
  z-index: 99;
  margin: 0px auto;
  right: 0px;
  padding: 13px;
  height: 53px;
  left: 26px;
  border-bottom: solid 1px #eee;
}

.import-file p {
  font-size: 20px;
  margin: 0px;
  font-family: LatoSemiBold;
}

.upload-button {
  background: #062763;
  color: white;
}

.small {
  font-size: 90% !important;
}

.vector {
  font-family: sans-serif;
  font-size: 15px;
}

button {
  padding: 8px 25px;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #000 !important;
}

p {
  font-size: 12px;
  font-family: LatoRegular;
}

input {
  direction: rtl;
}

.message {
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .mx-5 {
    margin: 0px !important;
  }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .message {
    font-size: 16px;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  // .text-center {
  //   text-align: left;
  // }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .pt-5 {
    padding-top: 0px !important;
  }

  .message {
    font-size: 16px;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  // .text-center {
  //   text-align: left;
  // }

  .mx-5 {
    margin-left: 1rem !important;
  }

  .sampleExcelFile {
    a {
      margin-left: 14px !important;
    }
  }

  .import-file {
    position: fixed;
    top: 112px;
    background: #fff;
    z-index: 99;
    margin: 0px auto;
    right: 0px;
    padding: 13px;
    height: 53px;
    left: 19px;
    border-bottom: solid 1px #eee;
  }
}

// ** Lakshmanan add new Import file functionalites**//
.text-right {
  position: relative;
  top: 11px;
  button {
    background-color: navy !important;
    color: white !important;
  }
}

.col-3 {
  background-color: rgb(240, 240, 240);
  margin-top: 67px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 23px;
  top: 16px;
  left: 30px;
}
.sampleExcelFile {
  position: relative;
  top: 18px;
  right: 2px;
  a {
    margin: 30px !important;
  }
}
.col-1 {
  // background-color:rgb(240, 240, 240);
  left: 37px;
  margin-top: 67px;
  padding-top: 15px;
  i {
    font-size: 20px;
    margin-right: 10px;
  }
}
hr {
  margin-top: 3rem !important;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 95.4% !important;
}
h5 {
  position: relative;
  left: 12px;
  font-size: 1.25rem;
}
label {
  white-space: nowrap;
}
.imports {
  max-width: 100% !important;
}
.col-6 {
  margin-top: 15px !important;
}
.update {
  padding: 4px 14px;
  margin-bottom: 8px;
}
.switch {
  top: -15px !important;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(240, 240, 240);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -webkit-transform: translateX(55px);
  transform: translateX(36px);
}

/*------ ADDED CSS ---------*/
.on {
  display: block;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  width: 69px;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.updateButton {
  background-color: #fafafa;
  margin-top: 24px;
  padding-left: 0px;
  padding-top: 1px !important;
  padding-bottom: 23px;
  top: 0% !important;
  /* left: 30px; */
}
.toggle {
  left: 120% !important;
  margin-top: -104px !important;
  padding-top: 10px;
}
.licenseProvide {
  float: right;
    left: 5rem;
    top: -7.5rem;
  button {
    margin-bottom: 6px;
  }
  button {
    background-color: navy !important;
    color: white !important;
    padding: 7px 13px;
  }
  button[name="clearBtn"] {
    width: 115%;
  }
}
.listPro {
  margin-bottom: -55px;
}
.proLabel {
  margin-bottom: 0rem !important;
  position: relative;
  left: 10px;
}
.fa-question-circle:before {
  content: "\f059" !important;
}
.importFile {
  width: 86% !important;
  margin-left: 27px;
  .small {
    position: relative;
    left: 5rem;
  }
}
.uploadImport {
  float: right !important;
  width: 24%;
  margin-top: 16px;
  position: relative;
  top: 20px;
}
small {
  padding-left: 27px
}
.modal-content {
  height: 247px;
}
.text-center {
  // text-align: center !important;
}
.message {
  // text-align: center;
  margin-top: 28px;
}
.importModelFile {
  width: 100%;
  right: 24px;
}
a {
  cursor: pointer;
  border-bottom: solid 1px;
  padding: 2px;
  margin: 3px;
  font-size: 15px;

}
pre {
  font-size: 15px;
}
.contentMessage {
  font-size: 15px;
}