<div class="import-file" *ngIf="importHistoryData">
    <p>Projects > <span><a class="goRoute" (click)="goRoute()">{{projectName | titlecase}} ></a></span> Upload Schedule
    </p>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-3">
            <span>If you want to create a new schedule from .xls, .mpp or .xer files click below</span>
            <div class="text-right">
                <button class="btn text-white upload-button" type="submit"
                    (click)="addNewSchedule('addNewSchedule')">Upload New
                    Schedule</button>
            </div>
        </div>
        <div class="col-8"></div>
        <div class="col-1"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Help</div>
        <div class="sampleExcelFile">
            <a href="{{baseUrl}}pmc/formatExcel">If you need the .xls template click here</a>
        </div>
    </div>
</div>
<hr>
<div class="col-12" *ngIf="importHistory">
    <div class="row">
        <div class="col-4">
            <h5>{{importHistory.pageType}}</h5>
        </div>
        <div class="col-8">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>
<div class="col-lg-10 col-md-11 listPro">
    <div class="row">
        <div *ngFor="let formItem of listOfImports" class="col-lg-6 col-md-6" style="margin-top: 24px;top: -16px;">

            <div class="row" *ngIf="importHistoryData">
                <div class="col-lg-5 col-md-6 crm-input-label">

                    <label *ngIf="formItem.name !== 'imfortFile'" class="proLabel">{{formItem.label}}</label>
                </div>
                <div class="col-lg-7 col-md-6">
                    <label class="proLabel" *ngIf="formItem.name !== 'imfortFile'">:
                        {{importHistoryData[0][formItem.value]}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 licenseProvide">
        <div>
            <div class="btn licenseBtn" *ngFor="let item of importHistory.tools.componentItem">
                <!-- button class on json rendering -->
                <app-button [panelData]="importHistory" [buttonData]="item" [form]="form">
                </app-button>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-2 col-md-2 licenseProvide">
        <div>
            <button type="button" class="btn licenseBtn btn-primary" (click)="updateSchdule('updateSchdule')">Update
                Schedule</button>
            <button name="clearBtn" type="button" class="btn licenseBtn btn-primary"
                (click)="clearSchedule('clearSchedule')">Clear
                Schedule</button>
            <div class="col-1 toggle">
                <label class="contentMessage">Show date in the <pre>lookhead</pre></label>               
                <label class="switch"><input type="checkbox" id="togBtn">
                    <div class="slider round">
                        <span class="on"></span><span class="off"></span></div>
                </label>
            </div>
        </div>

    </div> -->
</div>

<!-- import POPup Modal done by lakshmanan -->
<div class="modal fade" id="createModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body importModelFile">
                <div>
                    <div class="importFile">
                        <input type="file" class="small" accept=".xlsx, .xls" name="excelFileName"
                            (change)="importData($event)" />
                    </div>
                    <small>Choose .xls, .mpp, .xer files only</small>
                    <div class="uploadImport">
                        <button class="btn text-white upload-button" [disabled]="!fileInput" type="submit"
                            (click)="onSubmit()">Ok</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Error Message Modal -->
<div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal"
                    (click)="successNavigate(status)">&times;</button>
            </div>
            <div class="modal-body">
                <app-spinner></app-spinner>
                <p class=" message">{{successmsg}}</p>
                <p class=" message text-center" *ngIf="isDownload && status == '200'">{{isDownload.importMessage}}<a
                        routerLink="/authenticate/lookaheadplan">click here</a></p>
            </div>
            <div class="modal-footer d-flex justify-content-end align-items-center">
                <button *ngIf="status == '400'" type="button" class="btn upload-button"
                    (click)="successNavigate(status)">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Download Error file Modal and clear schedules -->
<div *ngIf="isDownload" id="successModal" class="modal fade" bsModal #successModal="bs-modal" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="modalTitle !== 'Message'; else clearModle">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal"
                    (click)="successNavigate(status)">&times;</button>
            </div>
            <div class="modal-body">
                <p class="message">{{isDownload.message}}?</p>
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
                <button type="button" class="btn upload-button" data-dismiss="modal" (click)="close()">Close</button>
                <button type="button" class="btn upload-button" (click)="fileDownload(fileMessage)">Ok</button>
            </div>
        </div>
        <ng-template #clearModle>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="message">{{clearMessage}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn upload-button" data-dismiss="modal"
                        (click)="close()">Close</button>
                    <button type="button" class="btn upload-button" (click)="DisableHistoryBtn()">Ok</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<hr>
<!-- please check your email for the error excel -->
<ngx-spinner bdOpacity=0.9 bdColor="rgba(39,39,27,0.35)" size="large" color="rgba(238,217,12,0.97)"
    type="ball-spin-clockwise"></ngx-spinner>