.dashboard{
margin-left: auto;
margin-right: auto;
margin-top: 22%;
}

.app-view{
    width: 80%;
    margin-left: auto;
}
.app-card-body{
    color: #000 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    padding-left: 13px !important;
}

.btn-margin{
    margin-top: -5px;
}

.app-btn{
    padding: 0px 15px !important;
}

.app-row{
    margin-right: 0px !important;
}
.customPage{
    top: 23px;
    margin-left: -20px;
}
.addNew{
    text-align: right;
}
.search_form_style{
  display: none;  
}


//for wenplan
.landingImg{
    //margin: -5px 0px;
    width: 100%;
    height: calc(100vh - 119px);
    background-image: url(../../assets/images/new_banner.png);
    position: relative;
    background-size: cover;
    background-position: 100%;
    img{
        // width: 100%;
        // position: relative;
        // height: calc(100vh - 162px);
       
    }
}
.text-block {
    position: absolute;
    height: 67%;
    width: 60%;
    top: 12%;
    background-color: transparent;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 33px;
    /*opacity: 0.4;*/
}
.text-block-overlay {
    position: absolute;
    height: 67%;
    width: 60%;
    top: 12%;
    background-color: black;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 33px;
    opacity: 0.4;
    z-index: 11;
}
.aboutWenPlan{
  font-family: 'VollkornBold';
  font-size: 47px;
  font-weight: bold;
  color: #fefefe;
  margin: 0 0px;
}
.content{
    position: initial !important;
    margin: 38px 0px;
    font-size: 20px;
    font-family: 'OpenSansRegular';
    color: #fefefe;
    font-weight: 500;
    padding-right: 0px !important;
    word-break: break-word;
    word-wrap: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    overflow-wrap: break-all; 
    word-break: break-all; 
    // word-break: break-word;
}
.landingFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footerColor{
    background: #f4c20d;
    height: 65px;
    margin: -8px 0;
    text-align: center;
    padding: 22px 0;
    color: #243d66;
    font-size: 22px;
    font-weight: 600;
    font-family: 'OpenSansRegular';
}
@media screen and (max-width: 1150px) and (min-width: 990px){
    .content{
        margin: 10px 0px
    }
}
@media screen and (max-width: 990px) and (min-width: 768px){
    .content{
        margin: 10px 0px
    }
    .text-block-overlay{
        padding-top: 17px;
    }
    .text-block{
        padding-top: 17px;
    }
    .aboutWenPlan{
        font-size: 32px;
    }
    .content{
        margin: 2px 0px;
        font-size: 17.5px;
    }
}
