<div class="col-lg-12">
  <div class="row">
    <div class="landingImg">
      <!-- <img src="assets/images/new_banner.png"> -->
      <div class="text-block">
          <span class="aboutWenPlan">{{result?result.aboutWenplanHeading: ''}}</span>
          <p class="content">{{result?result.aboutWenplan: ''}}</p>
        </div>
        <div class="text-block-overlay">
          <span class="aboutWenPlan">{{result?result.aboutWenplanHeading: ''}}</span>
          <p class="content">{{result?result.aboutWenplan: ''}}</p>
        </div>
        <div class="landingFooter">
          <h2 class="full-width footerColor">{{result?result.footer:''}}</h2>
        </div>      
    </div>
  </div>
</div>