


  
<!-- License List -->

<div class="row" [class.pagehead] ="routingId == 'license'">
  <div class="col-lg-9 col-md-8" *ngIf="routingId != 'license'; else elseHead">

    <!-- <label for="select-all" class="selectBtn">
      <h5 class="checkselect" (click)="getContactData('', 'selectAll')">Select All</h5>
      <h5 class="unselect" style="display: none;" (click)="getContactData('', 'unSelectAll')">Unselect All</h5>
      <input id="select-all" class="selectBtn" type="checkbox" style="opacity:0;"/>      
    </label> -->
  </div>
  <ng-template #elseHead>
    <div *ngIf="count"  class="col-lg-9 col-md-8 purchased">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <label>Purchased - {{count.purchased}}</label>
        </div>
        <div class="col-lg-4 col-md-4">
          <label>Available - {{count.unUsed}}</label>
        </div>
        <div class="col-lg-4 col-md-4">
          <label>Used - {{count.used}}</label>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="col-lg-3 col-md-4 "[ngClass]="{'pageNations': routingId == 'license' || 'project'}">
    <app-pagination  *ngIf="gridListPanelData.responseObj" (goPagination)=getPaginationData($event)></app-pagination>
  </div>   
</div>


<div *ngIf="routingId != 'license' && routingId != 'user-log'"  class="col-lg-12 col-md-12 col-sm-12 col-12 top-margin grid-list-margin">
  <div class="row clearfix app-list" *ngFor="let item of gridListPanelData.responseObj; let i=index">
    <div class="select-label">
      <label class="conta" [ngClass]="{'cursor-true':!item.delete}">    
        <input [ngClass]="{'pointer-none':!item.delete, 'individual':item.delete}" type="checkbox" class="styled-checkbox"
        (click)="getContactData(item[gridListPanelData.checkbox], '')" 
        name="checkId" id="checkId{{i}}" value="">
        <span  [ngClass]="{'pointer-none':!item.delete}" class="checkmark"></span>
      </label>
    </div>
    <div class="col-lg-10 col-md-11 listPro" *ngIf="routingId != 'project'">
      <div class="row">
        <div *ngFor="let formItem of gridListPanelData.items" class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-6 crm-input-label" *ngIf="formItem.label != 'Project Name'">
                <!-- (click)="goView(item)" -->
              <label class="proLabel" >{{formItem.label}}</label>
            </div>
            <div class="col-lg-7 col-md-6 projectField crm-input-field" *ngIf="formItem.label === 'Project Name';else elseField">
              <a href="javascript:void(0)" (click)="goPlan(item)" style="color: #0056b3;
              text-decoration: underline;" class="proValue" [ngClass]="{'projectPage': router.url == '/authenticate/list/user-log'}" >{{item[formItem.field]}}</a>
            </div>
            <ng-template #elseField>
              <div class="col-lg-7  col-md-6 projectField crm-input-field" >
                <label class="proValue" [ngClass]="{'userPermission': router.url == '/authenticate/list/user-permission'}" title="{{item[formItem.field]}}"><span style="margin-right:10px !important">:</span>{{item[formItem.field]}}</label>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>    
    <!--projects page-->

    <div class="col-lg-10  col-md-9 col-sm-10 col-10 listPro " *ngIf="routingId == 'project'">
        <!-- <div class="row clearfix app-list" *ngFor="let item of gridListPanelData.responseObj; let i=index">
            <div class="col-lg-12 listPro"> -->
              <div class="row">
                <div class="col-lg-2 projectField projectfield-sm" [class.display-lable]="formItem.label != 'Project Name'" *ngFor="let formItem of gridListPanelData.items"><a *ngIf="formItem.label === 'Project Name'" href="javascript:void(0)" (click)="goPlan(item)" style="color: #0056b3;
                  text-decoration: underline;" title="{{item[formItem.field]}}" class="proValue">{{item[formItem.field]}}</a></div>
                <div class="col-lg-10 col-md-12 col-sm-10 col-12 align-label-list zero_padding" >
                  <div class="row align-label">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 zero_padding projectList" [class.display-lable]="formItem.label == 'Project Name'" *ngFor="let formItem of gridListPanelData.items">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-5 crm-input-label textAlign zero_padding">
                          <label  class="proLabel" (click)="goView(item)">{{formItem.label}}</label>
                        </div>
                        <div class="{{formItem.className}} projectField crm-input-field">
                          <label class="proValue" ><span  style="margin-right:10px !important">:</span>{{item[formItem.field]}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </div>
            </div> -->
          </div>
      </div>   
<!--Projects page end-->
<div class = "col-md-3 col-2 col-sm-2 catchAllbtn" *ngIf = "dropdownMobile && routingId != 'license' && routingId == 'project'">
 
  <a class="dropdown-toggle" data-toggle="dropdown" style="float: right"> <img src="../../../assets/images/icons/catch_all.svg"></a>
  <ul class="dropdown-menu">
<li *ngIf="pageData && pageData.tools.edit && item.edit && (loginDetails.trial || loginDetails.licenseAvailable)" class="editBtn" (click)="goEdit(item)"><i title="edit">Edit</i></li>
<li *ngIf="pageData && pageData.tools.share && item.share && (loginDetails.trial || loginDetails.licenseAvailable)" class="shareBtn" (click)="goShare(item)"><i title="share">Share</i></li>
<li *ngIf="routingId == 'project'" class="shareBtn" (click)="goPlan(item)"><i title="lookahead plan">Lookahead Plan</i></li>
<li><i class="fal fa-ellipsis-v"></i></li>
  </ul>
</div>
  <div class="col-lg-12 col-sm-12 col-12 col-md-12 percentageCompletion" *ngIf = "dropdownMobile && routingId != 'license' && routingId == 'project'">
    <button type="button" data-toggle="tooltip" title="click here for percent complete" class="effortComp" (click) = "gopage(page)">    % Complete | Click for details </button>
  </div>

  

<!--  Template for mobile catchAll If routingId != 'license' && routingId != 'project'  -->
<div *ngIf = "dropdownMobile && routingId != 'license' && routingId != 'project'" class = "col-md-2 col-1 col-sm-1 " >

  <a class="dropdown-toggle" type="button" data-toggle="dropdown"> <img src="../../../assets/images/icons/catch_all.svg"></a>
     <ul class="dropdown-menu">
   <li *ngIf="pageData && pageData.tools.edit && item.edit && (loginDetails.trial || loginDetails.licenseAvailable)" class="editBtn" (click)="goEdit(item)"><label title="edit">Edit</label></li>
   <li *ngIf="pageData && pageData.tools.share && item.share && (loginDetails.trial || loginDetails.licenseAvailable)" class="shareBtn" (click)="goShare(item)"><label title="share">Share</label></li>
   <li *ngIf="routingId == 'project'" class="shareBtn" (click)="goPlan(item)"><label title="lookahead plan">Lookahead Plan</label></li>
     </ul>
    </div>
     <!-- <div class="col-lg-12 col-sm-12 col-12 col-md-12 percentageCompletion" *ngIf = "dropdownMobile && routingId != 'license' && routingId != 'project'">
      <button type="button"  (click) = "gopage(page)" class="effortComp" *ngIf = "dropdownMobile && routingId != 'license' && routingId != 'project'" >    % Complete | Click for details </button>
    </div> -->
 

<!-- Template for Desktop If routingId != 'license' && routingId == 'project' -->
<div *ngIf="routingId != 'license' && routingId == 'project'"  class="col-lg-2 col-md-3 col-sm-2 editSharePlanBtn">
<span *ngIf="pageData && pageData.tools.edit && item.edit && (loginDetails.trial || loginDetails.licenseAvailable)" class="editBtn" (click)="goEdit(item)"><i title="edit"><img src="assets/images/edit.png"></i></span>
<span *ngIf="pageData && pageData.tools.share && item.share && (loginDetails.trial || loginDetails.licenseAvailable)" class="shareBtn" (click)="goShare(item)"><i title="share"><img class="" src="assets/images/share_icon.png"></i></span>
<span *ngIf="routingId == 'project'" class="shareBtn" (click)="goPlan(item)"><i title="lookahead plan"><img class="" src="assets/images/calendar-new.png"></i></span>
<!-- <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span> -->

<div class="dropdown dropup">
   
    <!-- <a type="button" data-toggle="dropdown" ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a> 
 
   <div class="dropdown-menu">
     <a class="dropdown-item" href="#">import</a>
   </div> -->
 </div>

<div class="col-lg-12 col-sm-2 col-2 col-md-12 percentageCompletion">
  <button type="button" data-toggle="tooltip" title="click here for percent complete" class="effortComp" (click)="gopage(item)">&nbsp;&nbsp;&nbsp; % Complete Click for Details </button>
</div>
</div>
<!--  Template for Desktop If routingId != 'license' && routingId != 'project'  -->
<div *ngIf="routingId != 'license' && routingId != 'project'"  class="col-lg-2 col-md-1  editSharePlanBtn1">
<span *ngIf="pageData && pageData.tools.edit  && (loginDetails.trial || loginDetails.licenseAvailable)" class="editBtn" (click)="goEdit(item)"><i title="edit"><img src="assets/images/edit.png"></i></span>
<span *ngIf="pageData && pageData.tools.share  && (loginDetails.trial || loginDetails.licenseAvailable)" class="shareBtn" (click)="goShare(item)"><i title="share"><img class="" src="assets/images/share_icon.png"></i></span>
<span *ngIf="routingId == 'project'" class="shareBtn" (click)="goPlan(item)"><i><img class="" src="assets/images/calendar-new.png"></i></span>
<!-- <span>helo</span> -->
<!-- <div class="col-lg-12 col-sm-2 col-2 col-md-12 percentageCompletion">
  <button type="button" class="effortComp" (click) = "gopage(page)" >      % Complete Click for details </button>
</div> -->
    </div>
  </div>
</div>
<div *ngIf="routingId == 'user-log'">
  <div class="row clearfix app-list userLog" *ngFor="let item of gridListPanelData.responseObj; let i=index">
    <div class="col-lg-12 col-md-12 listPro">
      <div class="row">
        <div class="col-lg-1 col-md-2 imageHeader">
          <img src="assets/images/user-img.png">
        </div>
        <div class="col-lg-11 col-md-10 content" >
          <div class="row">
            <div class="col-lg-2 col-md-4 innerContent">
              <div class="col-lg-12 col-md-6" *ngFor="let formItem of gridListPanelData.items">
                <p class="user-log-val projectField" title="{{item[formItem.field]}}" [class.display-lable]="formItem.label != 'Name' && formItem.label != 'Email' && formItem.label != 'Mobile Number'" >{{item[formItem.field]}}</p>
              </div>
            </div>
            <div class="col-lg-10 col-md-6 myData">
              <div class="row">
                <div [class.display-lable]="formItem.label == 'Name' || formItem.label == 'Email' || formItem.label == 'Mobile Number'" class="col-lg-6" *ngFor="let formItem of gridListPanelData.items">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 crm-input-label">
                      <label class="proLabel" >{{formItem.label}}</label>
                    </div>
                    <div class="col-lg-6 col-md-6 projectField crm-input-field">
                      <label class="proValue" [ngClass]="{'user-log': router.url == '/authenticate/list/user-log'}" *ngIf="formItem.label == 'Last Logged in On'; else elseLable" ><span style="margin-right:10px !important">:</span>{{item[formItem.field]?item[formItem.field]:"User Never Logged in"}}</label>
                      <ng-template #elseLable>
                        <label class="proValue" [ngClass]="{'user-log': router.url == '/authenticate/list/user-log'}"><span style="margin-right:5px !important">:</span>{{item[formItem.field]}}</label>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- License List -->

<div *ngIf="routingId == 'license' && count">
  <div class="row clearfix app-list licenseList" *ngFor="let item of gridListPanelData.responseObj; let i=index">
    <div class="col-lg-12 listPro">
      <div class="row">
        <div class="col-lg-2 col-md-2" [ngClass]="{'col-lg-4' : formItem.label != 'License No'}"[class.display-lable]="formItem.label != 'License No'" *ngFor="let formItem of gridListPanelData.items">{{item[formItem.field]}}</div>
        <div class="col-lg-8 col-md-8">
          <div class="row">
            <div class="col-lg-6 col-md-6" [class.display-lable]="formItem.label == 'License No'" *ngFor="let formItem of gridListPanelData.items">
              <div class="row">
                <div class="col-lg-6 col-md-6 crm-input-label">
                  <!-- (click)="goView(item)"   viewProject feature function  -->
                  <label *ngIf="item[formItem.field] != 'Owner'"  class="proLabel">{{formItem.label}}</label>
                </div>
                <div class="col-lg-6 col-md-4 projectField crm-input-field">
                  <label class="proValue"><span *ngIf="item[formItem.field] != 'Owner'" style="margin-right:10px !important">:</span>{{item[formItem.field]}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 licenseProvide">
          <div>
            <button *ngIf="(item.givenTo != 'Nobody') && (item.givenTo != 'Nobody' && item.gotFrom == 'Owner')" type="button" class="btn licenseBtn btn-primary" (click)="getItBack(item)">Get It Back</button>
            <button *ngIf="item.givenTo == 'Nobody'" type="button" class="btn licenseBtn btn-primary" (click)="openProvide(item)">Provide</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-share-project></app-share-project>






<!-- Modal For Give To-->

<div id="giveToModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Provide License</h5>
      </div>
      <div class="modal-body cus-body">
        <form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
          <div *ngIf="!panels; else elseTableBlock">
            <app-loader></app-loader>
          </div>
          <ng-template #elseTableBlock>
            <div *ngFor="let item of panels">
              <div *ngIf="item.type == 'simple'">
                <div class="give-tp-popup" *ngFor="let formItem of item.items">
                  <app-input-textbox *ngIf="formItem.htmlTag == 'input'" 
                    [inputData]="formItem" [pageData]="panelData" [form]="form" 
                    (notifyInput)="onhandleUserUpdated($event)">
                  </app-input-textbox>
                </div>
              </div>
            </div>
          </ng-template>
        </form>
      </div>
      <div class="modal-footer cus-footer" *ngIf="buttons" >
        <div *ngFor="let item of buttons">
          <app-button [panelData]='pageData' [buttonData]="item" [form]="form"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="getItBack" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title text-center">Message</h5>
      </div>
      <div class="modal-body text-center">
        <p>Remove User. Removing this user will remove their license and make it available for another user. This will not remove the user from any projects.</p>
      </div>
      <div class="col-lg-12 modal-footer cus-footer">
        <div class="row">
          <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="confirmGetItBack()">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


