.proLabel {
  color: #323232;
  text-align: left;
}

.proValue {
  color: #646464;
}

.selectBtn h5 {
  font-family: "LatoRegular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #898989;
}

.selectBtn {
  border: none;
  margin-top: 3%;
  //padding-left: 10%;
  cursor: pointer;
  outline: none;
}

.app-list.clearfix.row {
  border-bottom: 1px solid #e7e4e4 !important;
  margin-bottom: 8px;
  // padding: 10px 0 !important;
}

.row {
  margin-left: 0px !important;
}

.listPro {
  font-size: 16px;
  font-family: "LatoRegular";
  padding: 15px;
}

.editSharePlanBtn {
  margin-top: 15px;
  display: flex;
  //margin-left: 3%;
}

// @media only screen and (min-width: 700px) and(max-width: 991px) {
//   .listPro {
//     font-size: 16px;
//     font-family: "LatoRegular";
//     padding: 0px;
//   }

//   .align-label {
//     margin: 21px 0px 0px 6px;
//   }

//   .editSharePlanBtn {
//     margin-top: 15px;
//     display: flex;
//     //margin-left: 3%;
//   }

//   .textAlign {
//     text-align: left !important;
//   }
// }

.planBtn {
  background-color: #243d66 !important;
  border-color: #243d66 !important;
  color: #fff !important;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  border: none;
  margin: 0 10px;
  height: 30px;
  width: 50px;
  outline: none;
}

.editBtn {
  margin: 0 8px;
  cursor: pointer;
  outline: none;
}

.shareBtn {
  margin: 0 8px;
  cursor: pointer;
  outline: none;
}

.checkBox {
  margin: 6px -7px;
}

.projectListAlign {
  margin: 0 55px;
}

.modal-content {
  border-radius: 0;
  border: 1px solid #707070;
}

.projectField {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

// CSS for checkbox added by Nandhini

.conta {
  padding-top: 2px;
  position: relative;
  padding-left: 0px;
  margin-bottom: 15px;
  color: #474747;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 90;
}

/* Hide the browser's default checkbox */
.conta input {
  position: absolute;
  opacity: 0;
  top: 19px;
}

/* Create a custom checkbox css*/
.checkmark {
  position: absolute;
  // <<<<<<< HEAD
  //     // top: 3px;
  // =======
  top: 20px;
  // >>>>>>> license
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #b3b3b4;
}

/* On mouse-over, add a grey background color */
input:hover~.checkmark {
  background-color: transparent;
  border: 1px solid #b3b3b4;
}

/* When the checkbox is checked, add a blue background */
input:checked~.checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  color: #243d66;
  border: solid #243d66;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.licenseBtn {
  background-color: #243d66 !important;
  color: #fff !important;
  border: none !important;
  font-size: 14px !important;
  border-radius: 0px;
  margin-top: 27px;
  padding: 3px 12px;
}

.licenseBtn:focus {
  box-shadow: none !important;
}

#giveToModal {
  font-family: LatoRegular !important;

  .modal-dialog {
    .modal-content {
      .modal-header {
        display: block;

        .modal-title {
          font-family: LatoSemiBold !important;
        }
      }

      .cus-body {
        width: 100% !important;
        margin: 0px auto !important;
        padding-top: 30px !important;

        .required:after {
          content: "*";
          color: #000;
        }

        .form-group {
          margin-top: -5px !important;
        }

        .give-tp-popup {
          padding: 10px 0px !important;
        }
      }

      .cus-footer {
        border-top: none !important;
        width: 75% !important;
        margin: 0px auto !important;
        padding: 0rem 4rem !important;
        padding-bottom: 35px !important;

        button {
          color: #fff !important;
          background-color: #243d66 !important;
          // padding: 3px 15px !important;
          border: none !important;
          border-radius: 0px !important;
          font-size: 14px !important;
        }
      }
    }
  }
}

#getItBack {
  .modal-dialog {
    .modal-content {
      .modal-header {
        display: block !important;

        .close {
          padding: 0.5rem !important;
        }

        .modal-title {
          font-family: LatoSemiBold !important;
        }
      }

      .modal-body {
        p {
          margin-bottom: 0px !important;
        }
      }

      .cus-footer {
        display: block !important;

        button {
          background-color: #243d66;
          color: #fff;
          padding: 3px 12px;
          margin-top: 3px;
          border: none;
          border-radius: 0px;
        }
      }
    }
  }
}

.input-textbox {
  padding: 10px;
}

.display-lable {
  display: none;
}

.pagehead {
  padding-bottom: 0px;
}

.purchased {
  margin-top: 14px;
}

.cursor-true {
  cursor: not-allowed;
}

.pointer-none {
  pointer-events: none;
}

.user-log-val {
  margin-bottom: 0.5rem !important;
}

.project-list-pro {
  display: flex;
}

.percentageCompletion {
  margin: 42px 0px 0 0px;
  right: 124px;
}

.pagination-margin {
  margin-top: 60px;
  padding: 0px 40px 0px 0px;
}

.effortComp {
  border: none;
  color: white;
  background-color: #243d66;
  font-size: 12px;
  cursor: pointer;
}

@media screen and(min-width: 320px) and (max-width: 767px) {
  .editSharePlanBtn {
    display: none;
  }

  .checkmark[_ngcontent-c6] {
    position: absolute;
    top: 6px;
    left: -8px;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: 1px solid #b3b3b4;
  }

  .pagination-margin {
    margin-top: 0px !important;
  }

  .top-margin {
    margin-top: 0px !important;
  }

  .proLabel[_ngcontent-c6] {
    color: #323232;
    padding: 0px 0px 0px 0px;
    text-align: left;
    width: 100%;
  }

  .align-label-list {
    margin: 14px 0 0 14px;
  }

  .listPro[_ngcontent-c6] {
    font-size: 16px;
    font-family: "LatoRegular";
    padding: 0px;
  }

  .zero_padding {
    padding: 0px !important;
  }

  .effortComp[_ngcontent-c6] {
    border: none;
    color: white;
    background-color: #243d66;
    cursor: pointer;
    margin-left: 110px;
    height: 139%;
    font-size: 14px;
    width: 100%;
  }

  .percentageCompletion {
    margin: 0px 0px 0 0px;
    // right: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media screen and(min-width: 768px) and (max-width: 992px) {
  .pageNations {
    margin-top: -75px;
  }
  .licenseList {
    padding-left: 0px !important;
  }
  .purchased {
    padding-left: 2px !important;
  }
  .userLog {
    padding-left: 10px !important;
  }pageNations

  .percentageCompletion {
    margin: 42px 0px 0 0px;
    right: 104px;
    max-width: 80%;
    position: relative;
    padding: 0 0 0 0 !important;
  }

  .projectPage {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0px !important;
    white-space: nowrap;
    width: 105% !important;
  }

  .userPermission {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0px !important;
    white-space: nowrap;
    width: 110% !important;
  }

  .user-log {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0px !important;
    white-space: nowrap;
    width: 140% !important;

  }

  .text-center {
    text-align: left !important;
  }

  // .editSharePlanBtn {
  //   .editBtn {
  //     .edit {
  //       img {
  //         margin-right: 5px !important;
  //       }
  //     }

  //     margin-right: 5px;
  //     cursor: pointer;
  //     outline: none;
  //   }
  // }

  // .shareBtn {
  //   .share {
  //     img {
  //       margin-right: 11px;
  //     }
  //   }

  //  margin-right: 5px;
  //   cursor: pointer;
  //   outline: none;
  // }

  // .percentageCompletion {
  //   margin: 42px 0px 0 0px;
  //   right: 124px;
  //   min-width: 109%;
  // }

  .licenseBtn {
    background-color: #243d66 !important;
    color: #fff !important;
    border: none !important;
    font-size: 14px !important;
    border-radius: 0px;
    margin-top: 27px;
    padding: 3px 12px;
    margin-left:11px;
  }

  .licenseProvide {
    left: 32px;
  }

  .listPro {
    margin-bottom: 11px !important;
  }

  .editSharePlanBtn1 {
    margin-top: 1px;
    display: -webkit-inline-box;
    left: 1rem !important;
    top: 1rem !important;
  }

  .crm-input-label {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .crm-input-input {
    padding-right: 0px !important;
    padding-left: 15px !important;
  }

  .myData {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .innerContent {
    position: relative;
    right: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .content {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .imageHeader {
    max-width: 12.666667%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .projectField {
    padding-left: 10px !important;
    text-overflow: ellipsis;
    overflow: unset;
    padding-right: 0px !important;
    white-space: nowrap;
    width: 260%;
    ;
  }

  .user-log-val {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0px !important;
    white-space: nowrap;
    width: 260%;
    ;
  }

  .pagination-margin {
    margin-top: 0px !important;
    padding: 0px 20px 0px 0px;
  }

  .zero_padding {
    padding: 0px !important;
    //margin: 0px 0px 0px 14px
  }

  .editSharePlanBtn {
    // margin-top: 0px !important;
    display: -webkit-inline-box;
    // left: 4rem;
    left: 69px;
    top: 30px;
    padding: 0 0 0 0 !important;

  }

  .app-list.clearfix.row {
    border-bottom: 1px solid #dadada !important;
    margin-bottom: 8px;
    margin-top: 18px;
    padding-left: 8px;
    // padding: 10px 0 !important;
  }
}

#giveToModal {
  font-family: LatoRegular !important;

  .modal-dialog {
    .modal-content {
      .modal-header {
        display: block;

        .modal-title {
          font-family: LatoSemiBold !important;
        }
      }

      .cus-body {
        width: 100% !important;
        margin: 0px auto !important;
        padding-top: 30px !important;

        .required:after {
          content: "*";
          color: #000;
        }

        .form-group {
          margin-top: -5px !important;
        }

        .give-tp-popup {
          padding: 10px 0px !important;
        }
      }

      .cus-footer {
        border-top: none !important;
        width: 70% !important;
        margin: 0px auto !important;
        padding: 0rem 4rem !important;
        padding-bottom: 35px !important;

        button {
          color: #fff !important;
          background-color: #243d66 !important;
          // padding: 3px 15px !important;
          border: none !important;
          border-radius: 0px !important;
          font-size: 14px !important;
        }
      }
    }
  }
}


.top-margin {
  margin-top: 20px !important;
}

// @media screen and(min-width: 768px) and (max-width: 992px) {
//   .projectfield-sm {
//     margin: 15px 0 0 15px;
//   }
// }

// @media screen and(min-width: 993px) and (max-width: 1024px) {
//   .projectfield-sm {
//     margin: -2px 0 0 -3px;
//   }

//   .editSharePlanBtn {
//     display: flex;
//   }
// }

// display: flex;

@media only screen and (max-width: 767px) {
  // .top-margin {
  //   margin-top: 20px !important;
  //   position: absolute;
  // }
  //   .textAlign {
  //     text-align: left !important;
  //     padding-right: 0px !important;
  //   }

  //   .projectField {
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     padding-left: 5px;
  //     width: 50%;
  //   }

  //   .editSharePlanBtn {
  //     margin-top: 15px;
  //     //margin-left: 3%;
  //     display: none;
  //   }

  //   .planShareButtonGrid {
  //     margin-top: 15px;
  //     display: flex;
  //   }
  // }
  .catchAllbtn {
    margin-top: 3px;
    position: relative;
    right: 3%;
    padding-right: 3px;
    float: right;
  }
}

@media screen and(min-width: 768px) and (max-width: 992px) {
  .catchAllbtn {
    margin-top: 15px;
    //padding: 0 0 0 9%;
    position: relative;
    right: 1%;
    display: none;
  }

  .checkmark[_ngcontent-c6] {
    position: absolute;
    top: 6px;
    left: -8px;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: 1px solid #b3b3b4;
  }

  .proLabel[_ngcontent-c6] {
    color: #323232;
    padding: 0px 0px 0px 0px;
    text-align: left;
    width: 100%;
  }

  .align-label-list {
    margin: 14px 0 0 14px;
  }

  .listPro[_ngcontent-c6] {
    font-size: 16px;
    font-family: "LatoRegular";
    padding: 0px;
  }

  .zero_padding {
    padding: 0px !important;
  }
}

/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media screen and (min-width : 992px) and (max-width : 1200px) {
  .grid-list-margin {
    padding-left: 30px !important;
  }

  .licenseProvide {
    .licenseBtn {
      margin-left: 4px
    }


  }

  .modal-title {
    margin-left: 12px !important;
    text-align: left !important;
  }

  #giveToModal {
    font-family: LatoRegular !important;

    .modal-dialog {
      .modal-content {
        .modal-header {
          display: block;

          .modal-title {
            font-family: LatoSemiBold !important;
          }
        }

        .cus-body {
          width: 100% !important;
          margin: 0px auto !important;
          padding-top: 30px !important;

          .required:after {
            content: "*";
            color: #000;
          }

          .form-group {
            margin-top: -5px !important;
          }

          .give-tp-popup {
            padding: 10px 0px !important;
          }
        }

        .cus-footer {
          border-top: none !important;
          width: 81% !important;
          margin: 0px auto !important;
          padding: 0rem 4rem !important;
          padding-bottom: 35px !important;

          button {
            color: #fff !important;
            background-color: #243d66 !important;
            // padding: 3px 15px !important;
            border: none !important;
            border-radius: 0px !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  .crm-input-label {
    white-space: nowrap;
  }

  .projectList {
    margin-left: -5px;
    ;
  }

  .effortComp {
    white-space: normal;
    width: 157% !important;
    border: none;
    color: white;
    background-color: #243d66;
    font-size: 12px;
    cursor: pointer;
    text-align: le;
    margin-left: -4px;
  }

  .projectField:hover+label {
    display: block;
  }

  .proValueHover {
    z-index: 99;
    position: absolute;
    background-color: black;
    width: 50%;
    display: none;
    color: white;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
  }


  .proValue1 {
    white-space: nowrap;
    width: 122%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .projectField {
    text-overflow: ellipsis !important;
    ;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
  }

  .top-margin {
    margin-top: 0px !important;
  }
}