<form [formGroup]="form" autocomplete="off">
    <!-- <div class="btnPart" *ngFor="let btnItem of panelData.ComponentItem">
        <app-button [buttonData]="btnItem" [panelData]="panelData" [form]="form"></app-button>
    </div> -->
    <div class="app-panels" *ngFor="let item of panelData.panels">
        <app-simple-panel *ngIf="item.type == 'simple'" [simplepanelData]="item" [panelData]="panelData" [form]="form"></app-simple-panel>
        <app-simple-list-panel *ngIf="item.type == 'simpleList'" [simpleListPanelData]="item" [form]="form" ></app-simple-list-panel>
        <app-grid-list *ngIf="item.type == 'gridList'" [gridListPanelData] = "item" [form]="form"></app-grid-list>
        <app-grid-view *ngIf="item.type == 'gridView'" [gridViewPanelData] = "item" [form]="form"></app-grid-view>
    </div>
    <div class="btnPart" *ngFor="let btnItem of panelData.ComponentItem">
        <app-button [buttonData]="btnItem" [panelData]="panelData" [form]="form"></app-button>
    </div>
</form>
