<div class="main">
  <div class="container-fluid">
    <div class="row edit-profile">
      <div class="col-lg-12 col-md-12 flex-display">
        <div class="col-lg-6 col-md-6">
          <div class="head-content">
            <p><span> Edit Profile</span></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-right button-save">
          <div class="button-common">
            <button [routerLink]="['/landing']" class="cancel-button">Cancel</button>
            <button class="save-button" (click)="saveProfile()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row body-content">
      <div class="col-lg-8 col-md-8 text-fiels">
        <form  #profile="ngForm">
          <div class="col-lg-12 col-md-12 common-field first-name">
            <div class="col-lg-4 col-md-4 text-right">
              <label>First Name</label>
            </div>
            <div class="col-lg-6 col-md-6">
              <input type="text" class="form-control" [(ngModel)]="userDetails.firstName" name="FirstName">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 common-field last-name">
            <div class="col-lg-4 col-md-4 text-right">
              <label>Last Name</label>
              <sup class="required">*</sup>
            </div>
            <div class="col-lg-6 col-md-6">
              <input type="text" class="form-control lastName" [(ngModel)]="userDetails.lastName"  name="LastName" #lName="ngModel" required>
              <span *ngIf="lName.errors && (lName.touched)" class="alert alert-danger input-absolute">
                <span [hidden]="!lName.errors.required">Last Name Required</span>
              </span>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 common-field company-field">
            <div class="col-lg-4 col-md-4 text-right">
              <label>Company</label>
            </div>
            <div class="col-lg-6 col-md-6">
              <input type="text" class="form-control" [(ngModel)]="userDetails.companyName" name="CompanyName" readonly style="cursor:not-allowed">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 common-field mobile-number">
            <div class="col-lg-4 col-md-4 text-right">
              <label>Business Phone</label>
            </div>
            <div class="col-lg-6 col-md-6">
              <input type="text" class="form-control" [(ngModel)]="userDetails.contactNo" name="businessPhone" placeholder="+1-542-754-3070">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 common-field mail-id">
            <div class="col-lg-4 col-md-4 text-right">
              <label>Business Email Id</label>
              <sup class="required">*</sup>
            </div>
            <div class="col-lg-6 col-md-6">
              <input type="text" class="form-control"[(ngModel)]="userDetails.email" name="EmailID" readonly style="cursor:not-allowed">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 common-field mail-id">
            <div class="col-lg-4 col-md-4 text-right">
              <label>Time Zone</label>
            </div>
            <div class="col-lg-6 col-md-6">
                <ng-select class="cus-form-control form-control" [(ngModel)]="userDetails.timeZone" name="TimeZone">
                <ng-option *ngFor="let item of timeZone" value="{{item.value}}">{{item.key}}</ng-option>
              </ng-select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>