.main {
    padding: 0px !important;

    .container-fluid {
        .flex-display {
            display: flex;
        }

        .row {
            &.edit-profile {
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                position: fixed;
                width: 100%;
                //z-index: 1111;
                background-color: #fff;
            }

            .col-lg-12 {
                .head-content {
                    margin: 13px 0 -4px 12px;

                    p {
                        span {
                            font-family: LatoSemiBold !important;
                            font-size: 20px;
                        }
                    }
                }

                .button-save {
                    button {
                        background-color: #243d66 !important;
                        border-color: #243d66 !important;
                        color: #fff !important;
                        border-radius: 0 !important;
                        cursor: pointer;
                        font-size: 16px;
                        padding: 5px 17px;
                        outline: none;
                        font-family: LatoMedium !important;

                        &:nth-child(1) {
                            margin-right: 25px;
                        }
                    }

                    .button-common {
                        margin: 10px 15px 0 0;
                    }
                }
            }
        }

        .body-content {
            .col-lg-8 {
                margin: 0 auto;

                .common-field {
                    display: flex;
                    margin-top: 30px;

                    &:nth-child(1) {
                        margin-top: 96px;
                    }

                    .col-lg-6 {
                        padding: 0px 0 0 8px;
                    }

                    label {
                        font-size: 14px;
                        color: #323232;
                        font-family: latoRegular;
                        margin-top: 7px;
                    }

                    input {
                        width: 100%;
                        height: 38px;
                        border: 1px solid lightgray;
                        outline: none;
                        padding: 0 0 0 10px;

                        &:nth-child(3) {
                            background-color: #f7f7f7 !important;
                        }

                        // &:nth-child(2) {
                        //     background-color: #f7f7f7 !important;
                        // }
                    }

                }

                .company-field,
                .mail-id {
                    .col-lg-6 {
                        input {
                            background-color: #f7f7f7;
                        }
                    }
                }
            }
        }
    }
}

.cus-form-control {
    padding: 0px !important;
    border: none !important;
}

.text-fiels {
    margin-bottom: 35px !important;
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .text-right {
        text-align: left !important;
    }

    .button-save {
        text-align: left !important;
    }

    .text-fiels {
        margin-bottom: 0px !important;
        margin-left: 0px !important;
    }

    .button-common {
        float: right;
    }
}


/** Tab potrait responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .text-right {
        text-align: left !important;
    }

    .button-save {
        text-align: left !important;
    }

    .text-fiels {
        margin-bottom: 0px !important;
        margin-left: 0px !important;
    }

    .button-common {
        float: right;
    }

    .common-field {
        position: relative;
        min-width: 132%;
    }
    .required {
        top: 2px;
        color: red;

    }
}