<!--<comment>Percentage calculation Template </comment> -->
<ngx-spinner bdOpacity=0.9 bdColor="rgba(39,39,27,0.35)" size="large" color="rgba(238,217,12,0.97)" type="ball-spin-clockwise"></ngx-spinner>
<div class="container container-border" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 listHeaders">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 tableTitle">
            <ul class="breadcrumb">
                <!-- {{noRecords}} -->
                <li class="breadcrumbs-first" style="cursor:pointer" (click)="_route_navigation()">projects ></li>
                <li class="breadcrumb-projectName" class="breadcrumbs-middle" title={{projectDetails.projectName}}
                    style="cursor:pointer;" (click)="goRouterPage()">{{projectDetails.projectName}}</li>
                <li style="padding: 0 3px 0 8px;" class="breadcrumbs-middle">></li>
                <li class="breadcrumbs-last">percent Complete </li>
            </ul>
        </div>
        <div class="row" style="margin: -1px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row" style="margin: 0px 0 -74px 0;">
                    <div class="col-lg-5 col-md-12 percentComplete" style="padding-top: 12px;margin-left: -56px;">
                        <div class="main">
                            <div class="col-lg-12 col-md-12 ganttchart-icons filter">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 left-padding" style="margin-left: 0px;">

                                            
                                        <div class="row filter_style" style="height:38px" *ngIf = "filterData">
                                            <!-- {{filterItem | json}} -->
                                            <!-- <app-input-multiselect [selectedData]="getFilteredData"> -->
                                            
                                                <select id="option-droup-demo" multiple="multiple" name="selectMultiple" [(ngModel)]="filterItem "  >
                                                    <optgroup id="optionhead" label="{{item.key}}" *ngFor="let item of filterItem | keyvalue let i = index">
                                                        <option value="{{subItem.projectCompanyId?subItem.projectCompanyId:subItem}}" *ngFor="let subItem of item.value; ">{{subItem.name?subItem.name:subItem}}</option>
                                                    </optgroup>
                                                </select>       
                                                                                   
                                            <!-- </app-input-multiselect> -->
                                               <!-- {{filteredItems | json}} -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 right-padd">
                                        <select [(ngModel)]="selectedValue" class="sortby" id="selectopt" name="Sort By"
                                            placeholder="SortBy" (change)="_sort_record(selectedValue)">
                                            <option value="sort" disabled selected>Sort by</option>
                                            <!-- <option value="" disabled selected>Sort By</option> -->

                                            <option *ngFor="let option of options" [ngValue]="option">
                                                {{option.name}}
                                            </option>
                                        </select>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-10">
                                                <div class="col-lg-12 date-picker-style" style="margin: 0px 0px 27px 226px;">
                                                    <div class="row" style="display: block;">
                                                        <div class="col-lg-6 label-font report-rotate-date">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form #myForm="ngForm">
                                <div #gantt_here id="print-section"></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12  padding0 datepicker-div">
                        <div class="col-lg-6 col-md-6 padding0">

                            <!-- <div class="col-lg-4"> -->
                            <app-date-range-picker (dateRangeSelected)="getDateRange($event)"></app-date-range-picker>
                            <!-- </div> -->
                        </div>
                        <div class="col-lg-9 searchBox" style="top: -42px;width: 5%;left: 391px;">
                            <span class="search-close" *ngIf="xmark" (click)="xclick()" style="
                          left: 234px;
                          top: 3px;"><i class="fa fa-times" aria-hidden="true"></i></span>
                           <div class="dropdown col-lg-2">
                                <button type="button" class="cus-print-btn dropdown-toggle" data-toggle="dropdown">
                                  <img src="assets/images/icons/catch_all.svg">
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item dropdown-font" data-toggle="modal" data-target="#projectPlan" (click)="goEmail()"
                                    style="cursor:pointer">Send email</a>
                                    <a class="dropdown-item dropdown-font" (click)="printpdf()" style="cursor:pointer" >Export PDF</a>
                                  </div>
                            </div>
                            
                            <div class="col-lg-10 search-alignment-percent input-search-div">

                                <input type="text" class="input-search-icon" name="query" [(ngModel)]="query" id="searchtext"
                                    (keydown)="showXmark()" (keyup.enter)=" _search_Record()" class="forms-ctrl"
                                    placeholder="Search " style="position: relative">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row datalist_container">
            <div class="col-lg-12">
                <div class="row" style="margin: 0px;border-bottom: 1px solid #ececec;" *ngFor="let datalist of listData; let i =index;">
                    <div class="col-lg-5 col-md-4 ParentTask elipsis-text" title="{{datalist.taskDescription}}">
                        {{datalist.taskId+"&nbsp;&nbsp;"+datalist.taskDescription | titlecase}}
                        <!-- [ngStyle]="{'background-color': style1 ? 'red'  -->
                        <!-- [ngClass]="(step=='step1')?'my-class1':'my-class2'" -->
                        <a data-toggle="collapse" class="d-sm-block d-lg-none" href="#demo{{i}}"></a>
                    </div>
                    <div class="col-lg-5 col-md-7 progress-bar-margin">
                        <div class="row" style="margin:0px">
                            <div class="col-lg-7 col-md-6 col-sm-7 mob-progress paddingDesk">
                                <div class="progress" *ngIf="datalist.percentageCompletion">
                                    <div class="progress-bar-success" *ngIf="datalist.trackingStatus == 'On Track'"
                                        role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': datalist.percentageCompletion +'%'}">
                                        <span class="percent-complete-tag">{{datalist.percentageCompletion}}%
                                        </span>
                                    </div>
                                    <div class="progress-bar-warning" *ngIf="datalist.trackingStatus == 'Need Attention'"
                                        role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': datalist.percentageCompletion +'%'}">
                                        <span class="percent-complete-tag">{{datalist.percentageCompletion}}%
                                        </span>
                                    </div>
                                    <div class="progress-bar-alert" *ngIf="datalist.trackingStatus == 'Behind Schedule'"
                                        role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{'width': datalist.percentageCompletion +'%'}">
                                        <span class="percent-complete-tag">{{datalist.percentageCompletion}}%</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-6 trackingStatusBoar">
                                <div class="col-lg-10 col-md-10 col-12 text-right trackingStatus">
                                    {{datalist.trackingStatus}} </div>
                                <div class="col-lg-2 col-12 col-md-2 tasksquare">
                                    <div class="square" *ngIf="datalist.trackingStatus == 'Behind Schedule'"
                                        style="height: 20px;width: 20px;background-color: #BC2D2D;"></div>
                                    <div class="square" *ngIf="datalist.trackingStatus == 'On Track'"
                                        style="height: 20px;width: 20px;background-color: #11B438;"></div>
                                    <div class="square" *ngIf="datalist.trackingStatus == 'Need Attention'"
                                        style="height: 20px;width: 20px;background-color: #D4A610;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div *ngIf="datalist.subTaskDetails.length == 0" class="col-md-1 col-lg-2 col-12 expandCollapse d-lg-block d-xl-block" id="task">
                        <a data-toggle="collapse" class="taskbutton collapsed" href="#demo{{i}}"></a>
                        <!-- <a *ngIf="datalist.subTaskDetails.length >0"   data-toggle="collapse" class="taskexpanded collapsed" href="#demo{{i}}"></a> -->
                    </div>
                    <div *ngIf="datalist.subTaskDetails.length >0" id="subtask" class="col-md-1 col-lg-2 col-12 d-lg-block d-xl-block blubuttonCollapsed" id="subtask">
                        <!-- <a *ngIf="datalist.subTaskDetails.length == 0" data-toggle="collapse" class="taskbutton collapsed" href="#demo{{i}}"></a> -->
                        <a data-toggle="collapse" class="taskexpanded collapsed" href="#demo{{i}}"></a>
                    </div>


                    <div class="container-fluid" id="" style="margin: 0px 0px 0px -29px;">

                        <div class="col-lg-12 collapse in" id="demo{{i}}" style="padding: 0px 0px 0px 10px">
                            <div class="row" style="margin:0px" *ngIf="datalist.subTaskDetails.length == 0">
                                <div class="col-lg-6 col-12 details-list">

                                    <div class="row" style="margin: 5px 0px">
                                        <div class="col-6 col-lg-6"> Task Start Date </div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{datalist.startDate}}</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 details-list">
                                    <div class="row" style="margin:5px 0px">
                                        <div class="col-6 col-lg-6"> Task Finish Date</div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{datalist.finishDate}} </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 details-list">
                                    <div class="row" style="margin:5px 0px">
                                        <div class="col-6 col-lg-6"> Task Completion Date</div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{datalist.targetCompletionDate}} </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 details-list">
                                    <div class="row" style="margin:5px 0px">
                                        <div class="col-6 col-lg-6"> Deadline</div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{datalist.deadlineDate}} </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 details-list">
                                    <div class="row" style="margin:5px 0px">
                                        <div class="col-6 col-lg-6"> Total Effort in Days</div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{datalist.totalNoOfWorkingDays}} </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-12 details-list">
                                    <div class="row" style="margin:5px 0px">
                                        <div class="col-6 col-lg-6"> Remaining Effort in Days</div>
                                        <div class="col-1 col-lg-1"> : </div>
                                        <div class="col-5 col-lg-5 list-date-width"> {{+datalist.totalNoOfWorkingDays - +datalist.numberOfCompletedDays}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="datalist.subTaskDetails.length >0" class="col-lg-12 ">
                                <div class="row " style="    
                                border-top: 1px solid;
                                padding: 12px 0 14px 0px;
                                border-bottom: 1px solid;
                                border-color: #e0d3d3a3;"
                                    *ngFor="let subtasks of datalist.subTaskDetails; let j = index">

                                    <div class="row" style="width:100% ; padding: 0 0px 0 15px; margin: 0 0 0 0;">

                                        <div class="col-lg-5 col-md-4 elipsis-text" title="{{subtasks.subTaskDescription}}">
                                            <!-- <a data-toggle="collapse" class="taskbutton collapsed d-sm-block d-lg-none" href="#demo1{{i}}" ></a> -->
                                            {{subtasks.subTaskId+"&nbsp;&nbsp;"+subtasks.subTaskDescription |
                                            titlecase}}

                                        </div>
                                        <div class="col-lg-5 col-12 col-md-4 text-right arrangeExpand" >
                                            <div class="col-lg-7 col-12">
                                                <div class="progress" *ngIf="subtasks.percentageCompletion">
                                                    <div *ngIf="subtasks.trackingStatus == 'On Track'" class="progress-bar-success"
                                                        role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100" [ngStyle]="{'width': subtasks.percentageCompletion +'%'}">
                                                        <span class="percent-complete-tag">{{subtasks.percentageCompletion}}%</span>
                                                    </div>
                                                    <div *ngIf="subtasks.trackingStatus == 'Behind Schedule'" class="progress-bar-alert"
                                                        role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100" [ngStyle]="{'width': subtasks.percentageCompletion +'%'}">
                                                        <span class="percent-complete-tag">{{subtasks.percentageCompletion}}%</span>
                                                    </div>
                                                    <div *ngIf="subtasks.trackingStatus == 'Need Attention'" class="progress-bar-warning"
                                                        role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100" [ngStyle]="{'width': subtasks.percentageCompletion +'%'}">
                                                        <span class="percent-complete-tag">{{subtasks.percentageCompletion}}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12" style="display: flex;position: relative;">
                                                <div class="col-lg-10 col-10 taskstatus">
                                                    {{subtasks.trackingStatus}} </div>
                                                <div class="col-lg-2 squareButton">
                                                    <div class="square"
                                                        *ngIf="subtasks.trackingStatus == 'Behind Schedule'"
                                                        style="height: 20px;width: 20px;background-color: #BC2D2D;">
                                                    </div>
                                                    <div class="square" *ngIf="subtasks.trackingStatus == 'On Track'"
                                                        style="height: 20px;width: 20px;background-color: #11B438;">
                                                    </div>
                                                    <div class="square" *ngIf="subtasks.trackingStatus == 'Need Attention'"
                                                        style="height: 20px;width: 20px;background-color: #d4a610;">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2" style="left: 30px;">
                                            <a data-toggle="collapse" class="taskbutton collapsed subtaskExpandCollapse" href="#sample{{i}}{{j}}"></a>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="col-lg-12 col-12 collapse expand" id="sample{{i}}{{j}}" style="padding-left: 20px;margin-bottom: -15px">
                                                <div class="row" style="margin: 16px 0px 10px 0px;">
                                                    <div class="col-lg-6 col-12 " style="padding: 0px">

                                                        <div class="row" style="margin:5px 15px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;">Task Start Date</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5 list-date-width"> {{subtasks.startDate}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="row" style="margin:5px 0px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;"> Task Finish Date</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5 list-date-width"> {{subtasks.finishDate}} </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="row" style="margin:5px 0px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;"> Task Completion Date</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5">
                                                                {{subtasks.targetCompletionDate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12" style="padding: 0px">
                                                        <div class="row" style="margin:5px 15px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;"> Deadline</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5"> {{subtasks.deadlineDate}} </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="row" style="margin:5px 0px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;"> Total Effort in Days</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5">
                                                                {{subtasks.totalNoOfWorkingDays}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="col-lg-6 col-12">
                                                        <div class="row" style="margin:5px 0px">
                                                            <div class="col-lg-6 col-6" style="padding: 0px;">Remaining Effort in Days</div>
                                                            <div class="col-lg-1 col-1"> : </div>
                                                            <div class="col-lg-5 col-5"> {{+subtasks.totalNoOfWorkingDays - +subtasks.numberOfCompletedDays}} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12  pagination-margin">

            <app-pagination (goPagination)=getPaginationData($event) *ngIf="listData && listData.length>0; else Norecordfound"></app-pagination>
        </div>
    </div>
    <!-- <comment> ***END*** </comment> -->

    <ng-template #Norecordfound>
        <div *ngIf="noRecords == false" class="text-center" style="margin-top:176px">
            <h4>No Records Found</h4>
        </div>
    </ng-template>

        <!-- send email page-->
        <div class="project-paln-container">
            <!-- The Modal -->
            <div class="modal fade" id="projectPlan" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg modal-contain">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <div class="row header-row">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="col-lg-12" style="padding:0px">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Send PercentComplete Plan</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row autoselect-row">
                                <div class="col-lg-10">                               
                                        <div>
                                            <app-input-multiselect  (sendEmailList)="getMessage($event)" [noUsers]="noUsers" [checklist]="emailUsers"></app-input-multiselect>
                                        </div>
                                        <div class="row footer-sendproject-row">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6 footer-send-btn">
                                                <button (click)="sendProjectPlan(projectDetails)">Send PercentComplete Plan</button>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      