// @import url("../../../assets/css/bootstrap-multiselect.css");

.listHeaders {
  padding: 0px 0px 21px 0px;
  margin: 1px 0px 0px 0px;
}

.container-border {
  margin-left: 27px;
  max-width: 1228px;
  font-size: 16px;
  font-family: LatoRegular;
}

.tableTitle {
  font-size: 16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e4dadae8;
  padding: 0px 0 0px 0px;
  //padding-left: 0px;
}

.progress-bar-success {
  background-color: #11b438;
}

.progress-bar-alert {
  background-color: #bc2d2d;
}

.progress-bar-warning {
  background-color: #d4a610;
}

.progress {
  display: flex;
  height: 1.3rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #c3c3c3;
  border-radius: 0.21rem;
  text-align: center;
  color: rgb(22, 21, 21);
}

.ParentTask {
  padding: 13px 0 13px 0px;
  margin: 0px 0px 0px 0px;
  font-family: LatoSemiBold;
}

.paddingDesk {
  padding-left: 26px;
}

.right-padd {
  padding-left: 23px !important;
}

.taskbutton {
  float: right;
  //border-radius: 50%;
  border: 0px;
  /* position: relative; */
  width: 22px;
  height: 22px;
  vertical-align: middle;
  padding: 0px 0 0px 0;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: center;
  display: flex;
  /* text-align: center; */
  //border: 1px solid;
  color: #191515;
  position: relative;
  top: -5px;
  //border-color: black;
  //background: #d0bbbb0d;
  background-repeat: no-repeat;
  background: url("../../../assets/images/extendes.svg");
  //margin: 24px 15px 0 1px;
}

.collapsed {
  background-repeat: no-repeat;
  background: url("../../../assets/images/icons/collapse.svg");
}

.div #option-droup-demo {
  background: #d4a610;
}

.tasksquare {
  margin: 0 0 0 0;
  padding: 2px 0 0 0;
  position: absolute;
  right: -31px;
  top: 0px;
}

.trackingStatus {
  padding: 0px 0 0 0px;
  margin: 0 0 0 13px;
  font-size: 16px;
}

//for mDesktop blue button exapnd and collapse
.blubuttonCollapsed {
  margin-top: 20px;
  right: 16px;
}

.arrangeExpand {
  display: flex;
  left: 30px;
}

// -
.taskexpanded {
  float: right;
  border: 0px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  padding: 0px 0 0px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #191515;
  position: relative;
  top: -5px;
  background: url("../../../assets/images/expand_blue.svg") !important;
}

#subtask {
  .collapsed {
    background: url("../../../assets/images/collaspe_blue.svg") !important;
  }
}

.btn-group {
  margin: 3px 0px 0px 18px;
}

.percent-complete-tag {
  padding: 0 0 0 1px;
  color: white;
  position: relative;
  top: 1px;
}

.breadcrumb {
  padding: 0px;
  margin: 10px 0px;
  background-color: transparent !important;
  font-family: LatoSemiBold;
  text-transform: capitalize;
  font-size: 20px;
}

.breadcrumb {
  li {
    outline: none;
    border: 0px;
  }

  li:hover {
    outline: none;
    border: 0px;
  }
}

.dropdown {
  position: relative;
  left: 272px;
  top: -1px;
}

.pagination-margin {
  margin: 0px 0px 0px 0px;
}

.ganttchart-icons {
  height: 80px;
  padding: 0px 0px 0px 0px !important;
  margin: 0px !important;
}

.datalist_container {
  margin: 0 0 0 -15px;
}

.progress-bar-margin {
  margin: 14px 0px 0px 0;
}

.padding0 {
  margin-top: -6px;
  padding-left: 71px;
}

.expandCollapse {
  margin-top: 20px;
  right: 16px;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .container-border {
    margin-left: 12px;
    max-width: 1228px;
    font-size: 14px;
    font-family: LatoRegular;
  }

  .breadcrumb {
    padding: 0px;
    margin: 5px 0px;
    background-color: transparent !important;
    font-family: LatoSemiBold;
    text-transform: capitalize;
    font-size: 14px;
  }

  .paddingDesk {
    padding-left: 0px;
  }

  .datalist_container {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
  }

  .padding0 {
    // padding: 0px;
  }

  .mob-progress {
    width: 50%;
  }

  .mob-progress-msg {
    width: 30%;
  }

  .progress-bar-margin {
    margin: 0px;
    margin-bottom: 10px;
  }

  .details-list {
    padding: 0px;
  }

  .list-date-width {
    flex: 0 0 36.666667%;
    max-width: 36.666667%;
    padding: 0px;
  }
}

.sortby {
  width: 100%;
  border-color: #ccc;
  height: 38px;
  color: #2f2f29;
  background-color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: "LatoRegular";
  padding-left: 8px;
  top: 3px;
}

.searchBox {
  width: 248px;
  font-size: 16px;
}

@media only screen and (max-width: 567px) {

  .filter,
  .left-padding,
  div.filter-button {
    background: url("../../../assets/images/filter.svg");
    display: none;
  }

  .sortby {
    background: url("../../../assets/images/sort.svg");
    display: none;
  }

  .arrangeExpand {
    display: flex;
    left: -17px;
    top: 14px;
  }

  .trackingStatus {
    padding: 0px 0 0 0px;
    margin: -24px 0 0 0px;
    font-size: 14px;
  }

  .progress {
    display: flex;
    height: 1.3rem;
    width: 128px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #c3c3c3;
    border-radius: 0.21rem;
    text-align: center;
    color: rgb(22, 21, 21);
  }

  .blubuttonCollapsed {
    margin-top: -38px;
    right: -23px;
  }

  .subtaskExpandCollapse {
    top: -42px;
    left: 36px;
  }

  .taskstatus {
    font-size: 15px;
    left: -129px;
  }

  .squareButton {
    left: -150px;
  }

  .expandCollapse {
    margin-top: -59px;
    right: -22px;
  }

  .tasksquare {
    margin: 0 0 0 0;
    padding: 2px 0 0 0;
    position: absolute;
    left: 100%;
    top: -24px;
  }

  .effortComp {
    border: none;
    color: white;
    width: 100%;
    background-color: #243d66;
    font-size: 14px;
    cursor: pointer;
  }

  .taskbutton {
    float: right;
    //border-radius: 50%;
    border: 0px;
    /* position: relative; */
    width: 22px;
    height: 22px;
    vertical-align: middle;
    padding: 0px 0 0px 0;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    /* text-align: center; */
    //border: 1px solid;
    color: #191515;
    position: relative;
    //top: -5px;
    //border-color: black;
    //background: #d0bbbb0d;
    background-repeat: no-repeat;
    background: url("../../../assets/images/extendes.svg");
    //margin: 24px 15px 0 1px;
  }

  .collapsed {
    background-repeat: no-repeat;
    background: url("../../../assets/images/icons/collapse.svg");
  }

  .taskexpanded {
    float: right;
    border: 0px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    padding: 0px 0 0px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #191515;
    position: relative;
    top: -5px;
    background-repeat: no-repeat;
    background: url("../../../assets/images/expand_blue.svg") !important;
  }

  #subtask {
    .collapsed {
      background-repeat: no-repeat;
      background: url("../../../assets/images/collaspe_blue.svg") !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .trackingStatusBoar {
    right: 22px;
  }
  .arrangeExpand {
    display: flex;
    left: 16px;
  }
  .filter_style {
    height: 38px;
    position: relative;
    left: 2.5rem;
  }

  .main {
    padding: 0 0 0 0 !important;
  }

  .text-center {
    h4 {
      text-align: center;
      width: 100%;
      position: relative;
    }
  }

  .date-picker-mobile {
    top: -198px;
    left: 487px;
    position: relative;
    font-size: 14px;
    font-family: "LatoRegular";
    width: 122%;
    height: 89%;
    padding-left: 10px;
    border: 1px solid #ccc;
  }

  .left-arrow {
    height: 25px;
    position: absolute;
    top: -179px;
    left: 473px;
    cursor: pointer;
  }

  .right-arrow {
    height: 25px;
    position: absolute;
    top: -178px;
    left: 651px;
    cursor: pointer;
  }

  .container-border {
    margin-left: 15px;
    max-width: 776px;
    font-size: 14px;
    font-family: LatoRegular;
  }

  .datepicker-div {
    position: relative;
    top: -30px;
    margin-top: -6px;
    right: 8px;
    padding-left: 0px;
  }

  .listHeaders {
    width: 100% !important;
  }

  .tableTitle {
    max-width: 100% !important;
  }

  .percentComplete {
    right: 5rem;
    padding-top: 12px;
    margin-left: 8px !important;
  }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .taskstatus {
    white-space: nowrap;
  }
  .sortby {
    width: 113%;
    border-color: #ccc;
    height: 35px;
    color: #2f2f29;
    background-color: #ffffff;
    position: relative;
    font-size: 16px;
    font-family: "LatoRegular";
    padding-left: 8px;
    top: 3px;
    left: 15px;
  }

  .searchBox {
    top: -42px;
    width: 5%;
    left: 251px !important;
  }

  #search-close {
    background-color: blue !important;
  }
}
