::placeholder {
    /* Microsoft Edge */
    color: #b4b4b4 !important;
}

.sub-label {
    font-size: 12px !important;
    color: #323232 !important;
    margin-bottom: 0px !important;
}

.empty-sub-label {
    padding-bottom: 13px;
}

.textBoxResize {
    width: 156%;
}

@media only screen and (max-width:576px) {
    .empty-sub-label {
        padding-bottom: 0px;
    }
}


/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .py-1 {
        padding-bottom: 0.7rem !important;
    }

    .desFocus {
        padding-bottom: 5px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .myText {
        text-align: left !important;
    }
}


/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width : 992px) {

    .app-input-label {
        white-space: pre;
        text-align: left !important;
    }
}