<div *ngIf="inputData" class="row" id="desFocus">
  <div class="col-lg-4 col-md-3 col-sm-4 app-input-label">
    <label>{{inputData.label}}<span class="required" *ngIf="inputData.validation && inputData.validation.required">*</span></label>
    <p class="sub-label" [class.empty-sub-label]='!inputData.subLabel' >{{inputData.subLabel?inputData.subLabel:''}}</p>
  </div>
  
  
  
  <div class="col-lg-6 col-md-6 col-sm-6 app-input-field" *ngIf="inputData.inputTagType != 'toggle'; else elseToggle">
    <!-- {{inputData | json}} -->
    <input  type="{{inputData.inputTagType}}" title="{{inputData.value}}" [(ngModel)]="inputData.value" id="myinputbox"
     [readonly] = "inputData.readOnly || (inputData.name == 'FloatDays' )&& (userRole == 'GC-Observer'|| userRole == 'SC-Manager' || userRole == 'SC-Observer' || userRole == 'Owner')"
     class="description-focus"
     [ngClass]="{'disabled-input': inputData.readOnly === true, 'enabled-input': inputData.readOnly === false} " class="form-control showme elipsis-text"
     [minlength]="inputData.validation?inputData.validation.minLength:''" [maxlength]="inputData.validation?inputData.validation.maxLength:''"
     [id]="inputData.name"
     placeholder="{{inputData.placeholder}}"
     [formControl]="form.controls[inputData.name]"
     [name]="inputData.name" autofocus >
      <span class="alert alert-danger input-absolute" *ngIf="form.controls[inputData.name].errors && form.controls[inputData.name].touched">
        <span [hidden]="!form.controls[inputData.name].errors.required"> {{inputData.errorMsg}} is required.</span>
        <span [hidden]="form.controls[inputData.name].invalid && !form.controls[inputData.name].errors.pattern"> Invalid {{inputData.nextErrorMsg}}.</span>
        <span [hidden]="!form.controls[inputData.name].hasError('minlength')"> {{inputData.errorMsg}} must contain atleast 8 characters.</span>
      </span>
  </div>
<ng-template #elseToggle>

  <div class="col-lg-6 col-md-6 col-sm-8 app-input-field" *ngIf="inputData.inputTagType === 'toggle'">
    <label class="switch">
    <input  type="checkbox" title="{{inputData.value}}" [(ngModel)]="inputData.value" id="myinputbox"
    (change) = "selectedValue(inputData.value)"
     [readonly] = "inputData.readOnly "
     class="description-focus"
     [id]="inputData.name"
     placeholder="{{inputData.placeholder}}"
     [formControl]="form.controls[inputData.name]"
     [name]="inputData.name" autofocus >
     <span class="slider round"></span>
      <span class="alert alert-danger input-absolute" *ngIf="form.controls[inputData.name].errors && form.controls[inputData.name].touched">
        <span [hidden]="!form.controls[inputData.name].errors.required"> {{inputData.label}} is {{validation.required}}.</span>
        <span [hidden]="!form.controls[inputData.name].errors.pattern"> {{validation.invalid}} {{inputData.label}}.</span>
        <span [hidden]="!form.controls[inputData.name].hasError('minlength')"> {{inputData.label}} must contain atleast 8 characters.</span>
      </span>
      </label>
  </div>

  <!-- <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label> -->

</ng-template>



</div>


