<div *ngIf="textareaData" class="row" >
  <div class="col-lg-6 app-input-label" [ngClass]="{'col-lg-3':textareaData.name == 'Notes','col-lg-6':textareaData.name !='Notes'}">
    <label>{{textareaData.label}}<span class="required" *ngIf="textareaData.validation && textareaData.validation.required">*</span></label>
  </div>
  <div class="col-lg-6 app-input-field" [ngClass]="{'col-lg-9':textareaData.name == 'Notes'}" >
      <textarea class="form-control" [(ngModel)]="textareaData.value" [ngClass]="{'disabled-input': textareaData.readOnly === true,  'enabled-input': textareaData.readOnly === false}" [disabled]=textareaData.readOnly
      [name]="textareaData.name" 
      [formControl]="form.controls[textareaData.name]">   
      </textarea>
      <div class="alert alert-danger input-absolute" *ngIf="!form.controls[textareaData.name].valid && form.controls[textareaData.name].touched">Invalid Field.</div>
  </div>
</div>