<div class="clearfix app-panel-padd advSearch" [ngClass]="{'customCreate': simplepanelData.panelName == 'Module Set Up'}">
  <div *ngIf="simplepanelData.panelName" class="card app-bg-success">
    <div class="card-body app-card-body">{{simplepanelData.panelName}}</div>
  </div>
  <div *ngFor="let formItem of simplepanelData.items" [ngClass]="{'col-lg-12':formItem.name == 'Notes'}" class="row col-lg-6 app-simple-panel app-form-field float-left">
    <app-input-textbox class="col-lg-12" *ngIf="formItem.htmlTag == 'input'" [inputData]="formItem" [pageData]="panelData" [form]="form"></app-input-textbox>
    <app-input-textarea class="col-lg-12" *ngIf="formItem.htmlTag == 'textarea'" [textareaData]="formItem" [form]="form"></app-input-textarea>
    <app-input-selectbox class="col-lg-12" *ngIf="formItem.htmlTag == 'select'" [selectData]="formItem" [pageData]="panelData" [panelItem]="simplepanelData" [form]="form"></app-input-selectbox>
    <app-input-multiselect class="col-lg-12" *ngIf="formItem.htmlTag == 'multiselect'" [multiselectData]="formItem" [pageData]="panelData" [panelItem]="simplepanelData" [form]="form"></app-input-multiselect>
    <!-- <app-datepicker class="col-lg-12" *ngIf="formItem.htmlTag == 'datepicker'" [datePickerData]="formItem" [form]="form"></app-datepicker> -->
    <app-input-checkbox class="col-lg-12" *ngIf="formItem.htmlTag == 'checkbox'" [checkBox]="formItem" [form]="form"></app-input-checkbox>
    <app-input-combobox class="col-lg-12 " *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem" [panelData]="simplepanelData.items" [form]="form"></app-input-combobox>
  </div>
</div>
