.app-simple-panel{
    padding: 25px 9px;
}

.app-form-field{
    padding: 10px 15px;
}

.app-panel-padd{
    padding-top: 15px !important;
}

.customCreate{
    border: 1px solid gainsboro;
    margin: 11px 0px;
}

