
<!-- {{checkBoxData | json}} -->

<div *ngIf="checkBoxData" class="row">
  <div class="col-lg-4 col-md-3 col-sm-6 col-12 align-right">
    
  </div>
  <div class="col-lg-8 col-md-8 col-sm-10 col-12 app-input-label check-div">
      <input type="checkbox" class="checkWidth" [(ngModel)]="checkBoxData.value" [formControl]="form.controls[checkBoxData.name]" [name]="checkBoxData.name" [formControl]="form.controls[checkBoxData.name]">
      <!-- <div class="alert alert-danger input-absolute" *ngIf="!form.controls[checkBoxData.name].valid && form.controls[checkBoxData.name].touched">Please read and check Terms of Service.</div> -->
      <span class="alert alert-danger input-absolute align-text" *ngIf="form.controls[checkBoxData.name].errors && form.controls[checkBoxData.name].touched">
        <span [hidden]="!form.controls[checkBoxData.name].errors.required">Please read and check Terms of Service.</span>
        <span [hidden]="!form.controls[checkBoxData.name].errors.pattern">Please read and check Terms of Service.</span>
      </span>
    <a class="checkbox-lebel" href="https://wenplan.com/wenplan-eula/" target="blank">{{checkBoxData.label}}</a>
  </div>
</div>

