.checkbox-custom {
    opacity: 0;
    top: 7px;
    left: 19px;
    position: absolute;
    display: table-row;
	+ {
		.checkbox-custom-label {
			&:before {
				content: '';
				
				border: 2px solid #ddd;
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
				padding: 2px;
				margin-right: 10px;
				text-align: center;
			}
		}
	}
	&:checked {
		+ {
			.checkbox-custom-label {
				&:before {
					background: rebeccapurple;
					box-shadow: inset 0px 0px 0px 4px #fff;
				}
			}
		}
	}
	&:focus {
		+ {
			.checkbox-custom-label {
				outline: 1px solid #ddd;
			}
		}
	}
}

.checkbox-custom-label {
	position: relative;
}


.checkMargin{
	padding: 0px 15px;
    padding-top: 19px;
}

.checkWidth{
	height: 16px;
    width: 16px;
}


.align-right{
	text-align: right !important;
	padding: 0px !important;
}

@media only screen and (min-width:320px ) and (max-width:568px){
	.align-right{
		text-align: left !important;
		padding: 0px !important;
	}
}

.align-text{
	margin-top: 17px !important;
    padding-left: 10px !important;
    width: 100%;
    text-align: left;
}



.row .container {
    display: block !important;
    position: relative !important;
	cursor: pointer;
	text-align: right;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


.container input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
}

.container .checkmark {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    height: 13px !important;
    width: 13px !important;
    background-color: #eee !important;
}

.checkmark {
    position: absolute;
    top: 0;
   // left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #707070;
    margin-top: 4px;
}

.check-div {
	text-align: left !important;
}
.checkbox-lebel{
	margin: 0px 0px 0px 10px !important;
	vertical-align: 3px;
}

/** Tab responsive design done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .check-div {
        text-align: center !important;
        left: 12%;
    }
    .input-absolute {
        text-align: left !important;
		margin-left: 0% !important;
		left: 8.9rem;
	}
	.align-text  {
		padding-bottom: 10px !important;
	}
}