
<div *ngIf="datePickerData" class="row">
 <div class="col-lg-4 col-md-3 col-sm-4 col-12 datePic">
  <label>{{datePickerData.label}}<span class="required" *ngIf="datePickerData.validation && datePickerData.validation.required">*</span></label>
  <p class="sub-label" [class.empty-sub-label]='!datePickerData.subLabel' >{{datePickerData.subLabel?datePickerData.subLabel:''}}</p>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-12">
  <input type='text' class="form-control" [id]='datePickerData.name' [(ngModel)]="datePickerData.value"
  [ngClass]="{'disabled-input': datePickerData.readOnly === true, 'enabled-input': datePickerData.readOnly === false}" class="form-control" [name]="datePickerData.name" 
  [formControl]="form.controls[datePickerData.name]"/>
  <span class="add-on"><i class="icon-calendar"></i></span>
  <div class="alert alert-danger input-absolute" *ngIf="!form.controls[datePickerData.name].valid && form.controls[datePickerData.name].touched">Invalid Field.</div>
</div>
</div>
