<form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <div class="">
      <div *ngIf="panels">
        <div class="panels">
          <app-operation (addDetails)="add($event)" [pageData]="operation"></app-operation>
          <div class="col-lg-8 col-md-12 col-sm-12 col-12 row page-margin create_component_alignment">
            <div *ngFor="let item of panels" class="col-md-12 create_input_alignment">
              <div *ngIf="item.type == 'simple'">
                <div *ngFor="let formItem of item.items" class="row grid_alignment">
                  <app-input-textbox class="col-lg-12 showme" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                    [inputData]="formItem" [pageData]="panelData" [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                  </app-input-textbox>
                  <p class="col-lg-10 col-md-9 col-sm-10 col-12 forgotPassword">
                    <a *ngIf="formItem.htmlTag == 'link'" [routerLink]="['/forgotPassword']">{{formItem.label}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-10 btnDiv text-right" *ngFor="let item of operation.ComponentItem">
            <app-button [panelData]="operation" [buttonData]="item" [form]="form"></app-button>
          </div>
        </div>
      </div>
      <!-- Don't have account? Signup Now -->
      <div class="signup">
        <p>Don't have account? <a [routerLink]="['/registration']">Sign up now »</a></p>
        <!-- <ul class="col-lg-10 col-md-10 forgotPassword">
          <li><a [routerLink]="['/forgotPassword']">Forgot Password ?</a></li>
          <li><a [routerLink]="['/registration']">Sign Up ?</a></li>
        </ul>       -->
      </div>
    </div>
  </ng-template>
</form>


<!-- The Modal -->
<div class="modal fade" id="modal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="msgContent">Email has been verified successfully</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" (click)="goListPage()" class="btn btn-success" data-dismiss="modal">Ok</button> -->
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" autofocus>Ok</button>
      </div>

    </div>
  </div>
</div>