.app-card-body {
  color: #000 !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  padding-left: 13px !important;
}

.btn-margin {
  margin-top: -5px;
}

.app-btn {
  padding: 0px 15px !important;
}

.btnDiv {
  margin: 0px auto !important;
  width: 41%;
  padding-right: 4px;
}

.app-row {
  margin-right: 0px !important;
}

.customPage {
  top: 23px;
  margin-left: -20px;
}

.addNew {
  text-align: right;
}

.combobox_alignment {
  padding-left: 0px;
  padding-right: 0px;
}

.forgotPassword {
  text-align: right;
  //padding-left: 69%;
  font-size: 14px;
}

.btn-primary:disabled {
  margin: 0 28px !important;
}

/*Modal css*/

.main-content {
  padding-top: 13px;
  border-radius: 0 !important;
}

.modal-title {
  color: #243d66;
  font-family: "LatoRegular";
}

.msgContent {
  color: #707070;
}

.msgBtn {
  background-color: #243d66 !important;
  border-color: #243d66 !important;
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
  outline: none !important;
}

.create_input_alignment {
  .grid_alignment {
    &:nth-child(1) {
      margin-top: 10px;
    }
  }

  .forgotPassword {
    a:hover {
      text-decoration: none;
    }

    &:nth-child(2) {
      margin: 25px 0 0 0;
    }
  }
}

.signup {
  width: 40%;
  margin: auto;
  text-align: right;
  padding: 25px 0px;
  font-size: 14px !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .btnDiv {
    margin: 0px auto !important;
    width: 45%;
    padding-right: 4px;
  }

  .signup {
    width: 45%;
    margin: auto;
    text-align: right;
    padding: 25px 0px;
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .btnDiv {
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
  }

  .signup {
    width: 85%;
    margin: auto;
    text-align: right;
    padding: 25px 0px;
    font-size: 14px !important;
  }
}

/** Tab Responsive done by lakshmanan **/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .panels {
    width: 100%;
  }


  .signup {
    padding-bottom: 5px;
    width: 30%;
    margin: auto;
    text-align: left;
    font-size: 14px !important;
  }

  .create_input_alignment {
    padding-top: 1rem !important;
    margin-left: -4px;
  }

  .login_button {
    width: 17%;

  }

  .container {
    width: 103% !important;
    padding-right: 15px;
    padding-left: 3px !important;
    margin-left: 18px;
  }

  .forgotPassword {
    text-align: right;
    font-size: 14px;
    margin-left: 0.9rem;

    a {
      text-align: right;
    }

  }

  .create_component_alignment {
    width: 101%;
    margin-left: 0.3rem !important;
  }

  .btnDiv {
    margin: 0px auto !important;
    width: 10%;
    padding-right: 4px;
  }

}