.app-card-body {
  color: #000 !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  padding-left: 13px !important;
}

.btn-margin {
  margin-top: -5px;
}

.app-btn {
  padding: 0px 15px !important;
}

.btnDiv {
  margin: 0px auto !important;
  width: 41%;
  padding-right: 4px;
}

.app-row {
  margin-right: 0px !important;
}

.customPage {
  top: 23px;
  margin-left: -20px;
}

.addNew {
  text-align: right;
}

.page-margin {
  /*    margin: auto;*/
  margin-top: 3%;
}

.combobox_alignment {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-primary:disabled {
  width: 15% !important;
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .panels {
    margin-left: -13rem;
    margin-top: 80px;
  }

}

/** Tab potrait responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .btnDiv {
    margin: 0px auto !important;
    width: 45%;
    padding-right: 4px;
  }
}