<div class="buy">
  <div class="col-lg-12 operation">
    <div class="row">
      <!-- Licenses > Buy -->
      <div class="col-lg-6">
        <ul class="breadcrumb">
          <li [routerLink]="['/authenticate/list/license']">Licenses </li>
          <li> > </li>
          <li>Buy</li>
        </ul>
      </div>
      <!-- <div class="col-lg-6">Page 2</div> -->
    </div>
  </div>
  <div class="col-lg-12 col-md-12 license-type">
    <div class="singal-license" *ngFor="let item of planTypes">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <label>Plan Type</label>
              <span>:</span>
            </div>
            <div class="col-lg-7 col-md-5">
              {{item.name}}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <label># of Licenses</label>
              <span>:</span>
            </div>
            <div class="col-lg-7 col-md-5">
              <select [(ngModel)]="item.noOfLicense" (change)="singalLicenseTotal(item)">
                <option *ngFor="let license of noLicense" value="{{license}}">{{license}}</option>
                <!-- <option>2</option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <label>Billing Cycle</label>
              <span>:</span>
            </div>
            <div class="col-lg-7 col-md-5">
              <select [(ngModel)]="item.billingCycle" (change)="singalLicenseTotal(item)">
                <option *ngFor="let bc of billingCycle" value="{{bc}}">{{bc}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 amount">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <label>Amount</label>
              <span>:</span>
            </div>
            <div class="col-lg-7 col-md-5">
              {{item.totalAmount | currency:'USD':true:'1.2-2'}}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <!-- Per License Per Year -->
              <label>Price per User/Per Month <span>:</span></label>
            </div>
            <div class="col-lg-7 col-md-5">
              {{item.billingCycle == 'Monthly' ? (item.amount.monthly | currency:'USD':true:'1.2-2') :
              item.amount.annually | currency:'USD':true:'1.2-2'}}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="row">
            <div class="col-lg-5 col-md-7">
              <label>Expiry Date</label>
              <span>:</span>
            </div>
            <div class="col-lg-7 col-md-5">
              {{item.expiryDate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="total clearfix">
    <div class="col-lg-2 col-md-3 float-right">
      <div class="row">
        <div class="col-lg-7 col-md-6 text-right">
          <label>Total</label>
          <span>:</span>
        </div>
        <div class="col-lg-5 col-md-5 text-right">
          {{total | currency:'USD':true:'1.2-2'}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-11 col-md-11 text-right paymnt-button">
    <button (click)="goToPayment();makeLicenseMandatory()">Pay with card</button>
  </div>
  <form id="payment-form"></form>
  <!-- <div class="col-lg-12 payment clearfix"> -->
  <!-- <button class="payment-button float-right" (click)="onGooglePaymentButtonClicked()">Buy with <span><img src="assets/images/Google_pay.png"> </span> Pay</button> -->
  <!-- <div id="container" class="float-right"></div> -->
  <!-- <button type="button" class="btn btn-primary payment-btn float-right" (click)="onGooglePaymentButtonClicked()">Go To Payment</button> -->
  <!-- <button type="button" class="btn btn-primary payment-btn float-right" (click)="goToPayment()">Go To Payment</button> -->
  <!-- </div>
</div> -->
  <!-- The Modal -->
  <div class="modal" id="Success">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Payment Status</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="col-lg-12 license-purchase">
            <div class="success-message">
              You have successfully purchased {{licenseCount}} licenses.
            </div>
          </div>
          <div class="col-lg-12" style="margin: 0px 0px 6px 0px;">
            <div class="success-message">
              The receipt has been emailed to you.
            </div>
          </div>
          <div class="col-lg-12">
            <div class="success-message">
              transaction - id : {{txn_id}}
            </div>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn" [routerLink]="['/authenticate/list/license']" data-dismiss="modal">Ok</button>
        </div>

      </div>
    </div>
  </div>