.buy{
    width: 93%;
    margin: 0px auto;
    .operation{
        // margin: 0px auto;
        // width: 93%;
        border-bottom: 1px solid #ccc;
        padding: 15px 0px;
        .breadcrumb{
            padding: 0px !important;
            margin-bottom: 0px !important;
            background-color: transparent !important;
            border-radius: 0px !important;
            font-family: LatoSemiBold;
            li{
                padding-right: 10px;
                font-size: 18px;
                
            }
            li:first-child{
                cursor: pointer;
            }
        }
    }
    .license-type{
        .singal-license{
            padding: 15px 0px;
            .amount{
                font-size: 16px;
            }  
        }
        // width: 93%;
        // margin: 0px auto;
        font-size: 14px;
        padding: 20px 0px;
        font-family: LatoRegular;
        border-bottom: 1px solid #ccc;
    }
    .total{
        padding-top: 25px;
        width: 83%;
        margin: 0px auto;
    }
    .payment{
        padding: 20px 0px;
        width: 83%;
        margin: 0px auto;
        .payment-btn{
            background-color: #243d66 !important;
            border: none !important;
            border-radius: 0px !important;
            padding: 5px 20px !important;
            font-size: 14px !important;
        }
    }
}

.btn-primary:focus{
    box-shadow: none !important;
}

select{
    background-color: transparent;
    padding: 2px 10px;
}
.payment-button{
    background: #000;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    padding: 4px 0px;
    width: 17%;
    img{
        width: 23px;
        vertical-align: middle;
    }
}
.paymnt-button {
    padding: 0px 6px 0 0;
    margin: 0px 0 0 0;
    margin-bottom: 0px !important;
    button {
        background-color: #3EA8E5;
        border: none;
        color: white;
        font-weight: 700;
        padding: 7px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.license-purchase {
    margin: 0 0 6px -1px;
}
.modal-footer {
    button {
        padding: 5px 20px;
        background-color: #3EA8E5;
        color: #fff;
        font-weight: 700;
    }
}

 /* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width : 1200px) {
    .paymnt-button {
        padding: 0px 6px 0 0;
        margin: 12px 0 16px 8px;
        button {
            background-color: #3EA8E5;
            border: none;
            color: white;
            font-weight: 700;
            padding: 7px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
} 
