.no-entries {
    padding: 20px 0px !important;
    text-align: center !important;
}

.added-company-list {
    padding: 1px 0px !important;
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .delete-company {
        cursor: pointer;
        left: 3.9rem;
    }
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .delete-company {
        cursor: pointer;
        left: 2.9rem;
    }

    .create-project {
        padding-top: 21px;
    }

    .tradeCompany {
        margin-top: 30px !important;
        margin-left: 1.8rem;
    }
}