<div class="create-project">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
    <div class="company tradeCompany">
      <div class="row">
        <div class="col-lg-6 col-md-6 available-company" style="padding:0px">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <input type="text" class="search-box input-width form-control focus" [(ngModel)]="trade" (keyup)="searchCompany(trade)" id="system-search" name="" placeholder="Trade Name">
                <button *ngIf="trade" (click)="clearCompany()" class="close-icon" type="reset"></button>
              </th>
            </tr>
          </thead>
          <!-- *ngIf="companyChecked" -->
          <tbody *ngIf="companyChecked">
            <tr class="available-comapany-row" *ngFor="let item of availableTrade">
              <td>
                <div class="row search-value">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-8 company-name">
                    {{item.name}}
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-4 add-btn text-center">
                    <button type="button" [disabled]="item.isAvailable" [class.is-available]="item.isAvailable"  class="btn cus-add-btn" (click)="addTrade(item)">Add</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="no-result-found"></tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-6 added-company" style="padding:0px">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Trade Associated With The Project
              </th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let item of associatedTrade; let i = index">
              <td>
                <div class="row added-company-list">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-8 company-name">
                    {{item}}
                  </div>
                  <div class="row col-lg-4 col-md-4 col-sm-4 col-4 company-operation">
                    <div *ngIf="!item.isProjectCompany"  class="col-lg-2 col-md-2 col-sm-2 col-2 delete-company" [class.company-delete]="item.isProjectCompany">
                      <i title="delete"><img [class.is-available]="item.isProjectCompany" (click)="removeTrade(i)" src="assets/images/delete.png"></i>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </ng-template>
</div>


<div class="modal" id="companyNotFound">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      
      <h4 class="modal-title"><span><img src="assets/images/info_icon2.png" /></span> <span>Company does not exist</span></h4>
    </div>
    <div class="modal-body">
      The Company {{newCompany}}. does not exist. Create the company? 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearCompany()">Cancel</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['/authenticate/create/project/new-company']">Ok</button>
    </div>
  </div>
</div>
</div>