.left-arrow {
  height: 25px;
 position: absolute;
  top: 22px;
  left: -9px;
  cursor: pointer;
}

.right-arrow {
  height: 25px;
  position: absolute;
  top: 22px;
  left: 231px;
  cursor: pointer;
}

.select-style-box {
  height: 127%;
  color: #1f1c1c;
  background: #fefdfd;
  font-size: 16px;
  font-family: "LatoRegular";
  width: 126%;
  position: relative;
  left: -46px;
  border: 1px solid #ccc;
  padding-left: 8px;
  text-align: center;
}

.padding0 {
  padding-top: 15px;
}

.disabled:hover {
  cursor: not-allowed;
}

.date-picker-mobile {
  font-size: 16px;
  font-family: "LatoRegular";
  width: 138%;
  height: 89%;
  padding-left: 10px;
  border: 1px solid #ccc;
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
  .custom-row-mobile {
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    overflow: hidden;
  }

  .datePicker {
    display: inline;
  }

  .padding0 {
    padding: 0px !important;
  }

  .date-picker-mobile {
    width: 50%;
    overflow: hidden;
    font-size: 12px;
    height: 28px;
  }

  .mobile-left-arrow,
  .mobile-right-arrow {
    width: 10%;
    position: unset;
  }

  .cstm-date-range {
    width: 100%;
  }

  .select-style-box {
    height: 100%;
    color: #1f1c1c;
    background: #fefdfd;
    font-size: 14px;
    font-family: "LatoRegular";
    width: 37%;
    position: relative;
    left: 366px;
    border: 1px solid #ccc;
    padding-left: 6px;
    text-align: center;
    top: -143px;
  }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .select-style-box {
    height: 140%;
    color: #1f1c1c;
    background: #fefdfd;
    font-size: 16px;
    font-family: "LatoRegular";
    width: 126%;
    position: relative;
    left: -7rem;
    border: 1px solid #ccc;
    padding-left: 8px;
    text-align: left;
  }

  .left-arrow {
    height: 25px;
    position: absolute;
    top: 21px;
    left: -2rem;
    cursor: pointer;
  }

  .date-picker-mobile {
    top: 6px;
    font-size: 16px;
    font-family: "LatoRegular";
    width: 169%;
    height: 100%;
    padding-left: 10px;
    border: 1px solid #ccc;
  }

  .padding0 {
    margin-top: 0px;
    padding-left: 0px !important;

    .date-picker-mobile {
      left: 5rem !important;
    }
  }

  .select-style {
    margin-right: -57px;
    display: block;
  }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .padding0 {
    padding: 0px !important;
  }

  .select-style-box {
    height: 180%;
    color: #1f1c1c;
    background: #fefdfd;
    font-size: 16px;
    font-family: "LatoRegular";
    width: 99%;
    position: relative;
    left: -46px;
    border: 1px solid #ccc;
    padding-left: 8px;
    text-align: center;
    top: -10px;
  }

  .left-arrow {
    height: 25px;
    position: absolute;
    top: 14px;
    left: -2rem;
    cursor: pointer;
  }

  .right-arrow {
    height: 25px;
    position: absolute;
    top: 15px;
    left: 225px;
    cursor: pointer;
  }

  .date-picker-mobile {
    font-size: 16px;
    font-family: "LatoRegular";
    width: 136%;
    margin-top: 5px;
    height: 82% !important;
    padding-left: 10p;
  }
}

@media only screen and (min-width: 1200px) {
  .date-picker-mobile {
    font-size: 16px;
    font-family: "LatoRegular";
    width: 142%;
    height: 112%;
    margin-top: -5px;
    padding-left: 10px;
    border: 1px solid #ccc;
  }

.select-style-box {
    height: 157%;
    color: #1f1c1c;
    background: #fefdfd;
    font-size: 16px;
    font-family: "LatoRegular";
    width: 126%;
    position: relative;
    margin-top: -1px;
    left: -72px;
    border: 1px solid #ccc;
    padding-left: 8px;
    text-align: center;
  }
}
