<div class="row custom-row-mobile">
    <div class="col-4 col-lg-12 col-md-12 padding0" style="padding:12px 0 0 0">
        <div class="row">
            <div class="col-lg-4 col-md-6 select-style" style="padding:16px 0 11px 0">

                <select class="select-style-box cstm-date-range" [(ngModel)]="selectedOption" (change)="changeDropdown()">
                    <option *ngFor="let options of selectedArray" [ngValue]="options"> {{options}} </option>
                </select>

            </div>
            <div class="col-8 col-lg-8 col-md-6 padding0 datePicker">

                <img [ngClass]="{'disabled': selectedOption == 'Date Range'}" class="left-arrow mobile-left-arrow" id="previousday"
                    (click)="this.selectedOption !='Date Range' && previousDay('previous')"  src="assets/images/Previous_day.svg">
                <!-- <date-range-picker id = "datePicker" [parentFormGroup]="form" [controlName]="'myDateRange'"   style="padding: 0px" [options]="daterangepickerOptions" (rangeSelected)="rangeSelected($event)">
        </date-range-picker> -->

                <input type="text" class="date-picker-mobile" ngxDaterangepickerMd [customRangeDirection]="true"
                    startKey="start" endKey="end" [linkedCalendars]="true" [alwaysShowCalendars]="true" [(ngModel)]="selectedDateRange" (datesUpdated)="datesRangeUpdated($event)" readonly = "readonly">

                <img [ngClass]="{'disabled': selectedOption == 'Date Range'}" class="right-arrow mobile-right-arrow" id="nextday"
                    (click)="this.selectedOption !='Date Range' &&  nextDay('next')" src="assets/images/Next_day.svg">
            </div>
        </div>