<div class="row" *ngIf="inputData">
        <div class="col-lg-4 app-input-label">
            <label>{{inputData.label}}<span class="required" *ngIf="inputData.validation && inputData.validation.required">*</span></label>
        </div>
        <div class="col-lg-6 app-input-field">
                <span class="drop-down input-group">
                        <input  type="text"
                        class="form-control"
                        [(ngModel)]="inputData.value"
                        (keyup)="onKeyDownAction($event);textChange($event,inputData.value);"   
                        [readonly] = "inputData.readOnly"
                        [ngClass]="{'disabled-input': inputData.readOnly === true, 'enabled-input': inputData.readOnly === false}"
                        [name]="inputData.name"
                        [formControl] ="form.controls[inputData.name]"/>
                </span>
                <div class="data-container" [hidden]="!showDropDown">
                        <p *ngFor="let data of dataList; let i = index" (click)="updateTextBox(data.name)" class="data-list">  
                        {{data.name}}
                        </p>
                </div>
        </div>
</div>




<!-- (click)="updateTextBox(data[inputData.fieldName],i)" 
        (focus)="onFocusEventAction()"                [ngClass]="{highlight:checkHighlight(i)}" -->