.combo-container {
/*position: fixed;*/
z-index: 9;
background: white;
    padding-right: 15px!important;
    padding-left: 15px !important;
}
.input-control{
width: 165px;
border: 0;
}
.data-container {
width: 196px;
background: white;
display: block;
position: absolute;
border: 1px solid grey;
height: auto;
overflow-y: auto;
top: 36px;
z-index: 1;
}
.data-list {
    cursor:pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px;
    border-bottom: 1px solid #999;
}
.drop-down {
border-bottom: 0px !important;
width: 100%;
}
.drop-down-button {
border: 0;
background: white;
}
.highlight{
background: grey;
}
.drop-down input[type='text']{
border: 0px;
}
.drop-down input[type='text']:focus,.drop-down button:focus{
outline-style:none;
box-shadow:none;
border-color:transparent;
}