<!-- <div *ngIf="multiselectData" class="row">
        <div class="col-lg-4 app-input-label">
          <label>{{multiselectData.label}}<span class="required" *ngIf="multiselectData.validation && multiselectData.validation.required">*</span></label>
        </div>
       
        <div class="col-lg-6 app-input-field">
            <multiselect class="form-control" [id]="multiselectData.name" [(ngModel)]="multiselectData.value" 
            [ngClass]="{'disabled-input': multiselectData.readOnly === true,  'enabled-input': multiselectData.readOnly === false}" 
            [disabled]=multiselectData.readOnly 
            [name]="multiselectData.name"
            [formControl] ="form.controls[multiselectData.name]"
            (ngModelChange)="onNameChanged(multiselectData.cascadeField, multiselectData.value,multiselectData.optionValue)"
            >
            <option>Select options</option>
            <option *ngFor="let item of this.multiselectData.options" value="{{item[multiselectData.optionValue]}}">{{item[multiselectData.optionKey]}}</option>
            </multiselect>       
        </div>        
          
        <div class="alert alert-danger input-absolute" *ngIf="!form.controls[multiselectData.name].valid && form.controls[multiselectData.name].touched">Invalid Field.</div>
</div> -->

<!-- <div *ngIf="multiselect" class="row">
  <div class="col-lg-4 app-input-label">
    <label>{{multiselect.label}}<span class="required" *ngIf="multiselect.validation && multiselect.validation.required">*</span></label>
  </div>
 
<angular2-multiselect class="form-control" [id]="multiselectData.name" [data]="dropdownList" 
                      [(ngModel)]="selectedItems" 
                      [settings]="dropdownSettings" 
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)" 
                      (onSelectAll)="onSelectAll($event)" 
                      (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect> 
</div> -->
<!--<angular2-multiselect class="form-control"  [(ngModel)]="multiselectData.value" 
        [ngClass]="{'disabled-input': multiselectData.readOnly === true,  'enabled-input': multiselectData.readOnly === false}" 
        [disabled]=multiselectData.readOnly 
        [settings]="dropdownSettings"
        [data]="dropdownList"
        name="{{multiselectData.name}}"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="OnItemDeSelect($event)" 
        (onSelectAll)="onSelectAll($event)" 
        (onDeSelectAll)="onDeSelectAll($event)"
        >
      </angular2-multiselect>-->

<!-- MultiSelect dropdown for Form  includes  from validation with filter -->
<div *ngIf="multiselectData; else select_bygroup" class="row">
  <div class="col-lg-4 app-input-label">
    <label>{{multiselectData.label}}<span class="required"
        *ngIf="multiselectData.validation && multiselectData.validation.required">*</span></label>
  </div>

  <div class="col-lg-6">
    <ng-select [items]="dropdownList" [multiple]="true" [closeOnSelect]="false" bindLabel="itemName"
      [(ngModel)]="multiselectData.value" name="{{multiselectData.name}}"
      [formControl]="form.controls[multiselectData.name]">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
      </ng-template>
    </ng-select>
    <span class="alert alert-danger input-absolute"
      *ngIf="form.controls[multiselectData.name].errors && form.controls[multiselectData.name].touched">
      <span [hidden]="!form.controls[multiselectData.name].errors.required"> {{multiselectData.label}} is
        {{validation.required}}.</span>
    </span>
  </div>

</div>


<!-- MultiSelect for  view Page -->
<ng-template #select_bygroup>
  <div class="search-input">
    <input class="form-control filter-input" id="system-search" [(ngModel)]="searchterm" type="text" placeholder="Select team members">
  </div>
  <div class="errorMsg text-center" style="color:red;" *ngIf="noUsers">
    <p >Please select atleast one team member</p>
  </div>
  <div class="filterSearchDiv" >
    <div id="filterSearch" class="table-list-search">
      <div class="row filter-height">
        <div class="col-lg-6">
          <div class="contains" *ngIf="(checklist | filter: searchterm).length != 0">
            <label id="checkSelectAll" class="contain searchselect">
              <h5 class="checkselect">Select all</h5>
              <input type="checkbox" class="selectall"  [(ngModel)]="masterSelected"
                name="list_name" value="m1" (change)="checkUncheckAll(checklist)" />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div *ngFor="let item of checklist |filter:searchterm ;let i=index" class="row filter-height">
        <div class="col-lg-12">
          <div class="contains inner-contains">
            <label class="contain search-div">
              <h5>{{item.email}}</h5>
              <p>{{item.firstName}}</p>
              <input type="checkbox" class="individual" (click)="sendMessageToParent()" [(ngModel)]="item.isSelected"
                name="list_name" value="{{item.id}}" (change)="isAllSelected(item)" />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(checklist | filter: searchterm).length == 0" class="row no-result">
      <div class="text-muted">
        No Entries Found
      </div>
    </div>
  </div>
</ng-template>