<div class="clearfix app-panel-padd">
  <div *ngIf="simpleListPanelData.panelName" class="card app-bg-success">
    <div class="card-body app-card-body">{{simpleListPanelData.panelName}}</div>
  </div>
  <div *ngIf="noResult else elseblock">
  <div class="clearfix app-list" *ngFor="let formItem of listData">
    <div *ngFor="let item of formItem.listItems" class="row col-lg-6 app-simple-panel app-form-field float-left">
      <app-input-textbox class="col-lg-12" *ngIf="item.htmlTag == 'input'" [inputData]="item" [form]="form"></app-input-textbox>
      <app-input-textarea class="col-lg-12" *ngIf="item.htmlTag == 'textarea'" [textareaData]="item" [form]="form"></app-input-textarea>
      <app-input-selectbox class="col-lg-12" *ngIf="item.htmlTag == 'select'" [selectData]="item" [panelItem]="listData" [form]="form"></app-input-selectbox>
      <app-datepicker class="col-lg-12" *ngIf="item.htmlTag == 'datepicker'" [datePickerData]="item" [form]="form"></app-datepicker>
    </div>
</div>
</div>
<ng-template #elseblock>
  <div class="text-center else-padding">No Result Found</div>
</ng-template>
</div>