<div *ngIf="!mobileScrDropdown" id="mySidenav" class="sidenav">
  <ul *ngIf="page == 'create' ; else elseBlock" style="list-style-type: none">
   <a [routerLink]="['/authenticate/create/project/details']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Details</a>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/project/configuration']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Plan Configuration</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/lookaheadplan']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Lookahead Plan</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/project/company']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Companies</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Users & Permissions</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Trade</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Spec Division</a></li>
   <!-- <li><a class="specDivision">import Data</a></li> -->
 </ul>
 <ng-template #elseBlock>
   <ul style="list-style-type: none">
     <li><a class="details" [ngClass]="{'activeSec':currentUrl=='/authenticate/edit/project/details'}" (click)="pageRoute('details')">Details</a></li>
     <li><a class="plan" [ngClass]="{'activeSec':currentUrl=='/authenticate/edit/project/configuration'}" (click)="pageRoute('planC')">Plan Configuration</a></li>
     <li><a class="lookahead" [ngClass]="{'activeSec': currentUrl=='/authenticate/lookaheadplan'}" (click)="pageRoute('lookahead')">Lookahead Plan</a></li>
     <li><a class="company" [ngClass]="{'activeSec': currentUrl=='/authenticate/edit/project/company'}" (click)="pageRoute('company')">Company Directory</a></li>
     <li><a class="user" [ngClass]="{'activeSec': currentUrl == '/authenticate/edit/project/user'}" (click)="pageRoute('user')">Users & Permissions</a></li>
     <li><a class="trade" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/trade'}" (click)="pageRoute('trade')">Trade</a></li>
     <li><a class="specDivision" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/specDivision'}" (click)="pageRoute('specDivision')">Spec Division</a></li>
     <li><a class="import-data" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/import-data'}" (click)="pageRoute('import-data')">Upload Schedule</a></li>
   </ul>
 </ng-template>

</div>



<!-- Template for mobile view -->
<div *ngIf="mobileScrDropdown" id="mySidenav" class="sidenav">   
<p class="tabView">{{ dynamicPageName }}</p>
   <div *ngIf="mobileScrDropdown" style="float: right"><a class="dropdown-toggle"  data-toggle="dropdown"> <img src="../../../assets/images/icons/catch_all.svg"></a>
   <div class="dropdown-menu" >
     
   <ul class="listType" *ngIf="page == 'create' ; else elseBlock" style="list-style-type: none">
   <a [routerLink]="['/authenticate/create/project/details']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Details</a>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/project/configuration']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Plan Configuration</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/lookaheadplan']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Lookahead Plan</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/project/company']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Companies</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Users & Permissions</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Trade</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Spec Division</a></li>
   <li [class.isLiDisable]="!projectDetails"><a [class.isADisable]="!projectDetails" [routerLink]="['/authenticate/create/user']" [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}">Upload Schedule</a></li>
 </ul>
 <ng-template class="tabView" #elseBlock>
   <ul style="list-style-type: none">
     <li><a class="details" [ngClass]="{'activeSec':currentUrl=='/authenticate/edit/project/details'}" (click)="pageRoute('details')">Details</a></li>
     <li><a class="plan" [ngClass]="{'activeSec':currentUrl=='/authenticate/edit/project/configuration'}" (click)="pageRoute('planC')">Plan Configuration</a></li>
     <li><a class="lookahead" [ngClass]="{'activeSec': currentUrl=='/authenticate/lookaheadplan'}" (click)="pageRoute('lookahead')">Lookahead Plan</a></li>
     <li><a class="company" [ngClass]="{'activeSec': currentUrl=='/authenticate/edit/project/company'}" (click)="pageRoute('company')">Company Directory</a></li>
     <li><a class="user" [ngClass]="{'activeSec': currentUrl == '/authenticate/edit/project/user'}" (click)="pageRoute('user')">Users & Permissions</a></li>
     <li><a class="trade" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/trade'}" (click)="pageRoute('trade')">Trade</a></li>
     <li><a class="trade" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/specDivision'}" (click)="pageRoute('specDivision')">Spec Division</a></li>
     <li><a class="trade" [ngClass]="{'activeSec':currentUrl == '/authenticate/edit/project/import-data'}" (click)="pageRoute('import-data')">Upload Schedule</a></li>
   </ul>
 </ng-template>
</div> 
 </div>
</div>






<!-- [routerLink]="['/authenticate/edit/project/details']"
[routerLink]="['/authenticate/edit/project/configuration']"
[routerLink]="['/authenticate/lookaheadplan']"
[routerLink]="['/authenticate/edit/project/company']"
[routerLink]="['/authenticate/edit/project/user']"
[routerLink]="['/authenticate/edit/project/trade']" -->
<!-- [routerLinkActive]="['activeSec']" [routerLinkActiveOptions]="{exact:true}" -->
