.sidenav {
    height: 100%;
    min-height: calc(100vh - 165px);
    z-index: 1;
    background-color: #ebebeb;
    overflow-x: visible;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    color: #323232 !important;
    font-family: LatoRegular !important;
}

.sidenav ul {
    font-family: LatoMedium;
}

@media screen and (max-height: 576px) {
    .sidenav a {
        font-size: 15px;
        padding: 0px 0px 0px 0px;

    }
}

.activeSec {
    background-color: #fae080;
}

ul {
    padding-left: 0px !important;
}


.isLiDisable {
    cursor: not-allowed !important;
}

.isADisable {
    pointer-events: none !important;
}

@media only screen and (min-width : 768px) and (max-width:992px) {
    ul {
        margin-top: -8px;
        margin-bottom: 0rem;
    }

    .tabView {
        display: none;
    }

    .sidenav {
        height: 0px !important;
        min-height: 0px;
        z-index: 1;
        background-color: white;
        overflow-x: visible;
        transition: 0.5s;
        position: relative;
        left: -4px;
        font-size: 20px;

        a {
            left: 2.4rem;
            position: relative;
            padding: 8px 8px 8px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            display: block;
            cursor: pointer;
            transition: 0.3s;
            color: #323232 !important;
            font-family: LatoRegular !important;
        }

        ul {
            // background-color: red;
            position: relative;
            right: 38px !important;
        }


    }
}


/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media screen and (min-width : 992px) and (max-width : 1200px) {
    #mySidenav {
        margin-top: -1px;
        height: 100%;
        min-height: calc(100vh - 165px);
        z-index: 1;
        background-color: #ebebeb;
        overflow-x: visible;
        transition: 0.5s;
        width: 117%;
    }
}