.gantt_grid_scale .gantt_grid_head_cell{
    color: #898989;
    /* width:auto !important; */
    font-family: 'LatoRegular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    padding: 5px;
}

.gantt_task .gantt_task_scale .gantt_scale_cell {
    color: #898989;
    width: 26.5px;
    height: 27px;
    font-family: 'LatoRegular';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center !important;
}


.gantt_task_cell{
    /* width: 26.5px !important; */
    /* height: 27px !important; */
    /* border: solid 1px #707070; */
    background-color: #10eb4f;
}

.gantt_task_row{
    /* width: 26.5px !important; */
    /* height: 35px !important; */
}

.task-col-div{
    background:#ffffff;
    /* background:#fff; */
    width: 30px;
    height: 35px;
    padding:0px;
    border-radius:0px; 
}

.task-col-div.disabled{
    width: 30px;
    height: 35px;
    background:#b48e04 !important;

    /* border:1px solid #fff; */
    /* padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px; */
}

/* .dotted {
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    } */

/******** Checkbox Style  **********/
/* input[type=checkbox ].timeline-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 26.5px;
    height: 27px;
    background-color: #f4c20d;

    z-index: 1;
} */

.timeline-parent{
    background-color: #CCCCCC !important;  
}
input[type='text']:disabled.timeline-parent{
    background-color: #CCCCCC !important;
    pointer-events: none !important; 
}

.gantt_task_cell .timeline-checkbox {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #b9d9ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-align: left;
  /* padding-left: 5px; */
  color: #fff;
  }
  input:disabled{
    background-color: #0064af !important;
    pointer-events: none !important;
  }


  .gantt_task_cell .timeline-bg{
    width: 26px;
    height: 229px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #10eb4f;
    border: solid 1px #707070;
  }

/* .gantt_task_cell {
    position: relative;
    width: 26.5px;
    height: 27px;
    background-color: #f4c20d;

} */

select:disabled{
    background-color: #b48e04 !important;
}
/* .gantt_task_cell .checkmark {
    position: absolute;
    height: 33px;
    width: 29px;
    background-color: #f4c20d;
    cursor: pointer;
} */

 /* input[type=checkbox ]:disabled + span{

    position: absolute;

    width: 26.5px;
    height: 27px;
    background:#e6e6e6; */

    /* padding: 2.25em 1.6875em; */
    /* background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px; */
    /* -moz-background-size: 3px 3px;  */
    /* background-size: 3px 3px; */
/* }  */
/* .gantt_task_cell .checkmark :disabled {
    background-color: #000;
} */

/* .gantt_task_cell:active .timeline-checkbox ~ .checkmark {
    background-color: #f4c20d;
}
.gantt_task_cell:visited .timeline-checkbox ~ .checkmark {
    background-color: #f4c20d;
} */
/* input[type=checkbox ]:checked {
    background-color: #f4c20d !important;
} */

select option.line{
    width: 24px;
    height: 1px !important;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
} 

  











