@font-face {
    font-family: 'LatoItalic';
    src: url(../../assets/fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: 'LatoBold';
    src: url(../../assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'LatoMedium';
    src: url(../../assets/fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: 'LatoSemiBold';
    src: url(../../assets/fonts/Lato-SemiBold.ttf);
}
@font-face {
    font-family: 'LatoRegular';
    src: url(../../assets/fonts/Lato-Regular.ttf);
}
    /*print alignment style solving css start*/
    .gantt_last_cell{
        font-weight: normal;
    }
    .gantt_grid_scale:last-child{
        border-bottom: 0px !important;
    }
    .gantt_grid_scale{
        border: 0px;
        border-top: 1px solid #A9B1B1;
        border-bottom: 1px solid #A9B1B1;
    }
    .gantt_row.odd, .gantt_task_row.odd{
        border-bottom: 0px;
    }
    /* .gantt_grid div, .gantt_data_area div{
        border-bottom:inherit ; 
    } */
    /* .gantt_grid div, .gantt_data_area div:last-child{
         border-bottom: 0px;  
    } */

    .gantt_task_row, .gantt_row:first-child {
        border-top: 1px solid #A9B1B1 !important;
    }
    .gantt_grid_scale, .gantt_task_scale:last-child {
        border-bottom:0px;
    }
    
    .gantt_task_row, .gantt_row:last-child{
        border-bottom:0px !important;
    }
    .gantt_grid_scale{
        border-bottom:0px;
    }
    .gantt_task_row, .gantt_row {
        border-bottom:0px !important;
    }
    .gantt_task_row, .gantt_row{
        border-bottom: 1px solid #A9B1B1 !important;
    }
    .gantt_last_cell{
        text-align: left !important;
        padding-left: 0px !important;
    }
    .gantt_last_cell .gantt_tree_content{
        /* margin-left: 17px !important;  */
    }
    .gantt_task_bg{
         border-bottom:0px;
    }
    .gantt_task .gantt_task_scale .gantt_scale_cell{
        text-align: center !important;
        border-right: 1px solid #A9B1B1;
    }
    .gantt_scale_line{
        border-top: 1px solid #A9B1B1;
    }
    .gantt_grid_scale, .gantt_task_scale{
        border-bottom:0px !important; 
    }
    
/*print alignment style solving css end*/
.gantt_grid_scale .gantt_grid_head_cell{
    color:#333;
    color: #898989;
    /* text-align:center !important; */
}

.gantt_task .gantt_task_scale .gantt_scale_cell {    
   color:#333;
   font-size: 12px !important;
   width: 21px;
   height: 30px;
   position: absolute;
}

.gantt_task_cell{    
   border-right-width: 0px;    
}
.gantt_container{
   width: 1285px !important;
}

.gantt_task_row{
border-bottom-width: 0px;    
}

.task-col-div{    
  background:#e6e6e6;
  /* background:#fff; */
   height:100%;
   width:100%;
   border:1px solid rgb(165, 162, 162); 
   padding:0px;
   border-radius:0px;
   padding: 2.25em 1.6875em;
   background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   -webkit-background-size: 4px 4px;
   -moz-background-size: 4px 4px;
   background-size: 4px 4px;
}

.task-col-div.disabled{    
   background: #e6e6e6;       
   padding: 2.25em 1.6875em;
   background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
   -webkit-background-size: 4px 4px;
   -moz-background-size: 4px 4px;
   background-size: 4px 4px;
} 

/******** Checkbox Style  **********/

/* input[type=checkbox].timeline-checkbox {  

 height:100%;
 border:1px solid rgb(165, 162, 162); 
 width:100%;
 padding:0px;
 border-radius:0px;
 cursor: pointer;
 }
   
input[type=checkbox] .check-disable{
   
height:100%;
border:1px solid rgb(165, 162, 162); 
width:100%;
padding:0px;
border-radius:0px;
cursor: pointer;
padding: 2.25em 1.6875em;
background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
-webkit-background-size: 3px 3px;
-moz-background-size: 3px 3px;
background-size: 3px 3px;    
 } */

 input[type=checkbox ].timeline-checkbox{
   position: absolute;
   opacity: 0;  
   cursor: pointer;  
   height: 32px;
   width: 32px;
   /* background-color: #A9B1B1; */
   z-index: 1;
}

.gantt_task_cell .timeline-checkbox {   
 position: absolute;
 height: 38px;
 width: 32px;
 /* background-color: #A9B1B1; */
 cursor: pointer;
 z-index: 1;
 font-size: 12px;
 padding: 0 5px;
 text-align: center !important;
 }

.gantt_task_cell {
   position: relative;
}


.gantt_task_cell .checkmark {
   position: absolute;
   height: 32px;
   width: 32px;
   background-color: #A9B1B1;
   cursor: pointer; 
}

input[type=checkbox ]:disabled + span{   
   background: #e6e6e6;
   position: absolute;
   height: 32px;
   width: 32px;
   /* padding: 2.25em 1.6875em; */
   background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
   background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
   background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
   background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
   -webkit-background-size: 3px 3px;
   /* -moz-background-size: 3px 3px;  */
   background-size: 3px 3px;

}
/* .gantt_task_cell .checkmark :disabled {
   background-color: #000;   
} */

.gantt_task_cell:active .timeline-checkbox ~ .checkmark {
   background-color: #A7AFAE;      
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFWSURBVFhHtZfLTsMwFET9W4iWFXSNChKvfnv5BFgBGwQzVqdKousbX9sd6SySuJ6jREntZOQKHME+H43JPeCc1/nIyS34An8nXkFvXoDm+wZ3wAzLOUCDRY/EtFyYEqVy0SJhlYuZBJ+LVy4iEl65YOcWpI/TiRpqJGrKxSdID5MTNXgSkXLyCHI4qTWghCURLT+AWXokusuVFonnxbk1iuVKVCLCarlyCYnqcmWkRLhcGSHRXK5Q4hdYk6/RXa5EXzNC8WF5AlaJB6WHhBO1PAL+pvsutNz6Jc0SI8pFWGJkuaiWuES5WJWIlr8BTmpdK1GUiJZPPzLdEj3lSrMENyDWgBLe5zUqweVgXhhaFy1qvu0Ribwo5dK4Zlke+WOpkfgBNyCHmwRPIlKueBIs34FZShIt5YolYZYrS4mecmUq4ZYr3Kq9g/OmYUD4pnHOTT46J6V/TlAp2fJivEMAAAAASUVORK5CYII=);
   background-repeat: no-repeat;         
}
.gantt_task_cell:visited .timeline-checkbox ~ .checkmark {
   background-color: #A7AFAE;      
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFWSURBVFhHtZfLTsMwFET9W4iWFXSNChKvfnv5BFgBGwQzVqdKousbX9sd6SySuJ6jREntZOQKHME+H43JPeCc1/nIyS34An8nXkFvXoDm+wZ3wAzLOUCDRY/EtFyYEqVy0SJhlYuZBJ+LVy4iEl65YOcWpI/TiRpqJGrKxSdID5MTNXgSkXLyCHI4qTWghCURLT+AWXokusuVFonnxbk1iuVKVCLCarlyCYnqcmWkRLhcGSHRXK5Q4hdYk6/RXa5EXzNC8WF5AlaJB6WHhBO1PAL+pvsutNz6Jc0SI8pFWGJkuaiWuES5WJWIlr8BTmpdK1GUiJZPPzLdEj3lSrMENyDWgBLe5zUqweVgXhhaFy1qvu0Ribwo5dK4Zlke+WOpkfgBNyCHmwRPIlKueBIs34FZShIt5YolYZYrS4mecmUq4ZYr3Kq9g/OmYUD4pnHOTT46J6V/TlAp2fJivEMAAAAASUVORK5CYII=);
   background-repeat: no-repeat;      
}
input[type=checkbox ]:checked + span {  
   background-color: #A7AFAE !important;         
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFWSURBVFhHtZfLTsMwFET9W4iWFXSNChKvfnv5BFgBGwQzVqdKousbX9sd6SySuJ6jREntZOQKHME+H43JPeCc1/nIyS34An8nXkFvXoDm+wZ3wAzLOUCDRY/EtFyYEqVy0SJhlYuZBJ+LVy4iEl65YOcWpI/TiRpqJGrKxSdID5MTNXgSkXLyCHI4qTWghCURLT+AWXokusuVFonnxbk1iuVKVCLCarlyCYnqcmWkRLhcGSHRXK5Q4hdYk6/RXa5EXzNC8WF5AlaJB6WHhBO1PAL+pvsutNz6Jc0SI8pFWGJkuaiWuES5WJWIlr8BTmpdK1GUiJZPPzLdEj3lSrMENyDWgBLe5zUqweVgXhhaFy1qvu0Ribwo5dK4Zlke+WOpkfgBNyCHmwRPIlKueBIs34FZShIt5YolYZYrS4mecmUq4ZYr3Kq9g/OmYUD4pnHOTT46J6V/TlAp2fJivEMAAAAASUVORK5CYII=);
   background-repeat: no-repeat;     
}

/*newly added */

.gantt_grid_head_taskName{
   margin-left: 22px !important;
 }
 .gantt_grid_head_notes{
   margin-left: 67px !important;
 }
 /* */

 .private-drop{
   border:none !important;
   background-color: transparent !important;
   color: #898989;
   font-family: LatoRegular !important;
}


.gantt_grid_head_accessTo{
   text-align: left !important;
   padding-left: 9px !important;
}

.gantt_grid_head_note{
   text-align: left !important;
   padding-left: 18px !important;
}

.gantt_grid_head_taskName{
   text-align: left !important;
}

.gantt_tree_icon .gantt_blank{
   display: none !important;
} 
 
.gantt_tree_icon{
   display: none !important;
}

.gantt_grid_head_serialno{
   padding-left: 5px !important;
}

.gantt_cell .text-ellipsis{
   margin-left: 20px !important; 
}

.ballinthecourt{
   text-align: left !important;
   padding-left: 5px !important;
}

.gantt_grid_head_ballinthecourt{
   text-align: left !important;
   padding-left: 10px !important;
}