/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .app-input-label {
        text-align: left !important;
        white-space: pre;
    }
}