<div *ngIf="inputData" class="row">
  <div class="col-lg-4 col-md-3 app-input-label">
    <label>{{inputData.label}}<span class="required" *ngIf="inputData.validation && inputData.validation.required">*</span></label>
  </div>
  <div class="col-lg-6 col-md-6 app-input-field">
    <ng-select [items]="companyList" [addTag]="true" [(ngModel)]="inputData.value" bindLabel="name" [name]="inputData.name"
      [formControl]="form.controls[inputData.name]" [readonly]="inputData.readOnly" [ngClass]="{'disabled-input': inputData.readOnly === true, 'enabled-input': inputData.readOnly === false}"
      [id]="inputData.name" (change)="changeCompany(inputData, inputData.value)">
      <ng-template ng-tag-tmp let-search="searchTerm">
        <label>Add {{inputData.label}}</label> : {{search}}
      </ng-template>
    </ng-select>
    <span class="alert alert-danger input-absolute" *ngIf="form.controls[inputData.name].errors && form.controls[inputData.name].touched">
      <span [hidden]="!form.controls[inputData.name].errors.required"> {{inputData.label}} is {{validation.required}}.</span>
    </span>
  </div>
</div>