.main-content{
    //padding-top:13px;
    border-radius: 0 !important;
    position: relative;
    top: 110px;
}
.modal {
    padding: 0px !important;
}
.modal-title{
    color: #243d66;
    font-family: 'LatoRegular';
}
.msgContent{
    color: #707070;
}
.msgBtn{
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    border-radius: 0 !important;
}
.modal-content{
    border-radius: 5px !important;
    outline: none !important;
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .modal-title {
        text-align: left !important;
        margin-left: 0px !important;
    }

    
}
/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .modal-title {
        text-align: left !important;
        margin-left: 0px !important;
    }

    
}
