<div class="app-start">
  <!-- <app-new-header></app-new-header> -->
  <app-header></app-header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade unsavedPopup" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" *ngIf="message != 'You have unsaved data on this page. How do you want to proceed?'">
        <h4 class="modal-title" style="margin: 0 auto;">Message</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="focusElement()">&times;</button>
        <!-- *ngIf="message != 'Your license has expired. Please purchase a license.'" -->
      </div>

      <div class="modal-header" *ngIf="message == 'You have unsaved data on this page. How do you want to proceed?'">
          <!-- <img src="assets/images/warning.svg" class="warning-img">  -->
          <span class="title-alignment">
            <img src="assets/images/warning.svg" class="warning-msg">
           <h4 class="modal-title">Message</h4>
         </span>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="msgContent" style="margin:0px;">{{message}}</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button *ngIf="!userIssue && message != 'Success Proceed to Login' && message != 'Your license has expired. Please purchase a license. ' && message != 'You have unsaved data on this page. How do you want to proceed?' ; else elseBlock" type="button"  class="btn btn-success msgBtn" data-dismiss="modal" (click)="focusElement()" autofocus>Ok</button>
        <ng-template #elseBlock>
          <button *ngIf="!userIssue && message != 'Your license has expired. Please purchase a license.'  && message != 'You have unsaved data on this page. How do you want to proceed?' " type="button" [routerLink]="['/login']" class="btn btn-success msgBtn" data-dismiss="modal" (click)="focusElement()" autofocus>Ok</button>  
        </ng-template>
         <button  *ngIf="message == 'You have unsaved data on this page. How do you want to proceed?'" type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('dontsave')">Discard & Continue</button>
        <button  *ngIf="message == 'You have unsaved data on this page. How do you want to proceed?'" type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('save')">Save & Continue</button>

        <button  *ngIf="userIssue" type="button" data-dismiss="modal" (click)="messageClick('cancel')" class="btn btn-success msgBtn">Cancel</button>  
        <button *ngIf="userIssue" type="button" data-dismiss="modal" (click)="messageClick('ok')" class="btn btn-success msgBtn" >Ok</button>  
        <button *ngIf="message == 'Your license has expired. Please purchase a license.'" type="button" data-dismiss="modal" (click)="routerNavigate('project')" class="btn btn-success msgBtn" >Cancel</button>  
        <button *ngIf="message == 'Your license has expired. Please purchase a license.'" type="button" data-dismiss="modal" (click)="routerNavigate('license')" class="btn btn-success msgBtn" >Buy License</button>  

      </div>
    </div>
  </div>
</div>
