<div class="paginationMain" style="padding: 0px">
    <div class="col-lg-12 col-md-12 cus-pagination" style="padding: 0px">
      <div class="paginationPadd">
          <button class="page-btn" (click)="pagination('previous')" [disabled]="currentPageNo === 1"><img src="assets/images/icons/first.png" title="first" class="pagination-btnImg"></button>
          <button class="page-btn" (click)="pagination('before')" [disabled]="currentPageNo === 1"><img src="assets/images/icons/previous.png" title="previous" class="pagination-btnImg"></button>
          <div class="page-count" title="{{currentPageNo}}"><input class="pageable-input pagination-input elipsis-text" type="text" title="{{currentPageNo}}" disabled [(ngModel)]="currentPageNo"><label title="{{totalPage}}">of {{totalPage}}</label> </div>
          <button class="page-btn" (click)="pagination('next')" [disabled]="lastPage == currentPageNo"><img src="assets/images/icons/next.png"  title="next" class="pagination-btnImg"></button>
          <button class="page-btn" (click)="pagination('last')" [disabled]="lastPage == currentPageNo"><img src="assets/images/icons/last.png" title="last" class="pagination-btnImg"></button>
      </div>
  </div>
</div>




