.cus-pagination {

    padding: 0px;
    float: right;
    display: table;

}

.page-btn {

    //text-align: center;
    //border: 1px solid #454545 !important;
    //margin: 0 3px;
    //font-size: 16px;
    //width: 24px;
    //height: 24px;
    img {
        margin: 0 auto;
        padding: 0px 3px 4px 4px;
    }
}

.page-count {
    text-align: center;
    //border: 1px solid #454545 !important;
    margin: 0 auto;
    font-size: 15px;
    color: #454545;

    input {
        padding: 0px 0px 0px 0px;
        margin: 0 7px 0 16px;
    }

}

.page-count label {
    margin: 0px;
    padding: 0 20px 0 0px;
    letter-spacing: 2px;
}

.paginationPadd {
    float: right;
    //margin-right: 58px;
    display: inline-flex;
    //height: 24px;
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .paginationMain {
        // float:right;
        //margin-right: 58px;
        //display: inline-flex;
        display: none;
        //height: 24px;
    }
}

button {
    border: none !important;
    background: transparent !important;
    padding: 0px !important;
    vertical-align: middle !important;
    outline: none !important;
}

.cus-pagination button i {
    color: #708090 !important;
    font-size: 21px;
    padding: 0 7px;
    margin-right: 1px;

}

.cus-pagination .pagination-input {
    width: 18px;
    border: none;
    text-align: center;
    background: transparent;
}

.showRecord {
    text-align: right;
    padding: 0px;
    position: relative;
    right: -3px;
}

.paginationPadd input:disabled {
    background-color: transparent !important;
}


.right-arrow1::after {
    border-right: 1px solid gray !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

button:disabled {
    cursor: not-allowed;
}

button:enabled {
    cursor: pointer;
}

.paginationMain {
    padding: 10px 0px !important;
}

@media only screen and (min-width:768px)and (max-width:992px) {
    .cus-pagination {
        padding: 0px;
        float: right;
        display: table;
        top: 27px;
        margin-bottom: 29px;
        margin-top: 8px;
        left: 2.2rem;

    }
}

/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .page-count {
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
        color: #454545;

        label {
            margin: 0px;
            padding: 0 0px 0 0px !important;
            letter-spacing: 2px;
        }

        input {
            padding: 0px 0px 0px 0px;
            margin: 0 7px 0 16px;
        }

       
        
    }
    .paginationMain {
        padding: 10px 0px !important;
    }
    .cus-pagination {
        top: -12px !important;
    }
}
@media only screen and (min-width: 1200px) {
    .cus-pagination {
      right: 30px !important;
    }
  }