.projectshareDialog{
    max-width: 68%;
}
.modal-content{
border-radius: 0;
margin-left: 5%;
width:90% !important;
}
.modal-title{
    font-size: 25px;
    font-family: 'LatoRegular';
    color: #243d66;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.modal-header{
    margin-left: 40px;
    margin-right: 40px; 
}
.modal-header .close{
    margin: -1rem -3rem -1rem auto;
    outline: none;
}
.create_input_alignment{
    
    //margin: 0 0 15px 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 3% !important;

}
.shareproject{
    max-height: 200px;
    overflow-y: auto;
    margin: 0 auto;
}
.shareproject::-webkit-scrollbar{
    width: 20px; 
}
.shareproject::-webkit-scrollbar-track {
    background:#898989;
    border-left: 9px solid white;
    border-right: 9px solid white;
    
  }
  .shareproject::-webkit-scrollbar-thumb {
    background: #707070;
    border-left: 7px solid white;
    border-right: 7px solid white;
    border-radius: 10px;
    height: 30px !important;
  }
.view{
    background-color: #eeeeee;
    border: 1px solid #dadada;
    font-size: 13px;
    color: #707070;
    font-family: 'LatoRegular';
    height: 30px;
    width: 87px;
    text-align: left;
    outline: none;
}
.closeAccessBtn{
    margin: 3px 3px 0px 0px;
    float:right;
    width: 10px;
}
.peopleShared{
width: 100%;
display: inline-flex;
}
.closeAccess{
    margin: 0 10px;
    //margin-top: 2px;
}
.userName{
    color: #898989;
    font-size: 16px;
    font-family: 'LatoRegular';
    padding: 0 10px;
    display: table;
}
.sideHeader{
    margin: 0 10px;
    color: #707070;
}
.userIcoName{
    margin-left: 7%;
}
.userNameEmail{
    list-style-type: none;
    padding: 0;
}
.userIcon{
    padding-left: 19px;
    margin-top: 7px;
}
.btnAlign{
    text-align: right;
}
.view{
    margin: 0px 3px !important;
}
// Send Button CSS
.inline-align{
    word-wrap: break-word;
    width: 100%;
    word-break: break-all;
}
.sendBtn{
    border: none;
    outline: none;
    height: 38px;
    //float: right;
    //width: 91px;
    padding: 5px 21px 5px 21px;
    margin: 30px 0px 0px 11px;
    background-color: #243d66;
    color: #fff;
    text-align: center;
    //margin-left: 77%;
    cursor: pointer;
}

/*.btnDivSend{
    width: 75px !important;
    height: 38px !important;
    border: none;
    outline: none;
    padding-right: 21px;
    background-color: #243d66;
    color: #fff;
    margin-left: 72%;
}*/
.inputWidth{
    width: 113% !important;
}
.shareproject{
    .center-alignment{
        margin:0px auto 3px auto;
    }
    .sideHeader{
        h2{
            margin-bottom: 22px; 
        }
    }
}
.emptyprojecttext{
    p{
        color: #707070;
        font-size: 18px;
        text-align: center;
    }
}

/*Modal css*/

.main-content{
    padding-top:13px;
    border-radius: 0 !important;
  }
  .modal-title{
    color: #243d66;
    font-family: 'LatoRegular';
  }
  .msgContent{
    color: #707070;
  }
  .msgBtn{
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    border-radius: 0 !important;
  }
  .modal-content{
    border-radius: 0 !important;
    outline: none !important;
  }