<!-- Modal -->
<div class="modal fade" id="targetModal" role="dialog">
  <div class="modal-dialog projectshareDialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share Project with</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clickMethod()">
          <img src="assets/images/close.png">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
          <div class="">
            <div *ngIf="panels" class="">
              <!-- <div class="panels"> -->
                <div class="row">
                  <div *ngFor="let item of panels" class="col-lg-12 create_input_alignment">
                    <div *ngIf="item.type == 'simple'">
                      <div class="subPanel">
                        <h2></h2>
                      </div>

                      <div *ngFor="let formItem of item.items" class="row grid_alignment" style="padding: 10px 0px;">
                        <app-input-textbox class="col-lg-12" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                          [inputData]="formItem" style="width:113% !important;" [pageData]="panelData" [form]="form"
                          (notifyInput)="onhandleUserUpdated($event)"></app-input-textbox>

                        <app-input-multiselect class="col-lg-12 inputWidth" *ngIf="formItem.htmlTag == 'multiselect'"
                          [multiselectData]="formItem" (notifySelect)="onhandleUserUpdated($event)" [pageData]="panelData"
                          [form]="form"></app-input-multiselect>
                        <div class="col-lg-12 " *ngIf="formItem.htmlTag=='div'" id="{{formItem.id}}" style="border-bottom: none !important;">

                          <div class="col-lg-12 shareproject center-alignment">
                            <div class="sideHeader">
                              <h2>{{item.panelName}}</h2>
                            </div>
                              <!-- <div class="emptyprojecttext">
                                <p>Currently there are no shared with user..</p>
                              </div> -->
                            <div *ngFor="let item of shareMember; let i = index" class="row ">
                              <div class="col-lg-6">
                                <div class="" style="display: inline-flex;">
                                  <span class="userIcon">
                                    <img *ngIf="shareMember.length !== 0" class="" src="assets/images/profile.png">
                                  </span>
                                  <div class="inline-align">
                                    <ul class="userNameEmail">
                                      <li>
                                        <span class="userName">
                                          {{item.firstName}} {{item.lastName}}
                                        </span>
                                      </li>
                                      <li>
                                        <span class="userName">
                                          {{item.email}}
                                        </span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 btnAlign">
                                <div *ngFor="let btnItem of item.lookaheadAccess;let j=index;" class="" style="display: inline-flex;">
                                  <button class="view">{{btnItem}}
                                    <img *ngIf="btnItem!='View' && item.projectRole!='' && item.projectRole!='GENERAL-CONTRACTOR'" (click)="removeButton(i,j)" class="closeAccessBtn" src="assets/images/close.png">
                                  </button>
                                </div>
                                <span class="" *ngIf="item.projectRole!='' && item.projectRole!='GENERAL-CONTRACTOR'">
                                  <img class="closeAccess" (click)="removeData(item, i)" src="assets/images/close.png">
                                </span>
                              </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                              <button type="submit" *ngIf="shareMember.length !== 0" class="sendBtn" (click)="send(item)" data-dismiss="modal" autofocus>Send</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="btnDivSend addBtn-align" *ngFor="let item of item.ComponentItem">
                        <app-button [panelData]="operation"  id="addBtn" [buttonData]="item"
                          [form]="form" class="form-group "></app-button>
                      </div>
                      <!-- <app-button *ngIf="item.ComponentItem" [panelData]="item" [buttonData]="item.ComponentItem" [form]="form"></app-button> -->
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
