<!-- <div class="col-lg-12">
  <div class="row">
    <div *ngIf="buttonData" class="btn-margin btn-row col-lg-6" >
      <div class="{{buttonData.class}}" > -->
        <button data-toggle="modal" *ngIf="buttonData" type="{{buttonData.inputTagType}}" 
        name="{{buttonData.name}}" id="{{buttonData.id}}" class="loginRegis btn btn-primary"
         >{{buttonData.value}}</button>
      <!-- </div>
    </div>
  </div>
</div> -->


<!-- The Modal -->
<div class="modal fade" id="recordExistModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p class="msgContent">Record Exists</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" (click)="goListPage()" class="btn btn-success" data-dismiss="modal">Ok</button> -->
          <button type="button"  class="btn btn-success msgBtn" data-dismiss="modal" autofocus>Ok</button>
        </div>
  
      </div>
    </div>
  </div>

     

