button{
  font-family: LatoMedium !important;
}
.btn-margin{
    margin:0 auto;
    //padding: 0px 9px;
}
.btn-align{
    display: inline-block;
    margin-left: 25px;
    margin-right: -8px;
}
.btn-row{
    text-align: right;
}

/*Modal css*/

.main-content{
    padding-top:13px;
    border-radius: 0 !important;
  }
  .modal-title{
    color: #243d66;
    font-family: 'LatoRegular';
  }
  .msgContent{
    color: #707070;
  }
  .msgBtn{
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    border-radius: 0 !important;
  }
  .modal-content{
    border-radius: 0 !important;
    outline: none !important;
  }


@media only screen and (min-width: 992px) and (max-width:1200px) {
  button[name="save"],
  button[name="cancel"],
  button[name="reset"],
  button[name="done"],
  button[name="project"] {
      width: 90%;
      margin-left: 4px !important;
  }

  button {
      width: auto;
      border: 0px solid transparent;
  }
  button[name ="upload"] {

  }
}