// html,
// body {
//     height: 100%;
// }

// .container {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// #addQuestion{
//     //background-color: #C5C9B8;
//     width: 100%;
//     color: #333333;
//     height: 400px;
//     margin: 0 auto;
//     overflow: hidden;
//     padding: 10px 0;
//     align-items: center;
//     justify-content: space-around;
//     display: flex;
//     float: none;
// }

.main-div{
    margin: 15% auto;
}
.email-margin{
    margin:30px 0px;
}
.mgsBtn{
    background-color: #243d66 !important;
    border-color: #243d66 !important;
    border-radius: 0 !important;
}