<!-- <div id="addQuestion">
  
  
    <button type="button" class="btn btn-primary">Primary</button>
  
</div> -->

<div class="col-lg-12 main-div text-center">
  <div>Email has been verified successfully</div>
  <div class="email-margin">
    <button type="button" [routerLink]="['/login']" [queryParams]="{'email':email}" class="btn btn-primary mgsBtn">Ok</button>
  </div>
</div>