
<ngx-spinner bdOpacity=0.9 bdColor="rgba(39,39,27,0.35)" size="large" color="rgba(238,217,12,0.97)" type="ball-spin-clockwise"></ngx-spinner>
<div class="col-lg-12 header-content">
  <div class="row">
    <div class="col-lg-6 lookbreadcurmb">
      <ul class="breadcrumb-lookahead">
        <li class="breadCrumbPlan1">
          <a (click)="goRoute('project')">Projects > </a>
        </li>
        <!-- {{loginDetails.trial}} -->
        <!-- {{loginDetails.isLicenseAvailable}} -->
        <li [class.disabled-span]="!loginDetails.trial && !loginDetails.licenseAvailable || projectRole == 'Owner'"
          (click)="goRoute('projectname')" title="{{projectDetails.projectName}}" style="cursor:pointer;" class="">{{projectDetails.projectName?projectDetails.projectName:''}}</li>
        <li> > </li>
        <li class="">Lookahead plan</li>
      </ul>
    </div>
    <div class="col-lg-6" style="text-align:-webkit-right;">

      <!-- Gantt Chart Project Task Status and Help icons -->

      <div class="row task-indicator">

        <!-- <div class="col-lg-2"></div>
        <div class="col-lg-3"></div> -->
        <div class="col-lg-12  header-icons">
          <!-- <div class="row"> -->
          <ul class="clearfix" style="position:relative;">
            <!-- <li>
                <a>
                  <label class="task-icon"></label>
                  <label>No Task</label>
                </a>
              </li> -->
            <li>
              <img class="legend-icon dropdown-toggle" style="cursor: pointer;float: left;" src="assets/images/legend_menu.png"
                data-toggle="dropdown">
              <div class="dropdown-menu legend-toggle-menu">
                <ul class="legend-ul">
                  <li class="task-icon-li">
                    <a>
                      <label class="task-icon"></label>
                      <label>On Track</label>
                    </a>
                  </li>
                  <li class="warning-icon-li">
                    <a>
                      <label class="warning-icon"></label>
                      <label>Warning</label>
                    </a>
                  </li>
                  <li class="behind-icon-li">
                    <a>
                      <label class="behind-icon"></label>
                      <label>Behind Schedule</label>
                    </a>
                  </li>
                  <li class="off-icon-li">
                    <a>
                      <label class="off-icon"></label>
                      <label>Off Days</label>
                    </a>
                  </li>
                  <li class="not-schedule-icon-li">
                    <a>
                      <label class="not-schedule-icon"></label>
                      <label>Not Scheduled Yet</label>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <label>Legend</label> -->
              <label class="dropdown-toggle" style="margin: 0 20px 0 -9px;cursor:pointer;" data-toggle="dropdown">Legend</label>
            </li>
            <li>
              <a href="https://wenplan.com/support" target="blank">
                <label class="help-icon">
                  <img src="assets/images/help.png">
                </label>
                <label>Help</label>
              </a>
            </li>
          </ul>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="col-lg-12 ganttchart-icons filter">
    <div class="row">
      <div class="col-lg-5 left-padd">
        <div class="row">
          <div class="col-lg-4" id="topfilter">
            <div class="filter-button" id="filter"><i class="fa fa-filter" aria-hidden="true"></i>Filter


              <i class="fa fa-angle-up" (click)="expandCollapse('filter');"></i>
              <i class="fa fa-angle-down" (click)="expandCollapse('filter');"></i>

            </div>
            <div class="content" id="filterChild">
              <div class="content-background">
                <a class="" id="accessibility">Task Status

                  <i class="fa fa-angle-up" (click)="expandCollapse('accessibility');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('accessibility');"></i>


                </a>
                <div class="sub-content label-alignment" id="accessibilityChild" *ngIf="masterData">
                  <div *ngFor="let visibilityItem of masterData['visibility']">
                    <label><input type="checkbox" value="{{visibilityItem}}" (click)="lookaheadFilter('taskStatus',visibilityItem)">{{visibilityItem}}</label>
                  </div>
                </div>
                <a class="" id="ballInCourt" *ngIf="projectRole!='SUB-CONTRACTOR'">Responsibility

                  <i class="fa fa-angle-up" (click)="expandCollapse('ballInCourt');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('ballInCourt');"></i>



                </a>
                <div class="sub-content label-alignment" id="ballInCourtChild">
                  <div *ngFor="let projectCompanyItem of projectCompanyList">
                    <label><input type="checkbox" value="{{projectCompanyItem.name}}" id="ss" (click)="lookaheadFilter('ballInCourt',projectCompanyItem.projectCompanyId)">{{projectCompanyItem.name}}</label>
                  </div>
                </div>

                <!-- <a class="" id="accessibility">Task Status

                  <i class="fa fa-angle-up"   (click)="expandCollapse('accessibility');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('accessibility');"></i>


                </a>
                <div class="sub-content label-alignment" id="accessibilityChild" *ngIf="masterData">
                  <div *ngFor="let visibilityItem of masterData['visibility']">
                    <label><input type="checkbox"  value="{{visibilityItem}}" (click)="lookaheadFilter('taskStatus',visibilityItem)">{{visibilityItem}}</label>
                  </div>
                </div> -->
                <a class="" id="task">Task Type

                  <i class="fa fa-angle-up" (click)="expandCollapse('task');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('task');"></i>
                </a>
                <div class="sub-content label-alignment" id="taskChild" *ngIf="masterData">
                  <div *ngFor="let taskTypeItem of masterData['task_type']">
                    <label><input type="checkbox" value="{{taskTypeItem}}" (click)="lookaheadFilter('task',taskTypeItem)">{{taskTypeItem}}</label></div>
                </div>
                <a class="" id="trade">Trade Type

                  <i class="fa fa-angle-up" (click)="expandCollapse('trade');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('trade');"></i>
                </a>
                <div class="sub-content label-alignment" id="tradeChild">
                  <div *ngIf="(projectDetails.trade && projectDetails.trade.length > 0) && masterData;else elseBlock">
                    <div *ngFor="let tradeItem of projectDetails.trade">
                      <label><input type="checkbox" value="{{tradeItem}}" (click)="lookaheadFilter('trade',tradeItem)">{{tradeItem}}</label>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <p class="no-trade">No Trade Associated to this project.</p>
                  </ng-template>
                </div>

                <a class="" id="specDivision">Spec Division
                  <i class="fa fa-angle-up" (click)="expandCollapse('specDivision');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('specDivision');"></i>
                </a>
                <div class="sub-content label-alignment" id="specDivisionChild">
                  <!-- {{masterData | json}} -->
                  <div *ngIf="(projectDetails.specDivision && projectDetails.specDivision.length > 0) && masterData;else elseBlock1">
                    <div *ngFor="let specItem of projectDetails.specDivision">
                      <!-- {{specItem | json}} -->
                      <label><input type="checkbox" value="{{specItem}}" (click)="lookaheadFilter('specDivision',specItem)">{{specItem}}</label>
                    </div>
                  </div>
                  <ng-template #elseBlock1>
                    <p class="no-specDivision">No Spec Division Associated to this project.</p>
                  </ng-template>
                </div>
                <a class="" id="schedule">Schedule

                  <i class="fa fa-angle-up" (click)="expandCollapse('schedule');"></i>
                  <i class="fa fa-angle-down" (click)="expandCollapse('schedule');"></i>

                </a>
                <div class="sub-content" id="scheduleChild">
                  <div>
                    <label class="schedule-label-alignment"><input type="radio" value="all" name="schedule" [(ngModel)]="all"
                        (ngModelChange)="lookaheadFilter('scheduleAvailability','all',all);" [checked]="true">All</label>
                  </div>
                  <div>
                    <label class="schedule-label-alignment"><input type="radio" value="scheduled" name="schedule"
                        [(ngModel)]="scheduled" (ngModelChange)="lookaheadFilter('scheduleAvailability','scheduled',scheduled);">Scheduled</label>
                  </div>
                  <div>
                    <label class="schedule-label-alignment"><input type="radio" value="unscheduled" name="schedule"
                        [(ngModel)]="unscheduled" (ngModelChange)="lookaheadFilter('scheduleAvailability','unscheduled',unscheduled);">UnScheduled</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn clearBtn clrbtn" (click)="lookaheadFilter('clear')" title="clear filter">Clear</button>
          </div>

          <div class="col-lg-4 sss">
            <!-- <button type="button" class="btn clearBtn" (click)="lookaheadFilter('clear')">Clear</button> -->
            <select [(ngModel)]="selectedValue" class="sort-in-gantt" id="selectopt" name="Sort By" (change)="getSelectedValue(selectedValue)">
              <option value="" disabled selected>Sort by</option>
              <!-- <option value="" disabled selected>Sort By</option> -->

              <option *ngFor="let option of options" [value]="option">
                {{option}}
              </option>
            </select>
          </div>


          <div class="col-lg-4 date-picker-style" style="margin: 0px 0 25px 0;">
            <div class="row" style="display: block;">
              <div class="col-lg-6 label-font report-date">
                <label class="report-start-date">Project report start date</label>
              </div>
              <div class="col-lg-6">
                <!-- <my-date-picker [selDate]="pStartDate" id="projectStartDate" [options]="myDatePickerOptions"
                  (dateChanged)="onDateChanged($event)" required></my-date-picker> -->
                <!-- <p class="arrowicon"><</p> -->
                <!-- <i class="doublearrowicon" title="previous week" aria-hidden="true"><</i>
                  <i class="fa fa-chevron-left arrowicon" title="previous day" aria-hidden="true"></i> -->

                <img class="arrowicon" id="previousday" title="previous day" (click)="showPreviousDays('previousday')"
                  src="assets/images/Previous_day.svg">
                <img class="doublearrowicon" id="previousweek" title="previous week" (click)="showPreviousDays('previousweek')"
                  src="assets/images/Previous_week.svg">
                <!-- <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> -->


                <input type='text' class="form-control" id='projectStartDate' [(ngModel)]="pStartDate" />
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            </div>

          </div>
          <div class="row col-lg-12 project-company currentDate" *ngIf="projectCompany">

            <div class="col-lg-12 label-font">
              <label>Company Name : {{projectCompany}}</label>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-7 right-padd">
        <div class="row">
          <div class="col-lg-4 gantt-pagination-block">
            <!-- <app-pagination *ngIf="getAllTasks && getAllTasks.length >0" (goPagination)=getPaginationData($event)></app-pagination> -->

          </div>
          <div class="col-lg-8" style="position: relative;top: 0px;">
            <span class="search-close" *ngIf="xmark" title="clear search" (click)="xclick()"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="col-lg-6  search-alignment input-serach-div">

              <input type="search" class="input-search-icon" name="query" [(ngModel)]="query" id="searchtext" (keydown)="showXmark()"
                (keyup.enter)="searchArray()" placeholder="Search...">

            </div>
            <ul class="Ul-alignment">
              <!-- <li>
               
                    <button (click)="testNotification()" class="btn saveBtn" >Test Notification</button>
           
                </li> -->
              <li>
                <p class="currentDate">Current Date : {{currentDate}}</p>


              </li>
              <li>
                <button *ngIf="viewOnlyAccess && (loginDetails.trial || loginDetails.licenseAvailable)" type="button"
                  class="btn saveBtn" (click)="submitGanttChart(false)">Save</button>
              </li>
              
              <li>
                <button *ngIf="viewOnlyAccess && (loginDetails.trial || loginDetails.licenseAvailable)" type="button"
                  class="btn saveBtn" (click)="submitGanttChart(true)">Submit</button>
              </li>
              <li>
                <div class="dropdown">
                  <button type="button" class="cus-print-btn dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/four-squares-list.png">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item dropdown-font" data-toggle="modal" data-target="#projectPlan" (click)="goEmail(projectDetails)"
                      style="cursor:pointer">Send email</a>
                    <a class="dropdown-item dropdown-font" (click)="printpdf()" style="cursor:pointer">Export PDF</a>
                    <a *ngIf="viewOnlyAccess && (loginDetails.trial || loginDetails.licenseAvailable)" class="dropdown-item dropdown-font"
                      appExcelExport [exportData]="taskList" exportFilename="Lookahead" style="cursor:pointer">Export
                      XLSX</a>
                  </div>
                </div>
              </li>
              <!-- <i class="fa fa-angle-double-right right-arrow-double" title="next week" aria-hidden="true"></i>
              <i class="fa fa-chevron-right right-arrow" title="next day" aria-hidden="true"></i> -->
              <!-- <img class="right-arrow-double" id="nextweek" title="next week" src="assets/images/Next_week.svg">
              <img class="right-arrow" id="nextday" title="next day" src="assets/images/Next_day.svg"> -->
            </ul>
            <!-- <div class="col-lg-12 date-picker-style" style="margin: 0px 0px 27px 226px;">
                <div class="row" style="display: block;"> -->
            <!-- <div class="col-lg-6 label-font report-rotate-date"> -->

            <!-- </div> -->
            <!-- </div>
      
              </div> -->
          </div>
        </div>

        <!-- <div class="col-lg-4 right-arrow-div">
          <img class="right-arrow" id="nextday" title="next day" src="assets/images/Next_day.svg">
          <img class="right-arrow-double" id="nextweek" title="next week" src="assets/images/Next_week.svg">
        </div> -->
      </div>
    </div>
  </div>



  <form #myForm="ngForm">
    <div #gantt_here id="print-section"></div>
  </form>
</div>
<div class="project-paln-container">
  <!-- The Modal -->
  <div class="modal fade" id="projectPlan" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-contain">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row header-row">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-lg-12" style="padding:0px">
              <div class="modal-header">
                <h4 class="modal-title">Send lookahead plan</h4>
              </div>
            </div>
          </div>
          <div class="row autoselect-row">
            <div class="col-lg-10">
              <form #lookaheadForm="ngForm">
                <div class="search-input">
                  <input class="form-control filter-input" id="system-search" name="" type="text" placeholder="Select team members">
                </div>
                <div class="errorMsg text-center" *ngIf="lookaheadSend" style="color:red;">
                  <p>Please select atleast one team member</p>
                </div>
                <div class="filterSearchDiv">
                  <div id="filterSearch" class="table-list-search">
                    <div class="row filter-height">
                      <div class="col-lg-6">
                        <div class="contains">
                          <label id="checkSelectAll" class="contain searchselect">
                            <h5 class="checkselect">Select all</h5>
                            <h5 class="unselect" style="display: none;">Unselect all</h5>
                            <input type="checkbox" class="selectall">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div *ngFor="let item of emailUsers;let i=index" class="row filter-height">
                      <div class="col-lg-12">
                        <div class="contains inner-contains">
                          <label class="contain search-div">
                            <h5>{{item.firstName}}</h5>
                            <p>{{item.email}}</p>
                            <input type="checkbox" (click)="getEmailUsers(i)" class="individual">
                            <span class="checkmark "></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row no-result">
                      <div class="text-muted">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row footer-sendproject-row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6 footer-send-btn">
                    <button (click)="sendProjectPlan(projectDetails)">Send lookahead plan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>



<!-- <div class="modal fade" id="loadermodel">
    <div class="modal-dialog">
      <div class="modal-content">
       
        <div class="modal-body">
          <p class="msgContent">Please Wait....</p>
          <i class="fa fa-spinner fa-spin" style="font-size:75px;color:#f4c20d"></i>
        </div>
      </div>
    </div>
  </div> -->



<!-- Popup For save Look ahead  -->

<div class="modal fade" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">The Task for which schedules are not added will not be saved</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- Pop Up for no data found for search  -->
<div class="modal fades" id="searchMgs">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">No Data Found</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Cancel</button> -->
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup For Delete Look ahead  -->

<div class="modal fade" id="deteteMgs">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">Task deleted successfully</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Cancel</button> -->
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!--Popup for update look ahead-->
<div class="modal fade" id="updateMsg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">Task updated successfully</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Cancel</button> -->
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<!--Popup for overriding the tasks-->
<!-- <div class="modal fade unsavedPopup" bsModal  #taskOverrideMsg="bs-modal" id="taskOverrideMsg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <img src="assets/images/warning.svg" class="warning-img">  
        <span class="title-alignment">
          <img src="assets/images/warning.svg" class="warning-msg">
          <h4 class="modal-title">Message</h4>
        </span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">The split in the task will be overriden.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="callUpdateService('dontsave')">
          Cancel</button>
         <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('cancel')">Cancel</button> 
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="callUpdateService('save')">OK
        </button>
      </div>
    </div>
  </div>
</div> -->

<!--Popup for unsaved data-->

<div class="modal fade unsavedPopup" id="unsavedDatapopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <img src="assets/images/warning.svg" class="warning-img">  -->
        <span class="title-alignment">
          <img src="assets/images/warning.svg" class="warning-msg">
          <h4 class="modal-title">Message</h4>
        </span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">You have unsaved data on this page. How do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('dontsave')">Discard
          & Continue</button>
        <!-- <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('cancel')">Cancel</button> -->
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal" (click)="unSavedPopup('save')">Save &
          Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="footer footer-class" >
  <div class="row">
   <div class="col-lg-4">

   </div>
   <div class="col-lg-4">
      <app-pagination *ngIf="getAllTasks && getAllTasks.length >0" (goPagination)=getPaginationData($event)></app-pagination>
   </div>
   <div class="col-lg-4">

    </div>
  </div>
 
</div>





<div class="modal fade"  bsModal #childModal="bs-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="msgContent">The Task for which schedules are not added will not be saved</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>