<div class="create-project">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
    <div class="company">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 available-company" style="padding: 0px">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <input type="text" class="search-box input-width form-control focus" [(ngModel)]="specDivision"(keyup)="searchCompany(specDivision)" id="system-search" name="" placeholder="Spec Division Name">
                  <button *ngIf="specDivision" (click)="clearCompany()" class="close-icon" type="reset"></button>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="companyChecked">
              <tr class="available-company-row" *ngFor="let item of availableSpecDivision | filter: specDivision" >
                <td>
                  <div class="row search-value">
                    <div class="col-lg-8 col-sm-8 col-md-8 col-8 company-name">
                      {{item.name}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 add-btn text-center">
                      <button type="button" [disabled]="item.isAvailable" [class.is-available]="item.isAvailable" class="btn cus-add-btn" (click)="addSpecDivision(item)">Add</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="no-result-found" *ngIf="(availableSpecDivision | filter: specDivision).length === 0">
                <div class="no-entries" style="padding: 20px 0px; text-align: center;">No entries found.</div>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="col-lg-6 col-md-6 added-company" style="padding: 0px">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Spec Division Associated With The Project
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of associatedSpecDivision; let i = index">
                <td>
                  <div class="row added-company-list">
                    <div class="col-lg-8 col-md-8 ncol-sm-8 col-8 company-name">
                      {{item}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 company-operation">
                      <div *ngIf="!item.isProjectCompany" class="col-lg-2 col-md-2 col-sm-2 col-2 delete-company"[class.company-delete]="item.isProjectCompany">
                        <i title="delete"><img [class.is-available]="item.isProjectCompany"(click)="removeSpecDivision(i)" src="assets/images/delete.png"></i>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</div>

