/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .delete-company {
        cursor: pointer;
        left: 3.0rem;
    }

}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .delete-company {
        cursor: pointer;
        left: 2.0rem;
    }

    .create-project {
        padding-top: 22px;
    }

}