<div class="create-project">
  <div class="row project-row">
    <div class="col-lg-2 col-md-12 sidebar">
      <app-sidenavbar></app-sidenavbar>  
    </div>
    <div class="col-lg-10 col-md-12 project-item">
        <router-outlet></router-outlet>
    </div>
  </div> 
</div>