.sidebar{
    position: relative;
    top: 55px;
    right: 10px;
    padding-right: 0px;
    z-index: 9;
}
.project-row {
    margin: 0px !important;
    //margin-right: 0px;
}
.create-project{
    margin: 0px 43px 0 36px;}
.project-item{
    padding-left: 0px;
}
@media only screen and (max-width:576px){
    .create-project{
        margin: 0px 0px 0 22px;
    }
}
@media only screen and (min-width: 576px) and(max-width: 991px){

    .sidebar{
        position: relative;
        top: 66px;
        right: 16px;
        /* left: -13px; */
        padding-right: 0px;
        z-index: 9;
    }
}
/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and(max-width: 992px){
.project-item {
    margin-left: -16px;
}
}


