<div class="create-project">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <app-operation (addDetails)="add($event)" [pageData]="operation" [form]="form"></app-operation>
    <button type="button" class="hideButton btn btn-danger cus-btn-danger" (click)="getCreateUserJson()">Add User</button>
    <div class="company userPage" [ngClass]="{'userDetails': router.url == '/authenticate/edit/project/user'}">
      <div class="row">
        <div class="col-lg-6 col-md-6 available-company" style="padding:0px">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <input type="text" class="search-box input-width form-control focus" [(ngModel)]="user" (keyup)="searchCompany(user)"
                    id="system-search" name="" placeholder="Enter User Mail">
                  <button *ngIf="user" (click)="clearUser()" class="close-icon" type="reset"></button>
                </th>
              </tr>
            </thead>
            <!-- *ngIf="companyChecked" -->
            <tbody *ngIf="companyChecked">
              <tr class="available-comapany-row" *ngFor="let item of availableUser">
                <td>
                  <div class="row search-value">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-8 company-name">
                      <p>{{item.email}}</p>
                      <p>{{item.firstName +' '+ item.lastName}}</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 add-btn text-center">
                      <button type="button" [disabled]="item.isAvailable" [class.is-available]="item.isAvailable" class="btn cus-add-btn"
                        (click)="addUser(item)">Add</button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="no-result-found"></tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-md-6 added-company" style="padding:0px">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Users Associated With the Project
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of associatedUser.projectUsers; let i = index">
                <td>
                  <div class="row added-company-list">
                    <div class="col-lg-6 col-md-5 col-sm-5 col-5 company-name">
                      <p class="m-0 email">{{item.email}}</p>
                      <span class="m-0 emailHover">{{item.email}}</span>
                      <p class="userName">{{item.firstName +' '+ item.lastName}}</p>
                    </div>
                    <div class="row col-lg-6 col-md-7 col-sm-7 col-7 user-control company-operation">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-8 company-role" [ngClass]="{'is-not-allowed':(projectDetails.projectRole == 'GC-Project Admin' && item.projectRole == 'GC-Project Admin') || (projectDetails.projectRole == 'GC-Project Manager' && (item.projectRole == 'GC-Project Admin' || item.projectRole == 'GC-Project Manager')) || (projectDetails.projectRole == 'SC-Manager' && (item.projectRole == 'GC-Project Admin' || item.projectRole == 'GC-Project Manager' || item.projectRole == 'SC-Manager'))}">
                        <select [ngClass]="{'is-pointer-events':(projectDetails.projectRole == 'GC-Project Admin' && item.projectRole == 'GC-Project Admin') || (projectDetails.projectRole == 'GC-Project Manager' && (item.projectRole == 'GC-Project Admin' || item.projectRole == 'GC-Project Manager')) || (projectDetails.projectRole == 'SC-Manager' && (item.projectRole == 'GC-Project Admin' || item.projectRole == 'GC-Project Manager' || item.projectRole == 'SC-Manager'))}"
                          class="form-control company-select" [(ngModel)]="item.projectRole" (change)="roleChange(item, i)"
                          id="sel1">
                          <option *ngFor="let role of userRole" [disabled]="(projectDetails.projectRole == 'GC-Project Manager' && role == 'GC-Project Admin') || (projectDetails.projectRole == 'SC-Manager' && (role == 'GC-Project Admin' || role == 'GC-Project Manager' || role == 'Owner' || role == 'GC-Observer'))"
                            value="{{role}}">{{role}}</option>
                        </select>
                      </div>
                      <div *ngIf="!item.isProjectUserEdit" class="col-lg-2 col-md-2 col-sm-2 col-2 edit-company">
                        <img title="edit" src="assets/images/edit.png" (click)="editUser(item)">
                      </div>
                      <div *ngIf="!item.isProjectUser" class="col-lg-2 col-md-2 col-sm-2 col-2 delete-company"
                        [class.company-delete]="item.isProjectUser">
                        <i title="delete"> <img [class.is-available]="item.isProjectUser" (click)="removeCompany(i)"
                            src="assets/images/delete.png"></i>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</div>


<div class="modal" id="userNotFound" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span><img src="assets/images/info_icon2.png" /></span> <span>User does not exist</span></h4>
      </div>
      <div class="modal-body">
        The User {{user}}. does not exist. Create the User?
      </div>
      <!-- [routerLink]="['/authenticate/create/project/new-company']" -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger cus-btn-danger" data-dismiss="modal" (click)="clearUser()">Cancel</button>
        <button type="button" class="btn btn-danger cus-btn-danger" (click)="getCreateUserJson()">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="createUserPopup" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Add User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body addUser">
        <form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
          <div *ngIf="!panels; else elseUserBlock">
            <app-loader></app-loader>
          </div>
          <ng-template #elseUserBlock>
            <div *ngIf="panels" class="col-lg-12" [ngClass]="{'userModel' : routepage == '/authenticate/edit/project/user'}">
              <div class="row col-lg-4 float-right btnDiv"></div>
              <div *ngFor="let item of panels" class="col-lg-12" >
                <div *ngIf="item.type == 'simple'">
                  <div *ngFor="let formItem of item.items" [class.displayInput]="formItem.fieldType == 'hidden'" class="grid_alignment"
                    style="padding: 10px 0px;" [ngClass]="{'companyPanel': routepage == '/authenticate/edit/project/company'}">
                    <app-input-textbox class="description-focus" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                      [hidden]="formItem.fieldType == 'hidden'" [inputData]="formItem" [pageData]="panelData" [form]="form"
                      (notifyInput)="onhandleUserUpdated($event)">
                    </app-input-textbox>
                    <app-input-selectbox class="col-lg-12" *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                      [selectData]="formItem" [pageData]="panelData" [form]="form" (notifySelect)="onhandleUserUpdated($event)">
                    </app-input-selectbox>
                    <app-datepicker class="col-lg-12" *ngIf="formItem.htmlTag == 'datepicker'" [datePickerData]="formItem"
                      [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                    </app-datepicker>
                    <app-input-ngselect class="col-lg-12" *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem"
                      [form]="form" [pageData]="panelData"></app-input-ngselect>
                    <app-input-nginput *ngIf="formItem.htmlTag == 'ngautoinput'" [inputData]="formItem" [form]="form"
                      [pageData]="panels"></app-input-nginput>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 popup-btn-margin" *ngIf="operationBtn">
                <div class="row ">
                  <div class="col-lg-12 text-right AddUser" *ngFor="let item of operationBtn.ComponentItem">
                    <app-button (click)="clearUser()" [panelData]="panelData" [buttonData]="item" [form]="form"></app-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>