.userDetails {
    margin-top: 25px !important;
}
.company-name {
    p {
        margin-bottom: 0px !important;
    }
}

.add-btn {
    margin-top: 10px;
}

.company-operation {
    margin-top: 14px !important;
}

.popup-btn-margin {
    margin: 25px auto;
}

.modal-title {
    width: 100% !important;
}

.cus-btn-danger {
    padding: 4px 15px;
    background-color: #243d66;
    border-color: #243d66;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

.user-control {
    padding-top: 10px;
}

.is-pointer-events {
    pointer-events: none;
}

.is-not-allowed {
    cursor: not-allowed !important;
}

@media screen and(max-width: 767px) {
    .cus-btn-danger[_ngcontent-c5] {
        padding: 2px 15px;
        background-color: #243d66 !important;
        border-color: #243d66 !important;
        color: #fff !important;
        border-radius: 0 !important;
        font-size: 12px;
        outline: none;
        margin: 30px 0 0 202px;
    }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .userDetails {
        margin-top: 55px !important;
    }
    .AddUser {
        left: 4.4rem;
        max-width: 83%;

    }

    #createUserPopup {
        .modal-body {
            right: 2.5rem !important;
            width: 110%;

        }
    }

    .text-center {
        text-align: left !important;
    }

    .edit-company {
        cursor: pointer;
        margin-left: -1rem;
    }

    .delete-company {
        cursor: pointer;
        margin-left: 0.3rem;
    }

    .email:hover+span {
        display: block;
    }

    .emailHover {
        z-index: 99;
        position: absolute;
        background-color: black;
        width: 115%;
        display: none;
        color: white;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    .email {
        white-space: nowrap;
        width: 113%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .create-project {
        margin-top: -2rem;
    }

}

/** Desktop response done by lakshmanan **/
@media only screen and (min-width: 1200px) {
    .email:hover+span {
        display: block;
    }

    .emailHover {
        z-index: 99;
        position: absolute;
        background-color: black;
        width: 115%;
        display: none;
        color: white;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    .email {
        white-space: nowrap;
        width: 113%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .userDetails {
        margin-top: 55px !important;
    }
    
    .userName {
        white-space: nowrap;
    }

    .hideButton {
        display: none !important;
        // margin-bottom: 5px;
    }

    .create-project {
        margin-top: 0rem;
    }

    .userPage {
        margin-top: 51px !important;
        margin-left: 1.8rem;
    }

    .text-center {
        text-align: left !important;
    }

    .grid_alignment {
        position: relative;
        padding: 10px 0px;
        right: 1.8rem;
        width: 130%;;

    }

    .AddUser {
        text-align: right !important;
        // left: 31px;
        right: 3rem;
    }
    .companyPanel {
        
        position: relative;
        padding: 10px 0px;
        left: 13px !important;
        width: 130%;;
    }
}

@media only screen and (min-width : 1200px) {
    .userPage {
        margin-top: 25px !important;
        margin-left: 0.3rem;
    }
}