<form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
  <div *ngIf="!panels; else elseTableBlock">
      <app-loader></app-loader>
    </div>
    <ng-template #elseTableBlock>
      <div class="">
  <div *ngIf="panels" class="">
    <div class="panels">
      <app-operation (addDetails)="add($event)" [pageData]="operation"></app-operation>
      <div class="col-lg-8 row page-margin create_component_alignment">
        <div *ngFor="let item of panels" class="col-md-12 create_input_alignment">
          <div *ngIf="item.type == 'simple'">
            <div *ngFor="let formItem of item.items" class="row grid_alignment" style="padding: 10px 0px">  
              <app-input-textbox class="col-lg-12" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'" 
              [inputData]="formItem" [pageData]="panelData" [form]="form" (notifyInput)="onhandleUserUpdated($event)"></app-input-textbox>
            </div>
          </div>
        </div>
      </div>

      <!-- <app-button *ngIf="operation.ComponentItem" [panelData]="operation"  [buttonData]="operation.ComponentItem" [form]="form"></app-button> -->

      <div class="col-lg-8 col-md-9 col-sm-9 col-12 buttonAlign btnDiv text-right" *ngFor="let item of operation.ComponentItem">        
        <app-button [panelData]="operation"  [buttonData]="item" [form]="form"></app-button>
      </div>
    </div>
   </div>
  </div>  
  </ng-template>
</form>


<div class="modal fade" id="forgotPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="msgContent">{{message}}</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" (click)="goListPage()" class="btn btn-success" data-dismiss="modal">Ok</button> -->
        <button type="button"  class="btn btn-success msgBtn" data-dismiss="modal" autofocus >Ok</button>
      </div>

    </div>
  </div>
</div>
  
  
  
   
  