/*.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #ff656c;
  border-left: 1px solid #ff656c;
  border-right: 1px solid #ff656c;
  border-bottom: 1px solid #ff656c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22%;
  margin-bottom: 0%;
}

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.login-block button {
  width: 100%;
  height: 40px;
  background: #70a7e2;
  box-sizing: border-box;
  border-radius: 5px;
  border-top: 1px solid #70a7e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: #70a7e2;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn--google {
  background: #70a7e2;
}
.loginBtn--google:before {
  border-right: #70a7e2 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #70a7e2;
}*/

// .app-view{
//     width: 80%;
//     margin-left: auto;
// }
.app-card-body {
  color: #000 !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  padding-left: 13px !important;
}

.btn-margin {
  margin-top: -5px;
}
.btnDiv{
  margin: 0 0px 0 63px;
}

.app-btn {
  padding: 0px 15px !important;
}
.app-row {
  margin-right: 0px !important;
}
.customPage {
  top: 23px;
  margin-left: -20px;
}
.addNew {
  text-align: right;
}
.page-margin {
  /*    margin: auto;*/
  margin-top: 3%;
}
.combobox_alignment {
  padding-left: 0px;
  padding-right: 0px;
}
.btn-primary:disabled {
  width: 15% !important;
}
@media only screen and (max-width: 576px) and (min-width: 320px) {
  .btnDiv {
    margin: 0px !important;
    padding: 0 28px;
    .loginRegis {
      background-color: #243d66 !important;
      border-color: #243d66 !important;
      color: #fff !important;
      border-radius: 0 !important;
      cursor: pointer;
      width: 215%;
      font-size: 14px;
      outline: none;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btnDiv{
    margin: 0 0px 0 -6px;
  }
}

/** Tab responsive done by lakshmanan **/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .forgotPass {
    width: 100% ;
    margin-top: 1.7rem !important;
  }
  .btnDiv{
    margin: 0 0px 0 13px;
  }
  .forgot-password{
    width: 30.2% !important;
    margin: auto;
    text-align: right !important;
  }
  .create_input_alignment {
     margin-left: -46px !important;
  }
  .panels {
    margin-left: -12% !important;
    width: 100%;
  }
  
}