/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  padding-right: 0px !important;
}



.swal-button {
  background-color: #243d66 !important;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 0px !important;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
}

.swal-button:focus {
  outline: none;
  box-shadow: none !important;
}

button {
  font-family: LatoMedium;
}

.filter .filter-icon {
  margin-right: 25px;
}

.filter .plus-icon {
  margin-left: 55px;
  font-size: 22px;
  width: 10px !important;
  height: 1.8px !important;
}

.filter .dropdown {
  background-color: #dadada;
}

.header-line {
  width: 1360px;
  height: 0;
  margin: 65px 0px 0px -14px;
  border: 1px solid #dadada;
}

.filter {
  .content {
    &:not(.show) {
      display: none;
    }
  }

  #filterChild {

    //background: #EBEBEB;
    .sub-content {
      padding-left: 15px;
      padding-top: 5px;
      max-height: 200px;
      text-transform: capitalize;
      overflow: auto;

      div {
        display: flex;
        flex-direction: row;

        input[type="checkbox"] {
          width: 20px;
        }
      }

      &:not(.show) {
        display: none;
      }

      label {
        font-size: 14px;
        padding-left: 4px;
      }
    }
  }

  .left-padd {
    div.filter-button {
      background: #f4c20d;
      border: 0px;
      text-align: center;
      padding: 6px 0px;

      i {
        cursor: pointer;
        color: #585858;
      }

      &:not(.open) {
        i.fa-angle-up {
          display: none;
        }
      }

      &.open {
        i.fa-angle-down {
          display: none;
        }
      }

      i.fa.fa-filter {
        float: left;
        font-size: 14px;
        padding-top: 5px;
        padding-left: 12px;
      }

      i.fa-angle-down,
      .fa-angle-up {
        font-size: 14px;
        float: right;
        padding-top: 6px;
        padding-right: 12px;
      }
    }

    a {
      display: block;
      padding: 3px 0px 3px 20px;
      font-size: 14px;
      background: #dadada;

      &:not(.open) {
        i.fa-angle-up {
          display: none;
        }
      }

      &.open {
        i.fa-angle-down {
          display: none;
        }
      }

      i {
        float: right;
        padding-top: 5px;
        padding-right: 11px;
        font-size: 14px;
        cursor: pointer;
        color: #585858;
      }
    }
  }
}

// Filter CSS
.collapsible {
  border: none;
  position: relative;
  text-align: left;
  z-index: 1000;
  color: #585858;
  outline: none;
  cursor: pointer;
  display: none;
}

.collapsible span {
  float: right;
  font-weight: bolder;
}

.collapsible .filter-span {
  float: left;
  font-size: 20px;
  padding-top: 2px;
  padding-right: 33px;
}

.active,
.collapsible:hover {
  background-color: #dadada !important;
}

.content {
  position: absolute;
  z-index: 11;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  //max-width: 100%;
  width: 100%;
  padding-right: 30px;
  // a{
  //     i{
  //         padding-right: 13px !important;
  //     }
  // }
}

// GanttChart Filter, Save and Chart CSS

// GanttChart Filter, Save and Chart CSS
// Header Content CSS
.header-content {
  width: 100%;
  height: 52px;
  color: #243d66;
  padding-top: 2px;
  border-bottom: 1px solid #dadada;
}

.header-content span {
  text-align: left;
  //padding-left: 49px;
  //font-family: 'LatoRegular';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  // line-height: 3;
  letter-spacing: normal;
}

.header-icons {
  //float:right;
  //margin-right: 30px;
  margin-top: -6px;
}

// .gantt_tooltip {
//     position: relative !important;
//     z-index: 11111 !important;
// }
.header-icons label {
  float: left;
  font-family: "LatoRegular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.64;
  letter-spacing: normal;
  text-align: left;
  color: #787878;
}

.task-indicator {
  margin-top: 13px;
}

.header-icons {
  .dropdown-menu {
    left: 0px !important;
    right: 0px !important;
    padding: 0px;
  }

  .legend-ul {
    padding: 0px !important;
  }

  .task-icon-li {
    padding: 0px !important;
    width: 100%;

    label:nth-child(2) {
      margin: 0px;
    }
  }

  .warning-icon-li {
    padding: 0px !important;
    width: 100%;

    label:nth-child(2) {
      margin: 0px;
    }
  }

  .behind-icon-li {
    padding: 0px !important;
    width: 100%;

    label:nth-child(2) {
      margin: 0px;
    }
  }

  .off-icon-li {
    padding: 0px !important;
    width: 100%;

    label:nth-child(2) {
      margin: 0px;
    }
  }

  .not-schedule-icon-li {
    padding: 0px !important;
    width: 100%;

    label:nth-child(2) {
      margin: 0px;
    }
  }
}

.header-icons .task-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  border: 1px solid #00d300;
  background-color: #00d300;
}

.header-icons .warning-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  border: 1px solid #f4c20d;
  background-color: #f4c20d;
}

.header-icons .behind-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  border: 1px solid #bc2d2d;
  background-color: #bc2d2d;
}

.header-icons .off-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  border: 1px solid #005493;
  background-color: #005493;
}

.header-icons .not-schedule-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 7px;
  border: 1px solid #b9d9ff;
  background-color: #b9d9ff;
}

.header-icons .working-icon {
  width: 16px;
  height: 16px;
  //margin-left: 20px;
  margin-top: 10px;
  margin-right: 7px;
  background-color: #10eb4f;
  border: 1px solid #10eb4f;
}

.header-icons {

  // padding-right: 46px;
  // padding: 0 59px 0 40px;
  // margin: auto;
  ul {
    // float: right;
    float: right;
    padding-right: 4%;
    // padding-left: 105px !important;
    // padding-left: 35%;
    // position: relative;
    /* right: 9px; */
    // left: 30%;

    // position: relative;

    // right: 50%;

    li {
      list-style: none !important;
      float: left;
      padding: 0px 13px;

      &:nth-child(1) {
        padding: 0px 8px 0px 0px !important;
      }

      &:nth-child(2) {
        padding: 0px 20px 0px 0px !important;
      }

      a {
        label {
          cursor: pointer;
        }
      }
    }
  }
}

.header-icons .help-icon {
  //margin-left: 20px;
  margin-right: 7px;
  margin-top: -1px;
}

.header-icons .help-image {
  margin-top: 1px;
}

//   GanttChart Filter CSS
select.left-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select+i.plus-icon {
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  padding-right: 5px;
}

.filter-icon {
  float: left;
}

// Dropdown and Button CSS

.left-filter {
  float: left;
  width: 175.6px;
  height: 33.8px;
  background-color: #f4c20d;
  font-family: "LatoRegular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-left: 53px;
  margin-left: 34px;
}

//}

.right-icons {
  // float: right;
  width: 400px;
  margin-top: -53px;
  position: relative;
  z-index: 1000;
}

.currentDate {
  //float: left;
  //margin-left: 851px;
  //padding-left:95px;
  font-family: "LatoRegular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.3;
  letter-spacing: normal;
  //padding-top: 9px;
  color: #898989;
  //margin-top: -36px;
}

.right-icons .saveBtn {
  width: 60px;
  height: 34.9px;
  float: right;
  margin-right: -809px;
  background-color: #243d66;
  color: #ffffff;
  // font-family: 'LatoRegular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  margin-top: -41px;
  border: none;
}

.right-icons .submitBtn {
  width: 72px;
  height: 34.9px;
  float: right;
  margin-right: -911px;
  margin-top: -41px;
  background-color: #243d66;
  font-family: "LatoRegular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
}

.right-icons .ganttchart-right-menu {
  background-image: url("assets/images/four-squares-list.png");
  width: 20px;
  height: 20px;
  float: right;
  border: none;
  margin-top: -32px;
  margin-right: -959px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

#rightMenuDiv {
  display: block;
  background-color: #ffffff;
  border: solid 1px #797979;
  width: 126px;
  height: 72px;
  margin-left: 1233px;
  position: relative;
  z-index: 1000;
}

.button-style {
  border: none;
  font-family: "LatoRegular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  padding-left: 20px;
  color: #898989;
  background: none;
  cursor: pointer;
  // position: relative;
  // z-index: 1000;
}

#print-section {
  width: 100%;
  // height:300px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.listTable {
  float: left;
  padding: 0;
}

.listTable span {
  padding-left: 49px;
}

.listHeader {
  height: 50px;
  /*border-bottom: 1px solid #eaeaea*/
}

.table-list {
  width: 100%;
  border: 1px solid #eaeaea;
  text-align: center;
}

.table-list tr td {
  border: 1px solid #eaeaea;
}

.breadcrumbs {
  float: left;
  padding: 0;
  color: #243d66;
  margin: 10px 1%;
}

.breadcrumbs-middle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px ;
}

.breadcrumbs-last {
  padding-left: 5px !important;
}

.action {
  float: right;
  margin-right: 62px;
}

.bg-crm {
  background-color: #9fc5e8;
}

.app-container {
  width: 1230px;
  margin: auto;
}

/* form input disabled(readonly:true) in json */
.disabled-input {
  border: none !important;
  cursor: not-allowed !important;
  background-color: #e9ecef !important;
}

/* form input disabled(readonly:false) in json */

/*.enabled-input{
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
}*/

/* panel pg color */
.app-bg-success {
  background-color: #70a7e2 !important;
}

/* card-body */

.app-card-body {
  padding: 0.25rem !important;
}

label {
  padding-top: 0px !important;
}

.create_component_alignment {
  margin-top: 13px;
}

.salutation_select select {
  border: 0px;
}

.name_textbox input {
  border: 0px;
  margin: 2.3px 0 0 13px;
}

.salutation_row {
  margin-right: 0px;
  margin-left: 0px;
}

.app-view {
  padding-top: 20px;
  padding-left: 30px !important;
}

.page-margin {
  margin: auto;
}

.datepicker.datepicker-dropdown {
  min-width: 14rem;
}

.advancedSearch-modal {
  border: 1px solid #d2d2d2 !important;
  -webkit-transform: translate(-32%, 0%);
  transform: translate(-61%, 0%) !important;
  border-radius: 5px !important;
}

.panelData {
  padding: 0px !important;
}

.float-right {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.disabled-input {
  pointer-events: none;
}

.required {
  padding-left: 3px;
  color: #000000;
}

.alert {
  padding: 0px !important;
  margin: 0px !important;
}

.alert-danger {
  color: red !important;
  background: transparent !important;
  border: none !important;
  font-size: 13px;
  position: absolute !important;
  // padding: 7px 0px !important;
  // top: 45px !important;
}

.advSearch .btn-row {
  float: left;
  position: absolute;
  bottom: 9px;
  right: 3.8%;
}

.advSearch .btn-margin {
  position: relative;
}

.advSearch .search-btn {
  right: 14%;
}

.search-form-alignment .app-simple-panel {
  margin: 0 auto !important;
}

.ui-datepicker {
  z-index: 9999 !important;
}

/*alignment style for module scss start*/

.operation-btn-module-part {
  .btn-row {
    max-width: 100% !important;

    &:last-child {
      padding-right: 0px;
    }
  }
}

.button-section {
  margin: 0 auto;

  .form-btn-part-align {
    margin: 0px;
    padding: 0px 10px;

    .btnDiv {
      margin: 0 0px !important;

      .col-lg-12 {
        margin: 0px;
        display: block;

        .btn-row {
          max-width: 100%;
          padding: 0px;
        }
      }
    }
  }
}

.right-side-btn-section button:first-child {
  margin-left: 0px !important;
}

.content-background {
  background-color: #ebebeb;
}

/*alignment style for module scss start*/

@media screen and (min-width: 1551px) {
  .float-right {
    padding-left: 6px !important;
  }

  .advSearch .btn-margin {
    margin: 3.5em 0px 0em 0 !important;
    bottom: 11px !important;
  }

  .advSearch .btn-row {
    right: 3% !important;
  }

  .advSearch .search-btn {
    right: 12% !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1550px) {
  .table-padd {
    padding-left: 31px !important;
  }

  .advSearch .btn-row {
    right: 4% !important;
  }

  .advSearch .search-btn {
    right: 16% !important;
  }

  .btn-margin {
    margin: 53px 0px;
  }
}

/* wenplan fontfamily for landing*/

@font-face {
  font-family: "OpenSansLight";
  src: url(assets/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "OpenSansLightItalic";
  src: url(assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: "OpenSansRegular";
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "VollkornRegular";
  src: url(assets/fonts/Vollkorn-Regular.ttf);
}

@font-face {
  font-family: "VollkornItalic";
  src: url(assets/fonts/Vollkorn-Italic.ttf);
}

@font-face {
  font-family: "VollkornBold";
  src: url(assets/fonts/Vollkorn-Bold.ttf);
}

@font-face {
  font-family: "RalewayRegular";
  src: url(assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "LatoItalic";
  src: url(assets/fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: "LatoBold";
  src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "LatoMedium";
  src: url(assets/fonts/Lato-Medium.ttf);
}

@font-face {
  font-family: "LatoSemiBold";
  src: url(assets/fonts/Lato-SemiBold.ttf);
}

@font-face {
  font-family: "LatoRegular";
  src: url(assets/fonts/Lato-Regular.ttf);
}

form {
  font-family: LatoRegular;
}

.modal-header {
  .close {
    outline: none !important;
    border: none !important;
  }

  .close:active {
    outline: none !important;
    border: none !important;
  }

  .close:hover {
    outline: none !important;
    border: none !important;
  }

  .close:focus {
    outline: none !important;
    border: none !important;
  }
}

.app-input-label {
  text-align: right !important;
  color: #b4b4b4;
  font-size: 14px;
}

.app-input-label label {
  margin-top: 8px !important;
}

.form-control {
  // border: 1px solid #dadada !important;
  border-radius: 0 !important;
  // border: thin !important;
  // border-style: solid !important;
  // border-color: #dadada !important;
}

input.form-control:focus {
  outline: 0;
  box-shadow: none;
}

select.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.datePic {
  text-align: right !important;
  color: #b4b4b4;
  font-size: 14px;
}

.datePic label {
  margin-top: 8px !important;
}

.btn:disabled {
  opacity: 1 !important;
}

.loginRegis {
  background-color: #243d66 !important;
  border-color: #243d66 !important;
  color: #fff !important;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.page-margin {
  /*    margin: auto;*/
  margin: 15px auto !important;
}

.sideHeader {
  margin: 0 10%;
  color: #898989;

  h2 {
    font-size: 18px;
  }
}

/* can't chart style by chandran */

.main {
  margin: 0 auto;
  padding: 0 59px 0 40px;
  margin: auto;
}

.left-padd {
  //padding-left: 0px !important;
}

.right-padd {
  padding-right: 0px !important;
}

.ganttchart-icons {
  height: 80px;
  padding: 25px 0px 0px 0px !important;
  margin: 0px !important;
}

.saveBtn {
  background-color: #243d66 !important;
  color: #ffffff !important;
  font-family: "LatoMedium" !important;
  font-size: 16px !important;
  letter-spacing: normal;
  margin: 0px 15px;
  padding: 2px 16px !important;
  vertical-align: middle !important;
  border-radius: 0px !important;
}

.submitBtn {
  margin-left: 10px !important;
}

.ganttchart-right-menu {
  width: 28px;
  height: 28px;
  float: right;
  background-color: #243d66;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  // margin-left: 10px;
}

.gantt_container {
  width: 1223px !important;
}

/*  table td {
    width:100px;
    height:100px;
    text-align:center;
    vertical-align:middle;
    background-color:#ccc;
    border:1px solid #fff;
  }*/

.highlighted {
  background-color: #10eb4f !important;
  // background-color: #008f11 !important;
}

.text-ellipsis {
  max-width: 180px;
  height: 42px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 3;
}

.dropdown-menu {
  left: unset !important;
  right: -54px !important;
  transform: translate3d(-54px, 30px, 0px) !important;
}

.dropdown {
  position: relative;
  float: right;
}

.cus-print-btn {
  border: none !important;
  padding: 0px !important;
  background-color: #fff !important;
  outline: none !important;
  cursor: pointer;
}

.cus-print-btn img {
  // width: 23px;
  margin-top: 5px;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px !important;
  vertical-align: 0.255em;
  content: "";
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

// hide selectbox styles
.act-type-drop {
  border: none !important;
  background-color: transparent !important;
}

.private-drop {
  border: none !important;
  background-color: transparent !important;
  color: #898989;
  font-family: LatoRegular !important;
}

.date-picker-style {
  position: absolute !important;
  bottom: -55px;
  z-index: 1;
  left: 10px;
  max-width: 355px !important;
}

.mydp {
  border: none !important;
}

.mydp .selectiongroup input {
  font-size: 12px !important;
}

.label-font {
  font-size: 13px;
}

.label-font label {
  padding-top: 20px !important;
}

.lookbreadcurmb {
  font-family: LatoSemiBold;
  margin: 8px 0 0 0;
  text-transform: capitalize;
}

.breadCrumbPlan1 {
  // padding-left: 27px;
  cursor: pointer;
}

.btnDivSend {
  .btn-margin {
    margin-right: 14.3% !important;
    padding: 0px !important;

    .btn-primary {
      padding: 5px 21px;
      text-align: center;
      margin-top: 6px;
    }
  }
}

.breadcrumb-lookahead {
  display: flex !important;
  list-style: none !important;
  font-size: 20px !important;
  padding: 0 0 0 26px !important;

  li {
    padding: 0 5px 0 0;

    &:nth-child(2) {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

//}

/*project send plan modal css start*/
.dropdown-menu a:active {
  background: #243d66;
  color: #fff !important;
  border: 0px;
}

.modal-contain h4 {
  font-size: 25px;
  color: #243d66;
  text-align: center;
  width: 100%;
  font-family: LatoRegular;
  font-weight: 500;
}

.modal-contain .modal-content .container-fluid .row .col-lg-10 {
  margin: 0 auto;
}

.modal-contain .modal-header {
  border-bottom: 1px solid #dadada;
}

.header-row {
  position: relative;
}

.close {
  top: 6px;
  right: 10px;
  position: absolute;
  z-index: 111;
}

.modal-close:hover {
  outline: none;
  border: none;
}

.modal-close:active {
  outline: none;
  border: none;
}

.autoselect-row .col-lg-10 {
  margin: 0 auto;
}

.autoselect-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

.autoselect-row .form-group .filter-input {
  padding: 11px 9px 11px 9px;
}

.footer-sendproject-row {
  margin: 2em 0em 0em 0em;
}

.search-input {
  border-bottom: 1px solid #dadada;
  padding-bottom: 28px;
}

#filterSearch {
  margin: 0px 0px 0px 0px;
  //border-top: 1px solid #dadada;
  padding: 5px 0px 0px 0px;
  line-height: 12px;
}

.no-result .text-muted {
  padding: 0 20px;
}

.filterSearchDiv {
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
}

.filterSearchDiv::-webkit-scrollbar {
  width: 20px;
}

.filterSearchDiv::-webkit-scrollbar-track {
  background: #898989;
  border-left: 9px solid white;
  border-right: 9px solid white;
}

.filterSearchDiv::-webkit-scrollbar-thumb {
  background: #707070;
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-radius: 10px;
  height: 30px !important;
}

.filter-select-all li {
  list-style: none;
  float: left;
  padding: 0px 13px;
}

.filter-select-all li span {
  font-size: 16px;
  color: #898989;
}

.contain {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 12px;
  color: #898989;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contain h5 {
  font-size: 16px;
  margin: 0px;
  padding-top: 2px;
  padding-left: 30px;
}

.footer-send-btn button {
  float: right;
  background: #243d66;
  padding: 4px 16px;
  color: #fff;
  border: 0px;
  font-size: 14px;
  text-align: center;
}

.contain p {
  font-size: 14px;
  margin: 0px;
  padding-top: 2px;
  padding-left: 30px;
}

.filter-height {
  max-height: 40px;
}

/* Hide the browser's default checkbox */

.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.table-list-search {
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #707070;
    margin-top: 4px;
  }

  /* On mouse-over, add a grey background color */
  .contain:hover input~.checkmark {
    //background-color: #707070;
  }
}

/* When the checkbox is checked, add a blue background */
.contain input:checked~.checkmark {
  //background-color: #2196F3;
  border: 1px solid #707070;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.contain .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #707070;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 992px) {
  .modal-contain {
    max-width: 700px !important;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 11.666667%;
  }
}

/*project send plan modal css end*/

.ng-select .ng-select-container {
  border-radius: 0;
}

.colorClass {
  background-color: #9400d3;
  border-radius: 50px;
  height: 25px !important;
  position: relative !important;
  color: #ffffff !important;
}

.msgBtn {
  background-color: #243d66 !important;
  border-color: #243d66 !important;
  border-radius: 0 !important;
}

.searchselect {

  .checkselect,
  .unselect {
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
  }
}

body {
  font-family: "LatoRegular";
}

.task-type,
.trade-type {
  width: 90px;
}

.panels {
  margin-top: 80px;
}

.disble-responsibility {
  border: none !important;
  pointer-events: none !important;
  background: transparent;
  color: gray;
}

.selectiongroup input[ngtype="text"] {
  cursor: no-drop;
  pointer-events: none;
}

.clearBtn {
  background: #f4c20d;
  border: 0px !important;
  text-align: center !important;
  padding: 6px 15px !important;
  border-radius: 0px !important;
  width: 100%;
}

label {
  color: #323232;
}

.gantt_grid_head_accessTo {
  text-align: left !important;
  padding-left: 9px !important;
}

.gantt_grid_head_note {
  text-align: left !important;
  // padding-left: 18px !important;
}

.gantt_grid_head_taskName {
  text-align: center !important;
}

.gantt-pagination-block {
  .paginationMain {
    margin-top: 38px;
  }

  .page-count[_ngcontent-c17] {
    text-align: center;
    margin: 0px 0 0 0px;
    padding: 3px 0px 3px 4px;
    font-size: 11px;
    color: #454545;
  }

  .page-item:last-child .page-link {
    visibility: hidden;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .page-item:last-child .page-link :after {
    content: "loadMore";
    visibility: visible;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .pagination li.next-item {
    visibility: hidden;
  }

  .pagination li.next-item {
    visibility: visible;
    content: "loadMore";
  }
}

.report-date {
  margin: 0 0 -20px 0 !important;
}

.breadCrumbPlan1 a:hover {
  text-decoration: none;
  color: #243d66;
}

.breadCrumbPlan1 a {
  color: #243d66;
}

.schedule-label-alignment input {
  vertical-align: middle;
  margin: 0px 4px 2.5px 0px;
}

.label-alignment {
  label {
    input {
      vertical-align: middle;
      margin: 0px 0px 3.5px 0px;
    }
  }
}

.Ul-alignment {
  margin: 0px -11px 0px 0px;
  padding: 17px;
  float: right;

  li {
    float: left;
    list-style: none;
    padding: 0px 14px;

    button {
      margin: -1px;
    }

    &:last-child {
      padding-right: 0px;
    }

    &:first-child {
      padding-left: 0px;
    }
  }
}

.ng-select {
  .ng-clear-wrapper {
    .ng-clear {
      display: none !important;
    }
  }
}

// .ng-select {
//     .ng-select-container {
//         .ng-value-container {
//             .ng-input {
//                 input {
//                     display: none;
//                 }
//             }
//         }
//     }
// }
.ng-dropdown-panel {
  padding: 0px !important;
}

.gantt_grid_head_ballinthecourt {
  width: 100px !important;
}

.gantt_grid_head_cell {
  &.gantt_grid_head_note {
    &.gantt_last_cell {
      text-align: center !important;
      width: 176px !important;
    }
  }
}

// .gantt_layout_outer_scroll_vertical {
.gantt_cell {
  text-align: left !important;
  line-height: 20px !important;
}

// .gantt_row {
//     &.gantt_row_task {
//         height: auto !important;
//     }
// }
.gantt_grid_head_cell {
  &[data-column-id="tradeType"] {
    margin-left: -15px !important;
  }
}

.gantt_cell {
  &[data-column-name="tradeType"] {
    width: 95px !important;
    margin-left: 2px !important;

    select {
      outline: none !important;
      padding: 0px 0 4px 15px !important;
    }
  }
}

.gantt_cell {
  &[data-column-name="note"] {
    margin-left: 15px !important;
    width: 172px !important;
  }
}

.gantt_row {
  &.gantt_row_task {
    .gantt_cell {
      &:nth-child(4) {
        position: absolute !important;
      }

      // .text-ellipsis {
      //     width: 180px !important;
      // }
    }
  }
}

.gantt_task_bg {
  .gantt_task_row {

    // &:nth-child(1) {
    .gantt_task_cell {
      .timeline-checkbox {
        height: 44px !important;
        // }
      }
    }
  }
}

.gantt_layout_content {
  .gantt_grid {
    .gantt_row {
      &.gantt_row_task {
        [data-column-name="ballinthecourt"] {
          //  height: 33px !important;
          width: 100px !important;

          .gantt_delete_btn,
          input {
            // margin-top: 10px;
          }
        }
      }
    }
  }
}

.gantt_tree_icon {
  &.gantt_close {
    position: absolute !important;
    left: 44px !important;
    top: 0px !important;
    margin-left: -14px;
  }
}

.gantt_tree_icon {
  &.gantt_open {
    position: absolute;
    top: 0px;
    left: 44px;
    margin-left: -14px;
  }
}

.gantt_tree_icon {
  &.gantt_folder_closed {
    position: absolute;
  }
}

.gantt_tree_icon {
  &.gantt_folder_open {
    position: absolute;
  }
}

.heygrid {
  .gantt_grid_scale {
    width: 343px !important;
  }
}

.ballinthecourt {
  width: 84px !important;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .selectDD {
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//    }
.ellipsis-content {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  text-overflow: ellipsis !important;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical !important;
}

button:focus {
  outline: none !important;
}

.ng-select-container {
  background-color: transparent !important;
}

.popupVertical {
  text-align: right;
  vertical-align: middle;
  // line-height: 125px;
}

.cus-lookahead-model {
  padding-right: 30px !important;
  padding-top: 30px !important;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.tooltip-inner {
  max-width: 250px !important;
  // p:first-child {
  //    font-weight: 600;
  //    color:#fff;
  // }
  // p{
  margin-bottom: 0px !important;
  color: #ccc;
  text-align: left !important;
  // }
}

[data-column-name="add"] {
  height: 100% !important;
  // margin: 0px !important;
  margin: -1px 4px 0px -5px;

}

.gantt_layout_outer_scroll_vertical {
  &:nth-child(3) {
    border-right: 1px solid lightgray;
  }
}

.ng-option-marked {
  label {
    font-size: 12px !important;
    margin: 0px !important;
  }
}

.report-start-date {
  margin: 8px 0 0 0 !important;
}

.date-picker-style {
  .datepicker.datepicker-dropdown {
    min-width: 14rem;
  }

  .form-control {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAATCAYAAACZZ43PAAAABHNCSVQICAgIfAhkiAAAAitJREFUOI2lkr9r3WUYxT/n+b73G2PJP+CiBXEpFS0aB110Ku2mZFPpICQkECtCTeC6OOQHWQTBpVooXRq4JMSU4uJgS0U0QQkOIgi5piE/jLjEG7nkvqdDb8I3RizBM52X5zmH8zzPK7qYmZk5lXNuAGeKoji/u7v7S29v76ztcymli2VZ/rq3tzdn++n9/f3X6vX6OkAcGNh+DvhW0vs551d6enqeAjYj4lKn03mx1Wo9Y/tnYDSl9PKBTlNTU2eB65Ket/2hpJ+A+a7pJ8BNSfcOguacv4yIr4AV2/UkaRF4sttQq6aSVLN9+P5H/VlJn6aKGOAKsF4Z6x1Jr1bqI5IuVOpPJICc8wvj4+PLnAATExMvRcQ38ejW/0Y6INPT0x8ArwNf296R9IbtO8CWpAHgru1NSQO27+WcZ48Y2D4tqd/2hqQ+oL8rfrzLt4HHgH5JO8cS5Jw/ljQnaavdbv+dUpqv8IWiKLbb7fZeSumLoii2gZ4jBhFxWdKg7YWyLDeAIduLZVmuAcO2b9VqtaakEdu3gY+gcvP/vcSIuNHpdJaAVaBlexlYzTn/JemHiGjmnHcl/RgRzX/bwVsRMWh7QdKGpCHbixGxBgwDtyKiKWkEOBzh0ABYBhqSvpP0p+0G8D3wB9AAlmz/LqnRTXc0wdjY2FXgasXwswr/vMKvwcOfCJBs/xYRb09OTvadZHkR8abt+0nSe8DNiBg9iQGwIundE2qO4wGIGfVHeaJhxwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right 7px bottom 10px;
    cursor: pointer;
    width: 70% !important;
    border: none !important;
    padding: 0.575rem 0px !important;
    margin: 5px 0 0 0 !important;
    font-size: 12px !important;
    position: relative;
    top: 14px;
  }
}

.no-trade {
  font-size: 13px;
  margin-bottom: 4px;
}

.no-specDivision {
  font-size: 13px;
  margin-bottom: 4px;
}

.filter #filterChild .sub-content div {
  display: block !important;
}

.dropdown-font {
  font-family: "LatoMedium" !important;
  font-size: 16px !important;
}

.search-alignment #search {
  margin: auto -30px;
  color: black;
  position: relative;
  bottom: 32px;
  font-size: 20px;
  left: 651px;
}

.search-alignment #searchtext {
  margin-left: 113.5%;
  margin-top: 0%;
  /* height: 129%; */
  height: 38px;
  width: 221px;
  padding-left: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-alignment #searchtext {
  background-image: url("./assets/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 7px;
  padding-left: 34px;
  padding: -18px;
  /* right: 49px; */
  /* background: -39px; */
  left: 45px;
  background-position-x: 10px;
  background-size: 20px;
}

.search-alignment-percent #searchtext {
  margin-left: 113.5%;
  margin-top: 0%;
  /* height: 129%; */
  height: 38px;
  width: 190px;
  padding-left: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-image: url("./assets/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 7px;
  padding-left: 34px;
  padding: -18px;
  /* right: 49px; */
  /* background: -39px; */
  left: 45px;
  background-position-x: 10px;
  background-size: 20px;
}

.sort-in-gantt {
  width: 166px;
  border-color: #ccc;
  height: 37px;
  color: #2f2f29;
  background-color: #ffffff;
  position: relative;
  left: 1%;
}

.disabled-span {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.gantt_grid_head_add {
  &[title="Add task"] {
    right: 10px !important;
  }
}

// .gantt_cell {
//   &[data-column-name="add"] {
//     right: 90px !important;
//   }
// }

gantt_cell {
  &[data-column-id=serialno] {
    &[data-column-name=serialno] {
      #myModel {
        // white-space: nowrap !important;
        // overflow: hidden !important;
        text-overflow: ellipsis !important;
        width: 34px !important;
        white-space: nowrap !important;
        // width: 20% !important;
        // padding: 0 0 0 0px;
      }

    }
  }
}

.gantt_cell {
  &[data-column-name="serialno"] {
    width: 31px !important;
    text-overflow: ellipsis;
    position: relative;
    left: -3px;

    overflow: hidden;
  }
}


.legend-icon {
  width: 24px !important;
  margin-top: 6px;
  margin-right: 15px;
}

.gantt_grid_head_cell {
  &[data-column-id="requiredDate"] {
    margin: 0 0 0 -10px !important;
  }
}

.gantt_last_cell {
  &[data-column-name="requiredDate"] {
    width: 95px !important;
    margin: 0 0 0 15px !important;
    cursor: pointer !important;
  }
}

.hideRequiredDate {
  background: lightgray !important;
  pointer-events: none !important;
}

.warning {
  background-color: #f4c20d !important;
  // background-color: #E8B703 !important;
}

.behind-schedule {
  background-color: #bc2d2d !important;
}

.taskPopup {
  .taskPopup[readonly] {
    background: transparent !important;
  }
}

.legend-toggle-menu {
  margin: 0 72px 0 -40px !important;
}

.popup-datepickers {
  .form-control[readonly1] {
    background: transparent !important;
  }
}

.btn-disabled {
  cursor: not-allowed !important;
  background-color: gray !important;
  pointer-events: none !important;
}

.calendar-popup1 {
  position: absolute;
  top: 10px !important;
  right: 30px !important;
  cursor: pointer;
}

.calendar-popup2 {
  position: absolute;
  top: 10px !important;
  right: 30px !important;
  cursor: pointer;
}

.calendar-popup3 {
  position: absolute;
  top: 10px !important;
  right: 30px !important;
  cursor: pointer;
}

.calendar-popup4 {
  position: absolute;
  top: 10px !important;
  right: 30px !important;
  cursor: pointer;
}

.validate-message {
  margin-left: 15px !important;
  margin-top: 5px !important;
}

.hide-validate-message {
  display: none !important;
}

.validate-message-datepicker {
  margin-left: 15px !important;
  margin-top: 5px !important;
}

.validate-color {
  color: red !important;
  margin: 0px !important;
}

.validate-date-start {
  margin-left: 15px !important;
  margin-top: 5px !important;
}

.hide-date-start {
  display: none !important;
}

// .chosen-select
// {
//   width: 129px;
//     display: inline-block;
//     background: #ccc;
//     margin: 3px 3px -8px 15px;
//     border: 1px solid #9b9999;
//     height: 27px;
//     min-height: 27px;
// }
// .choose-value{
//     width: 90%;
//     float: left;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     padding: 0px 0 0px 5px;
// }
// .close-align{
//     width: 10%;
//     float:right;
//     font-size: 11px;
// }
// code for tags in filter

/*  <span class="chosen-select" *ngFor="let item of checkedValue" style="color: grey ">
                <span class="choose-value">
                    {{item}}
                </span>
                <span class="close-align" style="color : black">X</span>
              </span> */

.input-serach-div {
  position: relative;
  margin: 0px 0px 0px -24px;
}

.input-search-div {
  right: 10px;
}

.search-close {
  position: absolute;
  right: 41px;
  z-index: 999;
  top: 6px;
  cursor: pointer;
}

.date-close {
  font-size: 11px;
  font-weight: 600;
  /* padding: 2px 3px 4px 10px; */
  position: absolute;
  top: 8px;
  right: 57px;
  cursor: pointer;
  font-size: 15px;
}

.task1,
.task2,
.task3,
.task4 {
  display: none !important;
}

.display-block {
  display: block !important;
}

.elipsis-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.elipsis-text:focus {
  text-overflow: clip !important;
}

.arrowicon {
  position: absolute;
  left: 315px;
  top: 10px;
  cursor: pointer;
  height: 25px;
}

.doublearrowicon {
  position: absolute;
  height: 25px;
  left: 288px;
  top: 10px;
  cursor: pointer;
}

.right-arrow {
  height: 25px;
  position: absolute;
  top: 18px;
  left: 6px;
  cursor: pointer;
}

.right-arrow-double {
  height: 25px;
  position: absolute;
  top: 18px;
  left: 28px;
  cursor: pointer;
  // margin: 8px 0 0 0 !important;
}

.report-rotate-date {
  margin: 0px 0px 0px 19px !important;
}

.right-arrow-div {
  position: absolute !important;
  z-index: 1 !important;
  right: 61px;
  bottom: -28px;
}

//   min-width: 150px;
/* ********************** 		
 Style for toggle-slider in plan configuration		
 ************************ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #93db52;
}

input:focus+.slider {
  box-shadow: 0 0 1px #93db52;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.block-display-childcheckbox {
  padding: 0px 0px 0px 28px !important;
}

// footer class in gantt.html
.footer-class {
  margin: 0px 31px 0px 0px;
  padding: 0px 20px 0px 0px;
  position: relative;
  bottom: 32px;
  right: 40px;
}

.unsavedPopup {
  .modal-dialog {
    max-width: 600px;
  }

  .title-alignment {
    display: -webkit-inline-box;
  }

  .warning-msg {
    width: 27px;
    margin-right: 10px;
    margin-top: 2px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .proList {
    padding: 0px 0px 0px 0px !important;
    margin-top: 17px !important;
  }

  // .list-filter-section {
  //   margin-top: 35px !important;
  // }
  .list-row-alignment {
    margin: 0px !important;
  }

  .cus-pagination {
    padding: 0px;
    position: absolute;
    top: -115px;
    width: 60%;
    right: 2%;
  }

  .menu-filter {
    margin-bottom: 0px;
  }

  .grid-list-margin {
    margin-top: 0px;
  }
}

// @media only screen and (min-width: 576px) and (max-width: 1024px) {
//   .app-input-label {
//     text-align: right !important;
//     color: #b4b4b4;
//     font-size: 14px;
//     display: none;
//   }
//   .app-input-label label {
//     margin-top: 8px !important;
//     display: none;
//   }
// }
@media only screen and (min-width: 320px) and (max-width: 576px) {
  .app-input-label {
    text-align: left !important;
    color: #b4b4b4;
    font-size: 14px;
  }

  .panels {
    margin-top: 42px;
  }

  .app-input-label label {
    margin-top: 8px !important;
  }

  .btnDiv {
    .loginRegis {
      background-color: #243d66 !important;
      border-color: #243d66 !important;
      color: #fff !important;
      border-radius: 0 !important;
      cursor: pointer;
      width: 100%;
      font-size: 14px;
      outline: none;
      //margin-left: 29px;
    }

    .grid-list-margin {
      margin-top: 0px;
    }
  }

  .logBUtton {
    width: 212%;
    font-size: 14px;
    outline: none;
    margin-left: -67px;
  }
}

.filter-menu {
  &.dropdown-menu {
    position: absolute !important;
    top: 33px !important;
    left: 69px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

.breadcrumbs-middle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px !important;
}

  
  .breadcrumbs-last {
    width: 25%;
    padding-left: 0px !important;
    white-space: nowrap;

  }

.search-alignment-percent #searchtext {
  top: -3px;
  margin-left: 113.5%;
  margin-top: 0%;
  /* height: 129%; */
  height: 41px;
  width: 190px;
  padding-left: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-image: url("./assets/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: left;
  padding: 7px;
  padding-left: 34px;
  padding: -18px;
  /* right: 49px; */
  /* background: -39px; */
  left: 45px;
  background-position-x: 10px;
  background-size: 20px;
}

.breadcrumbs-middle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 78px !important;
  }
  

  .modal-header .close {
    top :2px;
    padding: 1rem;
    margin: 0rem 0rem 0rem auto !important;
  }

  span.required {
    color: red;
  }
  .editSharePlanBtn {
    justify-content: flex-end;
  }

  .filter-menu.dropdown-menu {
    position: absolute !important;
    top: 70px !important;
    left: 69px !important;
    min-width: 100% !important;
  }

  .filter-menu.dropdown-menu {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0px 0px 15px 16px !important;
    min-width: 10rem;
    /* padding: .5rem 0; */
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}

@media only screen and(min-width: 577px) and (max-width: 767px) {
  .filter-menu.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0px 0px 15px 10px;
    min-width: 10rem;
    /* padding: .5rem 0; */
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .grid-list-margin {
    position: relative;
    margin-left: 4px;
  }

  .page-margin {
    /*    margin: auto;*/
    margin: -10px auto !important;
  }

  .loginRegis {
    background-color: #fff !important;
    border-color: #fff !important;
    color: black !important;
    border-radius: 0px !important;
    cursor: pointer;
    font-size: 14px;
    outline: none;
  }
}

.filter-menu.dropdown-menu {
  position: absolute;
  top: 5px !important;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0px 52px 6px 12px;
  min-width: -30px;
  padding: -0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: -5.75rem;
}

/* style added for date-range-picker */

.datepicker-div {
  .form-group {
    margin: -20px 0px 6px 0px !important;
    width: 111px;
    height: 56px;
  }
}

.md-drppicker {
  width: 503px !important;
}

/* css for filter in effort completion page*/
.selectMultiple {
  .ng-select .ng-select-container {
    height: 38px;
    font-size: 16px;
    font-family: "LatoRegular";
  }
}

.filter_style {
  .multiselect {
    // background-color;
    border: 0px;
    border-radius: 0px;
    background: #ffc107 url("./assets/images/filter.svg") no-repeat 15% 50%;
  }

  .multiselect:focus {
    box-shadow: none;
  }

  .multiselect-container {
    position: absolute;
    transform: translate3d(0px, -170px, 0px);
    top: -1px;
    margin: 6px 0 0 55px;
    border: 1px !important;
    border-radius: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 450px;
    left: 0px;
    z-index: 99;
    background-color: #dadada;
    will-change: transform;
  }

  .li>a>label.checkbox {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .multiselect dropdown-toggle {
    .multiselect-selected-text {
      b .caret {
        background: black;
        width: 29px;
      }
    }
  }

  .dropdown-menu.show {
    display: block;
  }
}

.filter .left-padding a {
  display: block !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 16px !important;
  font-family: LatoRegular;
  background: #f5eded14 !important;
  border: 1px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #989c92;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #989c92;
}

.multiselect-container>li>a>label.checkbox {
  margin: 0;
  padding: 0px 0px 0px 22px;
}

#loadermodel {
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 3rem;
    left: 31px;
    bottom: 5px;
  }


  .modal-dialog {
    position: relative;
    top: 224px;
    width: 255px;
  }

  .modal-content {
    opacity: 0.5;
    background-color: rgb(243, 237, 237);
    color: #150303;
  }
}


@media only screen and (min-width:992px) and (max-width:1200px) {
  .breadcrumbs-middle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 120px !important;
  }
  
    
  .app-input-label {
    margin-left: 13px;
    text-align: left !important;
    color: #b4b4b4;
    font-size: 14px;
  }

  span.required {
    color: red;
  }

  .modal-header .close {
    padding: 1rem;
    margin: 0rem 0rem 0rem auto !important;
  }

  .search-alignment-percent #searchtext {
    top: 4px;
    margin-left: 113.5%;
    margin-top: 0%;
    /* height: 129%; */
    height: 38px;
    width: 170px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-image: url("./assets/images/icons/search.png");
    background-repeat: no-repeat;
    background-position: left;
    /* right: 49px; */
    /* background: -39px; */
    right: 49px;
    background-position-x: 10px;
    background-size: 20px;
  }

  .search-alignment #searchtext {
    background-image: url("./assets/images/icons/search.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 7px;
    padding-left: 34px;
    padding: -18px;
    /* right: 49px; */
    /* background: -39px; */
    left: 45px;
    background-position-x: 10px;
    background-size: 20px;
  }

  .fa-times:before {
    content: "\f00d";
    margin-left: -1.5rem;
    top: 7px;
    position: relative;
  }
  .dropdown {
    position: relative;
    left: 260px !important;
    top: 6px !important;

  }
  .clear_filter {
    background-color: blue !important;
  }

  // .cus-print-btn img {
  //   margin-top: 13px;
  //   margin-left: -14px;
  // }
}