.action a {
  font-size: 14px;
}

.listHeader {
  // border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 112px;
  background: #fff;
  z-index: 99;
  margin: 0px auto;
  right: 0px;
  padding: 0px;
  height: 53px;

  hr {
    margin: 7px 0 0 0 !important;
  }
}

.deleteList {
  pointer-events: none;
  text-decoration: none;
  color: black;
  cursor: not-allowed;
}

.tableTitle {
  font-size: 20px;
  padding: 10px 0 6px 57px;
  //padding-left: 0px;
}

.btns {
  padding: 0px !important;
}

.delBtn {
  font-size: 24px;
  color: #707070;
  outline: none;
  //<<<<<<< HEAD
  margin: 7px 20px 0 0;
  // =======
  //margin: 5px 20px;
  // >>>>>>> license
  cursor: pointer;
}

.button-operation {
  padding: 0px;
  margin-top: -2px;
}

.addProjectBtn {
  //margin: 0 -4px;
  border: none;
  background-color: #243d66;
  color: #fff;
  font-size: 14px;
  //height: 31px;
  //width: 105px;
  padding: 3px 12px;
  cursor: pointer;
  margin: 13px 0px 0 0 !important;
}

.modal-title {
  color: #243d66;
  font-family: "LatoRegular";
}

.msgContent {
  color: #707070;
}

.msgBtn {
  background-color: #243d66 !important;
  border-color: #243d66 !important;
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
  outline: none !important;
}

//.listHeader .backBtn{
//margin: -5px 0px 5px -70px !important;
//}

.backBtn {
  margin-top: 9px !important;
  padding-left: 31px;
}

.breadcrumbs {
  margin-left: 19% !important;
}

.breadcrumb li:focus {
  outline: none !important;
}

.operationBtn {
  float: left;
}

.save-btn {
  margin-top: 7.5px;
}

.breadcrumb {
  padding: 0px;
  margin: 0px;
  background-color: transparent !important;
  font-family: LatoSemiBold;
  text-transform: capitalize;
}

.breadcrumb {
  li {
    outline: none;
    border: 0px;
  }

  li:hover {
    outline: none;
    border: 0px;
  }
}

.breadcrumb li:first-child {
  cursor: pointer;
  outline: none;
  //color: #243d66;
}

.breadcrumbs-first:after {
  padding: 3px;
  color: black;
  content: ">";
}

.breadcrumbs-middle:after {
  padding: 8px;
  color: black;
  // content: ">";
}

.operation-btn-module-part {
  right: 60px;
  top: 2px;
  padding: 0px;
}

.popup-btn-margin {
  margin: 25px auto;
}

.first-btn {
  margin-top: 7px;
  padding-left: 20px;
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb {
    padding: 0px;
    margin-left: 100px;
    background-color: transparent !important;
    font-family: LatoSemiBold;
    text-transform: capitalize;
  }

  .tableTitle {
    font-size: 18px;
    position: relative;
    right: 117px;
    padding-top: 17px;
    top: 6px;

  }

  .listHeader {
    // border-bottom: 1px solid #eaeaea;
    position: fixed;
    top: 100px;
    background: #fff;
    z-index: 99;
    margin: 0px auto;
    right: 0px;
    padding: 0px;
    height: 53px;

    hr {
      margin: 7px 0 0 0 !important;
    }
  }


  .operation-btn-module-part {
    right: 23px;
    position: absolute;
    top: 8px;
    padding: 0px;
  }
}

.dropdown-button {
  font-size: 12px;
  color: #f4f4f7;
  background: #243d66 !important;
  border-radius: 0px;
}

@media only screen and(max-width:576px) {
  .breadcrumb {
    padding: 0px;
    margin-left: 100px;
    background-color: transparent !important;
    font-family: LatoSemiBold;
    text-transform: capitalize;
  }

  .listHeader {
    // border-bottom: 1px solid #eaeaea;
    position: fixed;
    top: 98px;
    background: #fff;
    z-index: 99;
    margin: 0px auto;
    right: 0px;
    padding: 0px;
    height: 53px;

    hr {
      margin: 7px 0 0 0 !important;
    }
  }

  .operation-btn-module-part {
    right: 23px;
    position: absolute;
    top: 3px;
    padding: 0px;
  }

  .tableTitle {
    font-size: 15px;

    position: relative;
    /* left: 0pc; */
    right: 65px;
    padding: 11px 0 4px 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
  .tableTitle {
    font-size: 20px;
    padding: 10px 0 6px 44px !important;
  }

  .addProjectBtn {
    //margin: 0 -4px;
    border: none;
    background-color: #243d66;
    color: #fff;
    font-size: 14px;
    position: relative;
    display: flex;
    //height: 31px;
    //width: 105px;
    padding: 3px 12px;
    cursor: pointer;
    margin: 13px 0px 0 0 !important;
  }

  .operation-btn-module-part {
    position: absolute;
    right: 33px;
    top: 0px;
    padding: 0px;
    right: 45px;
    justify-content: flex-end;

  }

}

@media only screen and (max-width:576px) {
  .addProjectBtn {
    //margin: 0 -4px;
    border: none;
    background-color: #243d66;
    color: #fff;
    font-size: 14px;
    //height: 31px;
    //width: 105px;
    padding: 3px 12px;
    cursor: pointer;
    margin: 5px 0px 0 0 !important;
  }

  .delBtn {
    font-size: 24px;
    color: #707070;
    outline: none;
    //<<<<<<< HEAD
    margin: -1px 20px 0 0;
    // =======
    //margin: 5px 20px;
    // >>>>>>> license
    cursor: pointer;
  }
}


/* Large devices response done by lakshmanan (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1200px) {
  .modelPanel {
    margin-left: -17px;
    padding-left: 7px !important;
  }

  .savePopup {
    left: 2.8rem;
    max-width: 84%;

  }

  .listHeader {
    // border-bottom: 1px solid #eaeaea;
    position: fixed;
    top: 110px;
    background: #fff;
    z-index: 99;
    margin: 0px auto;
    right: 0px;
    padding: 0px;
    height: 53px;

    hr {
      margin: 7px 0 0 0 !important;
    }
  }

  .operation-btn-module-part {
    right: 32px;
    top: 2px;
    padding: 0px;
    // right: 45px;
    justify-content: flex-end;

  }

}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid_alignment{
    width: 130% !important;
    // right: 0.9rem;
  }
  .col-md-4 {
    max-width: 32.333333% !important;
  }
  .col-md-3 {
    max-width: 25% !important;
  }

  .tableTitle {
    font-size: 18px;
    padding: 10px 0 6px 44px !important;
  }

  .breadcrumb-projectName {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0px !important;
    white-space: nowrap;
    // width: 22% !important;
  }

  .modelPanel {
    right: 0.9rem;
  }

  .savePopup {
    left: 2.8rem;
    max-width: 83%;

  }
}