<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 listHeader">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 tableTitle" [ngClass]="{'col-md-8' : router.url == '/authenticate/edit/project-company' || '/authenticate/edit/plan' || '/authenticate/edit/company','col-md-9': router.url.match('/authenticate/edit/user-permission')}">
          <!-- , 'col-md-8' : router.url.match('/authenticate/edit/company' -->
          <ul class="breadcrumb">
            <!-- {{pageData | json}} -->
            <li [class.breadcrumbs-first]="router.url.match('/authenticate/edit') || router.url.match('/authenticate/create')"
              (click)="goRoute()">{{pageData?pageData.pageName:""}}</li>
            <li class="breadcrumb-projectName" [class.breadcrumbs-middle]="router.url.match('/authenticate/edit')" *ngIf="router.url.match('/authenticate/edit') && projectName"
              title="{{projectName}}" style="cursor:pointer;"(click)="gotoRoute()">{{projectName}}</li>
            <li style="padding: 0 3px 0 3px;" [class.breadcrumbs-middle]="router.url.match('/authenticate/edit')" *ngIf="router.url.match('/authenticate/edit') && projectName">></li>
            <li class="breadcrumbs-last">{{pageData ? pageData.editPage:"Edit"}}</li>
          </ul>
        </div>
        <!--
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex  justify-content-start align-items-center">
            <ul class="list-unstyled d-flex m-0">
                <li [class.breadcrumbs-first]="router.url.match('/authenticate/edit') || router.url.match('/authenticate/create')" (click)="goRoute()">{{pageData?pageData.pageName:""}}</li>
                <li class="breadcrumb-projectName" [class.breadcrumbs-middle]="router.url.match('/authenticate/edit')" *ngIf="router.url.match('/authenticate/edit') && projectName" title="{{projectName}}" style="cursor:pointer;"(click)="goBack()">{{projectName}}</li>
                <li style="padding: 0 3px 0 8px;" [class.breadcrumbs-middle]="router.url.match('/authenticate/edit')" *ngIf="router.url.match('/authenticate/edit') && projectName">></li>
                <li class="breadcrumbs-last">{{pageData?pageData.editPage:""}}</li>
            </ul>
        </div>
        -->
        <div *ngIf="pageData" id="add" class="col-lg-6 col-md-6 col-sm-6 col-5 operation-btn-module-part" [ngClass]="{'col-md-4' : router.url == '/authenticate/edit/project-company' , 'col-md-3': router.url.match('/authenticate/edit/user-permission'),'col-md-4' : router.url.match('/authenticate/edit/company')}">
  
          <!-- {{loginDetails | json }}   id -->
          <div class="text-right">
            <span *ngIf="loginDetails && (loginDetails.trial || loginDetails.licenseAvailable)" class="pull-right">
              <span *ngIf="pageData && pageData.tools.delete" class="delBtn operationBtn" [ngClass]="{'deleteList':!deleteData.length}"
                data-toggle="modal" data-target="#myModal1">
                <i title="delete"> <img title="delete" src="assets/images/delete.png"></i>
              </span>
              <button *ngIf="pageData && pageData.tools.new.operation" type="submit" class="addProjectBtn" (click)="routeToPage(pageData.tools.new)">{{pageData.tools.new.buttonText}}</button>
            </span>
          </div>
          <ng-template #licenseBtn>
            <span class="pull-right">
              <span *ngIf="pageData && pageData.tools.delete" class="delBtn operationBtn" [ngClass]="{'deleteList':!deleteData.length}"
                data-toggle="modal" data-target="#myModal1">
                <img src="assets/images/delete.png">
              </span>
              <button *ngIf="pageData && pageData.tools.new.operation" type="submit" class="addProjectBtn" (click)="routeToPage(pageData.tools.new)">{{pageData.tools.new.buttonText}}</button>
            </span>
          </ng-template>
  
          <div *ngIf="pageData.tools.ComponentItem && pageData.tools.ComponentItem.length > 0 && actionButton ; else actionButton1" class="dropdown">
            <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">Action
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <div *ngFor="let item of pageData.tools.ComponentItem; let i = index" class="first-btn pull-right">
                  
                  <app-button [panelData]="pageData" [buttonData]="item" [form]="form"></app-button>
  
                </div>
              </li>
            </ul>
  
          </div>
  
          <ng-template #actionButton1>
              <div *ngFor="let item of pageData.tools.ComponentItem; let i = index" class="first-btn pull-right">
                  
                  <app-button [panelData]="pageData" [buttonData]="item" [form]="form"></app-button>
  
                </div>
          </ng-template>
        </div>
      </div>
      <hr>
    </div>
  </div>
  
  
  <!-- >>>>>>> license -->
  <!-- delete confirmation message-->
  
  <div class="modal fade" id="myModal1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p class="msgContent">Do you really want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger msgBtn" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="deleteListData()" class="btn btn-success msgBtn" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="createModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="pageData" class="modal-title text-center">{{pageData.tools.new.buttonText?pageData.tools.new.buttonText:''}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
            <div *ngIf="!panels; else elseTableBlock">
              <app-loader></app-loader>
            </div>
            <ng-template #elseTableBlock>
              <div class="row">
                <div *ngIf="panels" class="col-lg-12">
                  <div class="row col-lg-4  btnDiv"></div>
                  <div *ngFor="let item of panels" class="col-md-12 modelPanel">
                    <div *ngIf="item.type == 'simple'">
                      <div *ngFor="let formItem of item.items" [class.displayInput]="formItem.fieldType == 'hidden'"
                        class="grid_alignment" style="padding: 10px 0px;">
                        <app-input-textbox class="description-focus" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                          [hidden]="formItem.fieldType == 'hidden'" [inputData]="formItem" [pageData]="panelData" [form]="form"
                          (notifyInput)="onhandleUserUpdated($event)" autofocus>
                        </app-input-textbox>
                        <app-input-selectbox *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                          [selectData]="formItem" [pageData]="panelData" [form]="form" (notifySelect)="onhandleUserUpdated($event)">
                        </app-input-selectbox>
                        <app-datepicker *ngIf="formItem.htmlTag == 'datepicker'" [datePickerData]="formItem" [form]="form"
                          (notifyInput)="onhandleUserUpdated($event)">
                        </app-datepicker>
                        <app-input-ngselect *ngIf="formItem.htmlTag == 'combobox'" [inputData]="formItem" [form]="form"
                          [pageData]="panelData"></app-input-ngselect>
                        <app-input-nginput *ngIf="formItem.htmlTag == 'ngautoinput'" [inputData]="formItem" [form]="form"
                          [pageData]="panels"></app-input-nginput>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 popup-btn-margin">
  
  
  
                    <div class="row">
                      <div class="col-lg-12 text-right savePopup" *ngFor="let item of operation.ComponentItem">
                        <app-button [panelData]="pageDatapopup" [buttonData]="item" [form]="form"></app-button>
                      </div>
                    </div>
  
  
  
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- <<<<<<< HEAD
          <button *ngIf="pageData && pageData.tools.new" type="submit" class="addProjectBtn" (click)="goFocus()" [routerLink]="['/authenticate/create']">Add new project</button>
        </span>
        <div *ngFor="let item of pageData.tools.ComponentItem" class="pull-right save-btn">
          <div class="col-lg-12 button-operation">
          <app-button  [panelData]="pageData" [buttonData]="item" [form]="form"></app-button>
        </div>
        </div> -->
  <!-- <span *ngIf="pageData && pageData.tools.delete && getOperationPrivileges('delete')" [ngClass]="{'deleteList':!deleteData.length}" class="operationBtn">
          <a [routerLink]="['/authenticate/list/'+ id]" data-toggle="modal" data-target="#myModal1">Delete</a>
        </span> -->
  <!-- </ng-template>
    </div>
  </div>
  <hr>
  </div>
  </div>
  ======= -->