.grid_alignment {
    padding: 10px 0px 10px 0px;
}

.app-card-body {
    color: #000 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    padding-left: 13px !important;
}

.btn-margin {
    margin-top: -5px;
}

.app-btn {
    padding: 0px 15px !important;
}

.app-row {
    margin-right: 0px !important;
}

.btnDiv {
    margin: 0% 12% !important;
}

//<<<<<<< HEAD
.panels {
    margin: 63px 0 0 6px;
}

//=======
.displayInput {
    padding: 0px !important;
    //>>>>>>> license
}

@media only screen and (max-width:576px) {
    .panels {
        margin: 63px 0 0 -45px !important;
    }

    .grid_alignment {
        padding: 0px 0px 0px 0px;
    }
}

/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .planPage {
        right: 2.5rem;
        margin-left: 4px !important;
        max-width: 90%;
    }

    .projectCompany {
        right: 2.5rem;
        // right: 16px;
        margin-top: 5px;
        margin-left: 20px;
        max-width: 90%;
    }

    .editUser {
        right: 2.5rem;
        margin-top: 5px;
        margin-left: 20px;
        max-width: 90%;
    }

    .create_component_alignment {
        right: 0rem;
    }

    .create_input_alignment {
        margin-left: 20px;
        max-width: 90%;

    }

    .create_input_alignment1 {
        margin-left: 0.5rem;
        left: 1rem;
        max-width: 100%;
    }

    .panels {
        max-width: 100%;
        margin: 63px 0 0 6px;
    }

    .grid_alignment {
        padding: 0px 0px 10px 0px !important;
        margin-left: 0px !important;
        margin-bottom: 10px;

        .datepickerClass {}
    }
}


/** Tab responsive done by lakshmanan**/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .row .grid_alignment {
        width: 116% !important;
    }

    .projectCompany {
        right: 2.5rem;
        // right: 16px;
        margin-top: 2rem;
        margin-left: 20px;
        max-width: 90%;
    }

    .editUser {
        top: 2rem;
        right: 2.5rem;
        margin-top: 5px;
        margin-left: 20px;
        max-width: 100%;
    }

    .col-lg-10 {
        width: 99% !important;
    }

    .grid_alignment {
        margin-bottom: 10px;
    }

    .create_input_alignment1 {
        margin-left: 0.5rem;
        right: 3rem;
        max-width: 100%;
    }

    .page-margin {
        margin: auto;
        right: 0px !important;
        margin: 0px auto !important;
    }

    .editPlan {
        top: 2.5rem;
        margin: auto;
        right: 1.1rem !important;
        margin: 0px auto !important;
    }

    .userPermission {
        top: 2.5rem;
        margin: auto;
        right: 1.1rem !important;
        margin: 0px auto !important;
    }

    .editCompany {
        top: 2.5rem;
        margin: auto;
        right: 1.1rem !important;
        margin: 0px auto !important;
    }

    .panels {
        max-width: 100%;
        margin: 21px 0 0 6px;
    }
}