<form [formGroup]="form" *ngIf="panels" autocomplete="off" class="">
  <div *ngIf="!panels; else elseTableBlock">
    <app-loader></app-loader>
  </div>
  <ng-template #elseTableBlock>
    <div class="">
      <div *ngIf="panels" class="">
        <div class="col-lg-10 panels">
          <app-operation (addDetails)="add($event)" [pageData]="operation" [form]=form></app-operation>
          <div class="col-lg-12 row page-margin create_component_alignment" [ngClass]="{'editCompany': router.url == '/authenticate/edit/company','editPlan': router.url == '/authenticate/edit/plan', 'userPermission': router.url == '/authenticate/edit/user-permission'}">
            <div *ngFor="let item of panels" class="col-md-12 create_input_alignment" [ngClass]="{'create_input_alignment1' : router.url == '/authenticate/edit/project/details', 'editUser': routepage == 'project-user', 'projectCompany': router.url == '/authenticate/edit/project-company' ,'planPage': router.url == ' /authenticate/edit/user-permission' || 'user-permission'}">
              <div *ngIf="item.type == 'simple'">
                <div class="subPanel">
                  <h2></h2>
                </div>
                <div *ngFor="let formItem of item.items" [class.displayInput]="formItem.fieldType == 'hidden'" class="row grid_alignment"
                  style="padding: 5px 0px">
                  <app-input-textbox class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="formItem.htmlTag == 'input' && formItem.componentType != 'twinData'"
                    [inputData]="formItem" [pageData]="panelData" [hidden]="formItem.fieldType == 'hidden'" [form]="form"
                    (notifyInput)="onhandleUserUpdated($event)">
                  </app-input-textbox>

                  <app-input-selectbox class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="formItem.htmlTag == 'select' && formItem.componentType != 'twinData'"
                    [selectData]="formItem" [pageData]="panelData" [form]="form" (notifySelect)="onhandleUserUpdated($event)">
                  </app-input-selectbox>

                  <app-datepicker class="col-lg-12 col-12 col-sm-12 col-md-12 datepickerClass" *ngIf="formItem.htmlTag == 'datepicker'" [datePickerData]="formItem"
                    [form]="form" (notifyInput)="onhandleUserUpdated($event)">
                  </app-datepicker>

                  <app-input-nginput class="col-lg-12 col-sm-12 col-md-12 col-12" *ngIf="formItem.htmlTag == 'ngautoinput'" [inputData]="formItem"
                    [form]="form" [pageData]="panels"></app-input-nginput>
                   
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>








